{% set product = global.common.productInfo.product %}

{% set showOnlyInFirstPurchaseStep = safe_get(properties.show_only_on_first_purchase_step, true) %}

{% set localClass = [globalClass, '-', id] | join %}

<div class="{{ globalClass }} {{ localClass }}">
  {% render_snippet
    'Product: Variants',
    product=product,
    properties=properties,
    currency=product.currency
  %}
</div>

<script type='application/javascript'>
  $(document).on('SellixPurchaseDetailsChangeStep', function(event, eventInfo) {
    if ({{ showOnlyInFirstPurchaseStep }}) {
      if (eventInfo && eventInfo.step === 0) {
        $('.{{ localClass }}').removeClass('d-none');
      } else {
        $('.{{ localClass }}').addClass('d-none');
      }
    }
  });
</script>
