<style>
  .circle {
    top: 45%;
    left: 45%;
    background: radial-gradient(170px 170px at 50% 50%, var(--brandColor), rgb(17, 20, 16) 80%) rgb(17, 20, 16);
    height: 200px;
    width: 200px;
    position: fixed;
    filter: blur(117px);
    z-index: 0;
    transition: transform .1s ease;
    opacity: 0.65;
  }
</style>

<div id="circle" class="circle"></div>

<script src='https://unpkg.com/kinet@2.2.1/dist/kinet.min.js'></script>
<script type='application/javascript'>
  var kinet = new Kinet({
    acceleration: 0.06,
    friction: 0.20,
    names: ["x", "y"]
  });

  var circle = document.getElementById('circle');
  kinet.on('tick', function (instances) {
    circle.style.transform = `translate3d(${
      (instances.x.current)
    }px, ${
      (instances.y.current)
    }px, 0) rotateX(${
      (instances.x.velocity / 2)
    }deg) rotateY(${
      (instances.y.velocity / 2)
    }deg)`;
  });
  
  document.addEventListener('mousemove', function (event) {
    kinet.animate('x', event.clientX - window.innerWidth / 2);
    kinet.animate('y', event.clientY - window.innerHeight / 2);
  });
</script>