<svg xmlns="http://www.w3.org/2000/svg" width="44" height="8" viewBox="0 0 44 8" fill="none">
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M25 4.5L0 4.5L-4.37114e-08 3.5L25 3.5L25 4.5Z"
    fill="var(--brandColor)"/>
  <rect x="28" y="7.5" width="7" height="7" transform="rotate(-90 28 7.5)" fill="var(--brandColor)"/>
  <rect x="37.5" y="7" width="6" height="6" transform="rotate(-90 37.5 7)" stroke="var(--brandColor)"/>
  <defs>
    <linearGradient id="paint0_linear_1_1594" x1="25" y1="3.88172" x2="24.994" y2="3.33146" gradientUnits="userSpaceOnUse">
      <stop stop-color="currentColor"/>
      <stop offset="1" stop-color="currentColor"/>
    </linearGradient>
    <linearGradient
      id="paint1_linear_1_1594"
      x1="32.328"
      y1="14.5"
      x2="35.9116"
      y2="13.5188"
      gradientUnits="userSpaceOnUse">
      <stop stop-color="currentColor"/>
      <stop offset="1" stop-color="currentColor"/>
    </linearGradient>
    <linearGradient
      id="paint2_linear_1_1594"
      x1="41.328"
      y1="14.5"
      x2="44.9116"
      y2="13.5188"
      gradientUnits="userSpaceOnUse">
      <stop stop-color="currentColor"/>
      <stop offset="1" stop-color="currentColor"/>
    </linearGradient>
  </defs>
</svg>