<div class="sellix-delivery-screen">
  {% for section in settings.section_order %}
    {% render_section section %}
  {% endfor %}
</div>

<script src="https://cdn-theme.mysellix.io/external-packages/jquery.validate.min.js"></script>
