<style>
.sellix-widget-gateway--container .gateway-list-item {
  background: var(--white)!important;
  border-color: var(--borderColor);
}
.is-dark .sellix-widget-gateway--container .gateway-list-item {
  border-color: var(--black6);
}
</style>

{% for section in settings.section_order %}
  {% render_section section %}
{% endfor %}
