<svg
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:ns1="http://sozi.baierouge.fr"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    id="svg2"
    sodipodi:docname="arrow.svg"
    viewBox="0 0 492 779"
    version="1.1"
    inkscape:version="0.48+devel r"
  >
  <sodipodi:namedview
      id="base"
      fit-margin-left="0"
      inkscape:showpageshadow="false"
      inkscape:zoom="0.35355339"
      height="0px"
      borderopacity="1.0"
      inkscape:current-layer="layer2"
      inkscape:cx="286.49208"
      inkscape:cy="272.60644"
      inkscape:object-paths="true"
      fit-margin-right="0"
      inkscape:window-maximized="1"
      inkscape:snap-bbox="true"
      showgrid="false"
      width="0px"
      inkscape:document-units="px"
      bordercolor="#666666"
      inkscape:window-x="66"
      inkscape:window-y="24"
      fit-margin-bottom="0"
      inkscape:window-width="1300"
      inkscape:pageopacity="0.0"
      inkscape:pageshadow="2"
      pagecolor="#ffffff"
      inkscape:bbox-paths="true"
      inkscape:bbox-nodes="true"
      inkscape:window-height="744"
      showborder="false"
      fit-margin-top="0"
  />
  <g
      id="layer2"
      inkscape:label="Layer"
      inkscape:groupmode="layer"
      transform="translate(-555.19 -353.77)"
    >
    <g
        id="g58"
      >
      <rect
          id="rect3134"
          style="fill:#000000"
          height="41"
          width="41"
          y="394.77"
          x="596.19"
      />
      <rect
          id="rect3136"
          style="fill:#000000"
          height="41"
          width="41"
          y="435.77"
          x="637.19"
      />
      <rect
          id="rect3138"
          style="fill:#000000"
          height="41"
          width="41"
          y="476.77"
          x="678.19"
      />
      <rect
          id="rect3140"
          style="fill:#000000"
          height="41"
          width="41"
          y="517.77"
          x="719.19"
      />
      <rect
          id="rect3142"
          style="fill:#000000"
          height="41"
          width="41"
          y="558.77"
          x="760.19"
      />
      <rect
          id="rect3144"
          style="fill:#000000"
          height="41"
          width="41"
          y="599.77"
          x="801.19"
      />
      <rect
          id="rect3146"
          style="fill:#000000"
          height="41"
          width="41"
          y="640.77"
          x="842.19"
      />
      <rect
          id="rect3148"
          style="fill:#000000"
          height="41"
          width="41"
          y="681.77"
          x="883.19"
      />
      <rect
          id="rect3150"
          style="fill:#000000"
          height="41"
          width="41"
          y="722.77"
          x="924.19"
      />
      <rect
          id="rect3152"
          style="fill:#000000"
          height="41"
          width="41"
          y="763.77"
          x="965.19"
      />
      <rect
          id="rect3154"
          style="fill:#000000"
          height="41"
          width="41"
          y="804.77"
          x="1006.2"
      />
      <rect
          id="rect3156"
          style="fill:#000000"
          height="41"
          width="41"
          y="845.77"
          x="1006.2"
      />
      <rect
          id="rect3158"
          style="fill:#000000"
          height="41"
          width="41"
          y="845.77"
          x="965.19"
      />
      <rect
          id="rect3160"
          style="fill:#000000"
          height="41"
          width="41"
          y="845.77"
          x="924.19"
      />
      <rect
          id="rect3162"
          style="fill:#000000"
          height="41"
          width="41"
          y="845.77"
          x="883.19"
      />
      <rect
          id="rect3164"
          style="fill:#000000"
          height="41"
          width="41"
          y="845.77"
          x="842.19"
      />
      <rect
          id="rect3166"
          style="fill:#000000"
          height="41"
          width="41"
          y="886.77"
          x="842.19"
      />
      <rect
          id="rect3168"
          style="fill:#000000"
          height="41"
          width="41"
          y="927.77"
          x="883.19"
      />
      <rect
          id="rect3170"
          style="fill:#000000"
          height="41"
          width="41"
          y="968.77"
          x="883.19"
      />
      <rect
          id="rect3172"
          style="fill:#000000"
          height="41"
          width="41"
          y="1009.8"
          x="924.19"
      />
      <rect
          id="rect3174"
          style="fill:#000000"
          height="41"
          width="41"
          y="1050.8"
          x="924.19"
      />
      <rect
          id="rect3176"
          style="fill:#000000"
          height="41"
          width="41"
          y="1091.8"
          x="883.19"
      />
      <rect
          id="rect3178"
          style="fill:#000000"
          height="41"
          width="41"
          y="1091.8"
          x="842.19"
      />
      <rect
          id="rect3180"
          style="fill:#000000"
          height="41"
          width="41"
          y="1050.8"
          x="801.19"
      />
      <rect
          id="rect3182"
          style="fill:#000000"
          height="41"
          width="41"
          y="1009.8"
          x="801.19"
      />
      <rect
          id="rect3184"
          style="fill:#000000"
          height="41"
          width="41"
          y="968.77"
          x="760.19"
      />
      <rect
          id="rect3186"
          style="fill:#000000"
          height="41"
          width="41"
          y="927.77"
          x="760.19"
      />
      <rect
          id="rect3188"
          style="fill:#000000"
          height="41"
          width="41"
          y="886.77"
          x="719.19"
      />
      <rect
          id="rect3190"
          style="fill:#000000"
          height="41"
          width="41"
          y="927.77"
          x="678.19"
      />
      <rect
          id="rect3192"
          style="fill:#000000"
          height="41"
          width="41"
          y="968.77"
          x="637.19"
      />
      <rect
          id="rect3194"
          style="fill:#000000"
          height="41"
          width="41"
          y="1009.8"
          x="596.19"
      />
      <rect
          id="rect3196"
          style="fill:#000000"
          height="41"
          width="41"
          y="1009.8"
          x="555.19"
      />
      <rect
          id="rect3198"
          style="fill:#000000"
          height="41"
          width="41"
          y="968.77"
          x="555.19"
      />
      <rect
          id="rect3200"
          style="fill:#000000"
          height="41"
          width="41"
          y="927.77"
          x="555.19"
      />
      <rect
          id="rect3202"
          style="fill:#000000"
          height="41"
          width="41"
          y="886.77"
          x="555.19"
      />
      <rect
          id="rect3204"
          style="fill:#000000"
          height="41"
          width="41"
          y="845.77"
          x="555.19"
      />
      <rect
          id="rect3206"
          style="fill:#000000"
          height="41"
          width="41"
          y="804.77"
          x="555.19"
      />
      <rect
          id="rect3208"
          style="fill:#000000"
          height="41"
          width="41"
          y="763.77"
          x="555.19"
      />
      <rect
          id="rect3210"
          style="fill:#000000"
          height="41"
          width="41"
          y="722.77"
          x="555.19"
      />
      <rect
          id="rect3212"
          style="fill:#000000"
          height="41"
          width="41"
          y="681.77"
          x="555.19"
      />
      <rect
          id="rect3214"
          style="fill:#000000"
          height="41"
          width="41"
          y="640.77"
          x="555.19"
      />
      <rect
          id="rect3216"
          style="fill:#000000"
          height="41"
          width="41"
          y="599.77"
          x="555.19"
      />
      <rect
          id="rect3218"
          style="fill:#000000"
          height="41"
          width="41"
          y="558.77"
          x="555.19"
      />
      <rect
          id="rect3220"
          style="fill:#000000"
          height="41"
          width="41"
          y="517.77"
          x="555.19"
      />
      <rect
          id="rect3222"
          style="fill:#000000"
          height="41"
          width="41"
          y="476.77"
          x="555.19"
      />
      <rect
          id="rect3224"
          style="fill:#000000"
          height="41"
          width="41"
          y="435.77"
          x="555.19"
      />
      <rect
          id="rect3226"
          style="fill:#000000"
          height="41"
          width="41"
          y="394.77"
          x="555.19"
      />
      <rect
          id="rect3228"
          style="fill:#000000"
          height="41"
          width="41"
          y="353.77"
          x="555.19"
      />
    </g
    >
    <rect
        id="rect56"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="435.77"
        x="596.19"
    />
    <rect
        id="rect108"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="476.77"
        x="637.19"
    />
    <rect
        id="rect110"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="476.77"
        x="596.19"
    />
    <rect
        id="rect112"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="517.77"
        x="596.19"
    />
    <rect
        id="rect114"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="517.77"
        x="637.19"
    />
    <rect
        id="rect116"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="517.77"
        x="678.19"
    />
    <rect
        id="rect118"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="558.77"
        x="596.19"
    />
    <rect
        id="rect120"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="558.77"
        x="637.19"
    />
    <rect
        id="rect122"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="558.77"
        x="678.19"
    />
    <rect
        id="rect124"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="558.77"
        x="719.19"
    />
    <rect
        id="rect126"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="968.77"
        x="596.19"
    />
    <rect
        id="rect128"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="927.77"
        x="596.19"
    />
    <rect
        id="rect130"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="927.77"
        x="637.19"
    />
    <rect
        id="rect132"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="927.77"
        x="801.19"
    />
    <rect
        id="rect134"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="968.77"
        x="842.19"
    />
    <rect
        id="rect136"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="968.77"
        x="801.19"
    />
    <rect
        id="rect138"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="927.77"
        x="842.19"
    />
    <rect
        id="rect140"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="1009.8"
        x="842.19"
    />
    <rect
        id="rect142"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="1009.8"
        x="883.19"
    />
    <rect
        id="rect144"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="1050.8"
        x="842.19"
    />
    <rect
        id="rect146"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="1050.8"
        x="883.19"
    />
    <rect
        id="rect148"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="886.77"
        x="760.19"
    />
    <rect
        id="rect150"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="886.77"
        x="801.19"
    />
    <rect
        id="rect152"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="886.77"
        x="678.19"
    />
    <rect
        id="rect154"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="886.77"
        x="637.19"
    />
    <rect
        id="rect156"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="886.77"
        x="596.19"
    />
    <rect
        id="rect158"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="845.77"
        x="596.19"
    />
    <rect
        id="rect160"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="845.77"
        x="637.19"
    />
    <rect
        id="rect162"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="845.77"
        x="678.19"
    />
    <rect
        id="rect164"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="845.77"
        x="719.19"
    />
    <rect
        id="rect166"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="845.77"
        x="760.19"
    />
    <rect
        id="rect168"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="845.77"
        x="801.19"
    />
    <rect
        id="rect170"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="965.19"
    />
    <rect
        id="rect172"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="924.19"
    />
    <rect
        id="rect174"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="883.19"
    />
    <rect
        id="rect176"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="842.19"
    />
    <rect
        id="rect178"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="801.19"
    />
    <rect
        id="rect180"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="760.19"
    />
    <rect
        id="rect182"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="719.19"
    />
    <rect
        id="rect184"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="678.19"
    />
    <rect
        id="rect186"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="637.19"
    />
    <rect
        id="rect188"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="804.77"
        x="596.19"
    />
    <rect
        id="rect190"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="596.19"
    />
    <rect
        id="rect192"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="637.19"
    />
    <rect
        id="rect194"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="596.19"
    />
    <rect
        id="rect196"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="681.77"
        x="596.19"
    />
    <rect
        id="rect198"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="637.19"
    />
    <rect
        id="rect200"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="678.19"
    />
    <rect
        id="rect202"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="719.19"
    />
    <rect
        id="rect204"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="678.19"
    />
    <rect
        id="rect206"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="681.77"
        x="637.19"
    />
    <rect
        id="rect208"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="640.77"
        x="596.19"
    />
    <rect
        id="rect210"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="599.77"
        x="596.19"
    />
    <rect
        id="rect212"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="640.77"
        x="637.19"
    />
    <rect
        id="rect214"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="681.77"
        x="678.19"
    />
    <rect
        id="rect216"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="719.19"
    />
    <rect
        id="rect218"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="760.19"
    />
    <rect
        id="rect220"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="599.77"
        x="637.19"
    />
    <rect
        id="rect222"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="640.77"
        x="678.19"
    />
    <rect
        id="rect224"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="681.77"
        x="719.19"
    />
    <rect
        id="rect226"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="760.19"
    />
    <rect
        id="rect228"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="801.19"
    />
    <rect
        id="rect230"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="842.19"
    />
    <rect
        id="rect232"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="883.19"
    />
    <rect
        id="rect234"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="763.77"
        x="924.19"
    />
    <rect
        id="rect236"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="883.19"
    />
    <rect
        id="rect238"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="681.77"
        x="842.19"
    />
    <rect
        id="rect240"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="640.77"
        x="801.19"
    />
    <rect
        id="rect242"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="599.77"
        x="760.19"
    />
    <rect
        id="rect244"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="599.77"
        x="719.19"
    />
    <rect
        id="rect246"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="640.77"
        x="760.19"
    />
    <rect
        id="rect248"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="681.77"
        x="801.19"
    />
    <rect
        id="rect250"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="842.19"
    />
    <rect
        id="rect252"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="722.77"
        x="801.19"
    />
    <rect
        id="rect254"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="681.77"
        x="760.19"
    />
    <rect
        id="rect256"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="640.77"
        x="719.19"
    />
    <rect
        id="rect258"
        style="fill:#ffffff"
        height="41"
        width="41"
        y="599.77"
        x="678.19"
    />
  </g>
</svg>