{% set group = args.group %}

{% set shopInfo = global.common.shopInfo %}
{% set shop = shopInfo.shop %}
{% set hideOutOfStock = shop.hide_out_of_stock | int %}
{% set cartEnabled = args.cartEnabled or global.common.cartEnabled %}

{% set globalClass =  'sellix-group-card-products' %}
{% set localClass = id %}

<div class="{{ globalClass }}">
  {% render_snippet
    'Product list',
    cartEnabled=cartEnabled,
    hideOutOfStock=hideOutOfStock,
    products=group.products_bound
  %}
</div>
