{% set id = uid() %}
{% set product = args.product %}
{% set isPlaceholder = not product.image_name %}
{% set image = cdn_link(product.cloudflare_image_id, 'shopItem') %}
{% set colors = themeProperties.current_colors %}
{% set cardProps = themeProperties.cards %}

{% set background = safe_get(cardProps.product_card_background_color, 'background_accent_dark') %}
{% set border = '1px solid var(--borderColor)' if cardProps.product_card_show_border else 'none' %}
{% set borderRadius = safe_get(cardProps.product_card_border_radius, 0.5) %}
{% set imageBorderRadius = safe_get(cardProps.product_card_image_border_radius, '0.5') %}

{% set titleFontcolor = safe_get(cardProps.product_card_title_font_color, 'light_font_color') %}
{% set titleFontSize = safe_get(cardProps.product_card_title_font_size, '16') %}
{% set titleFontWeight = safe_get(cardProps.product_card_title_font_weight, '400') %}
{% set titleLineHeight = safe_get(cardProps.product_card_title_line_height, '20') %}
{% set titleTextAlign = safe_get(cardProps.product_card_title_text_align, 'left') %}

{% set descriptionFontColor = safe_get(cardProps.product_card_description_font_color, 'dark_font_color') %}
{% set descriptionFontSize = safe_get(cardProps.product_card_description_font_size, '14') %}
{% set descriptionFontWeight = safe_get(cardProps.product_card_description_font_weight, '400') %}

{% set priceFontColor = safe_get(cardProps.product_card_price_font_color, 'brand_color') %}
{% set priceFontSize = safe_get(cardProps.product_card_price_font_size, '16') %}
{% set priceFontWeight = safe_get(cardProps.product_card_price_font_weight, '500') %}

{% set globalClass =  'sellix-product-card' %}
{% set localClass = ['sellix-product-card-', id] | join %}

<style>
  .{{ localClass }}__container {
    border: {{ border }};
    border-radius: {{ borderRadius }}rem;
  }
  .{{ localClass }}__card {
    background: {{ colors[background] }};
  }
  .{{ localClass }}__title {
    color: {{ colors[titleFontcolor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
    justify-content: {{ titleTextAlign }} !important;
  }
  .{{ localClass }}__description {
    color: {{ colors[descriptionFontColor] }};
    font-size: {{ descriptionFontSize }}px;
    font-weight: {{ descriptionFontWeight }};
  }
  .{{ localClass }}__image {
    border-radius: {{ imageBorderRadius }}rem;
  }
  .{{ localClass }}__image.placeholder {
    border: 1px solid var(--borderColor)
  }
  .{{ localClass }}__image, .{{ localClass }}__image img {
    border-radius: {{ imageBorderRadius }}rem;
  }
</style>

<div id="sellix-card-container-{{id}}" class="{{ globalClass }}__container {{ localClass }}__container">
  <div
    class="{{ globalClass }}__card {{ localClass}}__card unselectable"
    style="background: {{ colors[cardProps.product_card_background_color] }};"
  >
    <div class="{{ globalClass }}__image {{ localClass}}__image {{'placeholder' if isPlaceholder else ''}}">
      {% if isPlaceholder %}
        <i class="fa-light fa-square-info"></i>
      {% else %}
        <img src="{{image}}" alt="{{product.title}}" loading="lazy" />
      {% endif %}
    </div>

    <div class="{{ globalClass }}__info">
      <div class="{{ globalClass }}__description {{ localClass }}__description justify-content-between">
        {% render_snippet 'Tag', tag=('shop.shared.titles.productType.info' | t) %}
      </div>

      <div class="{{ globalClass }}__title {{ localClass }}__title {{'justify-content-center text-center' if args.centerProduct else ''}}">
        {{product.title}}
      </div>
    </div>
  </div>

  <div id="info-card-modal-{{id}}" class="info-card-modal sellix-modal" style="display: none;">
    <div class="sellix-modal-header">
      <span>
        {{product.title}}
      </span>

      <div id="sellix-modal-close-{{id}}" class="sellix-modal-close" >
        <i class="fa-light fa-times" style="color: var(--darkFontColor); font-size:1.25rem;"></i>
      </div>
    </div>

    <div class="sellix-modal-body">
      <div class="sellix-text">
        {{product.description | html_sanitize | safe}}
      </div>
    </div>
  </div>
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    $('#sellix-card-container-{{id}}').on('click', function () {
      $('#info-card-modal-{{id}}').modal({
        modalClass: '',
        blockerClass: '',
        showClose: false
      });
    });

    $('#sellix-modal-close-{{id}}').on('click', function () {
      $.modal.close();
    });
  });
</script>
