{% set id = uid() %}
{% set product = args.product %}
{% set isPlaceholder = not product.image_name %}
{% set image = cdn_link(product.cloudflare_image_id, 'shopItem') %}
{% set onHold = product.on_hold | int %}
{% set isOut = (product.stock | int === 0) %}
{% set isPayWhatYouWant = (product.pay_what_you_want | int === 1) %}
{% set isFree = product.price_display | float === 0 and not isPayWhatYouWant %}
{% set colors = themeProperties.current_colors %}
{% set cardProps = themeProperties.cards %}

{% set background = safe_get(cardProps.product_card_background_color, 'background_accent_dark') %}
{% set border = '1px solid var(--borderColor)' if cardProps.product_card_show_border else 'none' %}
{% set borderRadius = safe_get(cardProps.product_card_border_radius, 8) %}
{% set imageBorderRadius = safe_get(cardProps.product_card_image_border_radius, 8) %}

{% set titleFontcolor = safe_get(cardProps.product_card_title_font_color, 'light_font_color') %}
{% set titleFontSize = safe_get(cardProps.product_card_title_font_size, '16') %}
{% set titleFontWeight = safe_get(cardProps.product_card_title_font_weight, '400') %}
{% set titleLineHeight = safe_get(cardProps.product_card_title_line_height, '20') %}
{% set titleTextAlign = safe_get(cardProps.product_card_title_text_align, 'left') %}

{% set descriptionFontColor = safe_get(cardProps.product_card_description_font_color, 'dark_font_color') %}
{% set descriptionFontSize = safe_get(cardProps.product_card_description_font_size, '14') %}
{% set descriptionFontWeight = safe_get(cardProps.product_card_description_font_weight, '400') %}

{% set priceFontColor = safe_get(cardProps.product_card_price_font_color, 'brand_color') %}
{% set priceFontSize = safe_get(cardProps.product_card_price_font_size, '16') %}
{% set priceFontWeight = safe_get(cardProps.product_card_price_font_weight, '500') %}

{% set globalClass = 'sellix-product-card' %}
{% set localClass = ['snippet-product-card', id] | join %}

<style>
  .{{ localClass }}__container {
    border: {{ border }};
    border-radius: {{ borderRadius }}px;
  }
  .{{ localClass }}__card {
    background: {{ colors[background] }};
  }
  .{{ localClass }}__title {
    color: {{ colors[titleFontcolor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
    justify-content: {{ titleTextAlign }} !important;
  }
  .{{ localClass }}__description {
    color: {{ colors[descriptionFontColor] }};
    font-size: {{ descriptionFontSize }}px;
    font-weight: {{ descriptionFontWeight }};
  }
  .{{ localClass }}__price-with-discount, .{{ localClass }}__price-with-discount i {
    color: {{ colors[priceFontColor] }};
    font-size: {{ priceFontSize }}px;
    font-weight: {{ priceFontWeight }};
  }
  .{{ localClass }}__price-with-discount i {
    opacity: 0.4;
  }
  .{{ localClass }}__price {
    color: {{ colors[priceFontColor] }};
    font-size: {{ priceFontSize }}px;
    font-weight: {{ priceFontWeight }};
  }
  .{{ localClass }}__image.placeholder {
    border: 1px solid var(--borderColor)
  }
  .{{ localClass }}__image, .{{ localClass }}__image img {
    border-radius: {{ imageBorderRadius }}px;
  }
  .{{ localClass }}__stock i {
    margin-left: 0.2rem;
    font-size: 10px;
    color: {{'#28a745' if product.stock == -1 or product.stock > 1 else '#dc3545'}};
  }
  .{{ localClass}}__stock span {
    font-size: 1rem;
    margin-left:.2rem;
    color:{{'#28a745' if product.stock == -1 or product.stock > 1 else '#dc3545'}};
  }

  .{{ localClass }} .{{ localClass }}__cart {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (hover: hover) {
    .{{ localClass }} .{{ localClass }}__cart {
      display: none;
    }
    .{{ localClass }}:hover .{{ localClass }}__cart {
      display: block!important;
    }
  }
</style>

<div class="{{ globalClass }} {{ localClass }} d-flex w-100 position-relative">
  <a
    href="{{'javascript:void' if product.on_hold | int else ['product/', product.uniqid] | join}}"
    id="sellix-card-container-{{id}}"
    class="{{ globalClass }}__container {{ localClass }}__container"
  >

    <div class="{{ globalClass}}__card {{ localClass }}__card unselectable">
      <div class="{{ globalClass}}__image {{ localClass }}__image {{'placeholder' if isPlaceholder else ''}}">
        <div class="{{ localClass }}__cart">
          {% render_snippet 'Cart button 2', product=product %}
        </div>
        {% if isPlaceholder %}
          <i class="fa-light fa-box-taped"></i>
        {% else %}
          <img src="{{image}}" alt="{{product.title}}" loading="lazy" />
        {% endif %}
      </div>

      <div class="{{ globalClass }}__info">
        {% if onHold %}
          <span class="{{ globalClass }}__description {{ localClass }}__description">
            {{ 'shop.main.cards.product.onHold' | t }}
          </span>
        {% endif %}

        {% if isOut %}
          <span class="{{ globalClass }}__description {{ localClass }}__description">
            {{ 'shop.main.cards.product.soldOut' | t }}
          </span>
        {% endif %}

        {% if not onHold and not isOut %}
          <div class="{{ globalClass }}__description {{ localClass }}__description justify-content-between">
            {% if product.price_discount and not isFree %}
              <span class="{{ globalClass }}__price-with-discount {{ localClass }}__price-with-discount">
                {% render_snippet
                  'Price',
                  currency=product.currency,
                  price=product.price_display,
                  discount=product.price_discount
                %}
                <i>{% render_snippet 'Price', currency=product.currency, price=product.price_display %}</i>
              </span>
            {% else %}
              <div class="{{ globalClass }}__group-description-info">
                {% if product.price_variants %}
                  <span>{{ 'shop.shared.titles.startingAt' | t }}: </span>
                {% endif %}
                <span class="{{ globalClass }}__price {{ localClass }}__price">
                  {% if isFree %}
                    {% render_snippet 'Tag', tag=('shop.shared.titles.free' | t) %}
                  {% elif isPayWhatYouWant %}
                    {% render_snippet 'Tag', tag=('shop.main.cards.product.yourPrice' | t) %}
                  {% else %}
                    {% render_snippet 'Price',
                      currency=product.currency,
                      price=product.price_display,
                      priceVariants=product.price_variants
                    %}
                  {% endif %}
                </span>
              </div>
            {% endif %}

            <span class="{{ globalClass }}__stock {{ localClass }}__stock">
              {% if get_stock(product.stock) === '∞' %}
                {{ 'shop.shared.titles.stock' | t }}<i class="fa-solid fa-infinity"></i>
              {% else %}
                {{ 'shop.shared.titles.stock' | t }}<span>{{get_stock(product.stock)}}</span>
              {% endif %}
            </span>

            {# TODO: Add a tax #}
          </div>
        {% endif %}

        <div class="{{ globalClass }}__title {{ localClass }}__title {{'justify-content-center text-center' if args.centerProduct else ''}}">
          {{product.title}}
        </div>
      </div>
    </div>
  </a>
</div>
