<!DOCTYPE>
<html
  lang="en"
  style="background-color: var(--backgroundColor);"
  class="scroll-hidden {{ 'embed' if global.render.loadEmbed else '' }}"
>
  <head>
    <base href="/">
    <meta charset="utf-8"/>

    {% render_snippet 'Main meta' %}

    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
    <link rel="apple-touch-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="preconnect" href="https://cdn.sellix.io/"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preload" href="{{ 'loader.css' | asset_url }}" as="style"/>
    <link rel="preload" href="{{ 'embed.css' | asset_url }}" as="style"/>

    <link rel="preconnect" href="https://fonts.googleapis.com/"/>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" as="style" >
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% set font = themeProperties.typography.font %}
    {% set backgroundImage = themeProperties.background.background_image %}

    <link href="{{ font.href }}" rel="stylesheet">

    <style>
      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url({{ 'Inter.woff2' | asset_url }}) format("woff2");
      }

      body {
        transition: background 0.9s;
        background-color: #0000;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        font-family: {{ "Inter var" if font.fontFamily == "Inter" else font.fontFamily }},
          {% if font.systemFont == "sans-serif" %}
            sans-serif
          {% elif font.systemFont == "serif" %}
            serif
          {% else %}
            monospace
          {% endif %} !important;

        {% if backgroundImage %}
          background-image: url({{ backgroundImage }});
          background-repeat: no-repeat, no-repeat;
          background-position: top;
          background-size: cover;
        {% endif %}
      }
    </style>

    <link rel="stylesheet" href="{{ 'root-styles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'fa-icons.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'shop-common-styles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'loader.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'tiny-slider.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'button.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'toastify.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'modal.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'font-awesome.css' | asset_url }}"/>

    {# Sections #}
    <link rel="stylesheet" href="{{ 'section-header.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-banner.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-menu.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-product-list.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-product-checkout-invoice-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-contact-form.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-feedback-list.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-feedback.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-terms.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-trust.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-ticket.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-invoice-info.css' | asset_url }}"/>

    {# Blocks #}
    <link rel="stylesheet" href="{{ 'block-banner-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-banner-stats.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-product-list-filter.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-product-list-items.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-feedback-items.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-feedback-pagination.css' | asset_url }}"/>

    {# Snippets #}
    <link rel="stylesheet" href="{{ 'snippet-cart.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-text-text-area.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-cards.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-feedback-card.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-addons.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-checkout-product.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-warranty.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-bundles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-bundle-products.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-purchase-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-price-variants.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-invoice-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-invoice-track-button.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-shop-info.css' | asset_url }}"/>



    {% set theme = global.common.shopInfo.theme %}
    <style>
      {% render_snippet 'Root css variables' %}
    </style>

    {% if global.render.showCookie %}
      <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
          "ccpaAcknowledgeOnDisplay":true,
          "ccpaApplies":true,
          "consentOnContinuedBrowsing":false,
          "cookiePolicyId":33942990,
          "enableCcpa":true,
          "invalidateConsentWithoutLog":true,
          "lang":"en",
          "perPurposeConsent":true,
          "siteId":2404109,
          "whitelabel":false,
          "banner":{
            "acceptButtonCaptionColor":"#FFFFFF",
            "acceptButtonColor":"#000000",
            "acceptButtonDisplay":true,
            "backgroundColor":"#FFFFFF",
            "brandBackgroundColor":"#ffffff",
            "brandTextColor":"#000000",
            "closeButtonRejects":true,
            "customizeButtonCaptionColor":"#000000",
            "customizeButtonColor":"#eeeeee",
            "customizeButtonDisplay":true,
            "explicitWithdrawal":true,
            "fontSize":"14px",
            "listPurposes":true,
            "logo":"https://cdn.sellix.io/static/email-templates/logo.png",
            "position":"bottom",
            "rejectButtonCaptionColor":"#FFFFFF",
            "rejectButtonColor":"#000000",
            "rejectButtonDisplay":true,
            "textColor":"#000000",
            "acceptButtonCaption":"Accept",
            "customizeButtonCaption":"Learn more and customize",
            "rejectButtonCaption":"Reject",
            "content": "",
          }
        };
      </script>
      <script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>
      <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    {% endif %}

    {% if loadTrustPilot %}
      <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    {% endif %}

    {% if global.render.loadEmbed %}
      <style>
        html {
          background-color: transparent !important;
        }
        html.embed {
          background-color: transparent !important;
        }
      </style>

      <link href="https://cdn.sellix.io/static/css/embed.css" rel="stylesheet" />
      <script defer src="https://cdn.sellix.io/static/js/embed.js"></script>
    {% endif %}

    {% if global.render.isEmbed %}
      <link href="{{ 'embed.css' | asset_url }}" rel="stylesheet" type="text/css"/>
    {% endif %}

    <link rel="stylesheet" href="{{ 'select2.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'purchase.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'invoice.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'magnific-popup.1.1.0.css' | asset_url }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />

    <!-- TODO -->
    {{ loadableLink }}
    {{ loadableStyle }}

    <script src="{{ 'jquery.js' | asset_url}}"></script>
    <script src="{{ 'quicklink.umd.js' | asset_url}}"></script>
    <script>/*jQuery(document).ready(() => {quicklink.listen();});*/</script>
    <style>
      .sellix-card-container {
        border-radius: {{ themeProperties.cards.product_card_border_radius }}rem;
        box-shadow: {{ themeProperties.cards.product_card_shadow }};
      }
      .sellix-feedback-card-wrapper {
        border-radius: {{ themeProperties.cards.feedback_card_border_radius }}rem;
        box-shadow: {{ themeProperties.cards.feedback_card_shadow }};
      }
    </style>
  </head>

  <body>
    <div id="app" style="margin-top: 1px">
      <div class="sellix-store">
        {% if global.request.type != 'payment' %}
          {% render_section 'header' %}
        {% endif %}
        <div id="content" class="{{'is-product' if global.request.type == 'product' else ''}}">
        {% render_template 'default' %}
        </div>

        {% if global.request.type != 'payment' %}
          {% render_section 'footer' %}
        {% endif %}
      </div>
    </div>
    <div id="modal">

    </div>

    <script>
      window.__RENDER_CONTEXT__ = {{ global | dump | safe | replace('\u003c', '<') }};
      window.RECAPTCHA_PUBLIC_KEY = window.__RENDER_CONTEXT__.config.CAPTCHA_SITE_KEY_V3;
    </script>

    {{ loadableScript }}

    <script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-184179078-2"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NPLHQLJH10"></script>

    <script>
      window.isAuth = {{ global.render.isAuth }}
        window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-184179078-2');
      gtag('config', 'G-NPLHQLJH10');
    </script>

    <!-- Hotjar Tracking Code for https://sellix.io -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2699775,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <script>
      (function(){
        var w=window;
        var ic=w.Intercom;
        if(typeof ic==='function'){ic('reattach_activator');
          ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j3kaf0pd';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>

    <script type='application/javascript'>
      (function() {
        $(document).ready(function () {
          setTimeout(function () {
            var html = document.documentElement.classList;
            var $loader = $('#loader');
            if($loader) {
              $loader.remove();
            }
            html.remove('scroll-hidden');
          }, 500);
        });
      })();
    </script>

    {% if global.render.showCookie %}
      <a href="" id="cookie-iubenda" class="iubenda-cs-preferences-link" style="position: fixed;bottom: 1.25rem;left: 1rem;width: 2.25rem;background: transparent;border: 1px solid var(--borderColor);height: 2.25rem;align-items: center;justify-content: center;display: flex;font-size: 1.5rem;font-weight: 900;border-radius: 0.5rem;line-height: 1.5rem;cursor: pointer;z-index: 99999999999;">
        <img style="width: 100%; height: 100%; border-radius: 0.5rem;" src="https://cdn.sellix.io/static/logo/single-black.png" alt=""/>
      </a>
    {% endif %}

    {% if paypal.merchantId %}
      <script type='application/javascript'>
        (function() {
          if (!window.paypal) {
            var script = document.createElement('script');

            var vault = (type && type === 'PRODUCT_SUBSCRIPTION') ? 'true' : 'false';
            script.src = 'https://www.paypal.com/sdk/js' +
              '?client-id={{global.paypal.clientId}}' +
              '&merchant-id={{global.paypal.merchantId}}' +
              '&components=buttons,funding-eligibility' +
              '&currency={{global.paypal.currency}}' +
              '&commit=true' +
              '&vault=' + vault;
            script.async = true;

            document.body.appendChild(script);

          }
        })();
      </script>
    {% endif %}

    {% render_snippet 'Social Links' %}

    <script type='application/javascript'>
      // Simple toastify handler
      $(document).ready(function () {
        $(document).on('SellixToastify', function(e, eventInfo) {
          const toastifyContainer = $(`
            <div class="toastify-container">
              <div class="toastify-container-title ${eventInfo.type}">
                <i class="toastify-container-title-icon fa-solid ${eventInfo.type === 'success' ? "fa-check" : "fa-xmark"}"></i>
                <div class="toastify-container-message">
                  ${eventInfo.text}
                </div>
              </div>
              <div class="toastify-container-note">
                ${eventInfo.type === 'success'
                  ? 'Your action has been completed, the resources have been updated.'
                  : 'An error happened while trying to access one of your resources.'
                }
              </div>
            </div>
          `)[0];

          const toast = Toastify({
            duration: 5000,
            selector: 'content',
            offset: {
              x: '1rem',
              y: '70px',
            },
            node: toastifyContainer,
            gravity: "top",
            position: "right",
            onClick: function() {
              if (toast) {
                toast.hideToast();
              }
            }
          }).showToast();
        });
      });
    </script>

    <script type='application/javascript'>
      $(document).ready(function() {
        const name = '{{ global.common.shopInfo.shop.name }}';
        sellixApi.ping(name);
      });
    </script>

    {% render_snippet 'App crisp chat' %}
    {% render_snippet 'App helpspace' %}
    {% render_snippet 'App paypal' %}
    {% render_snippet 'Shop message' %}

    <script src="https://www.google.com/recaptcha/api.js?render={{global.config.CAPTCHA_SITE_KEY_V3}}"></script>
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.8.1/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <script src='https://unpkg.com/react-player/dist/ReactPlayer.standalone.js'></script>

    <script src="{{ 'ripple.js' | asset_url }}"></script>
    <script src="{{ 'react-simple-star-rating.js' | asset_url }}"></script>
    <script src="{{ 'select2.js' | asset_url }}"></script>
    <script src="{{ 'purchase.js' | asset_url }}"></script>
    <script src="{{ 'invoice.js' | asset_url }}"></script>
    <script src="{{ 'magnific-popup.1.1.0.min.js' | asset_url }}"></script>

    <script src="{{ 'sellix-api.js' | asset_url }}"></script>
    <script src="{{ 'sellix-context.js' | asset_url }}"></script>
    <script src="{{ 'sellix-helper.js' | asset_url }}"></script>
    <script src="{{ 'sellix-cart-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-addons-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-price-variants-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-cart-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-cart-product-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-addons-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-bundle-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-checkout-products-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-checkout-product-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-feedback-pagination-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-feedback-pagination.js' | asset_url }}"></script>
    <script src="{{ 'sellix-invoice-products-info-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-product-count-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-price-variants-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-purchase-details-component.js' | asset_url}}"></script>
    <script src="{{ 'sellix-invoice-details-component.js' | asset_url}}"></script>
    <script src="{{ 'sellix-contact-form-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-ticket-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-leave-feedback-component.js' | asset_url }}"></script>
  </body>
</html>
