.glass-footer-heading {
  color: var(--darkFontColor);
  font-weight: 700;
  text-transform: uppercase; 
  text-align: center;
}

.glass-footer-menu {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.glass-footer-menu-item {
  color: var(--lightFontColor);
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0.5rem 0;
}

.glass-footer-menu-item:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
    .glass-footer-heading,
    .glass-footer-menu-item {
        text-align: left;
    }
}

