.marquee-section {
  border-top: 1px solid var(--borderColor, #ccc);
  border-bottom: 1px solid var(--borderColor, #ccc);
  padding: 2rem 0;
}

.marquee-section.swiper--bottom::after {
  animation-direction: reverse;
}

.marquee-section:before {
    left: 0;
    right: auto;
    background-image: linear-gradient(90deg, rgb(18 19 22 / 85%) 80%, transparent);
    content: "";
    position: absolute;
    top: 0;
    width: 30vw;
    height: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    transition: all .25s linear;
  }

.marquee-section:hover:before {
  background-size: 0% 100%;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
/* Animazione dello swiper */
  100% {
    transform: translateX(-100%);
  }
}

.marquee-section .swiper-wrapper {
  animation: scroll-left 20s linear infinite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
}

@media (max-width: 768px) {
  .marquee-section {
    padding: 1.5rem 0;
  }

  .marquee-section::before {
    width: 40%;
}
}