.showcase-section {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.showcase-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.block-custom-logo {
    position: relative;
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
}

.showcase-section > .block-custom-logo:first-child {
    border-left: 0px;
}

.showcase-section > .block-custom-logo:last-child  {
    border-right: 0px;
}

@media (max-width: 767.98px) {
    .block-custom-logo {
        border-left: 0px;
        border-right: 0px;
    }

    .showcase-section {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

    .block-custom-logo:hover:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.3s linear;
        transform: scale(0.5);
        z-index: 1;
        border-radius: 5px;
        background: radial-gradient(50% 50% at 50% 50%, var(--brandColor) 0%, var(--borderColor) 100%);
        filter: blur(50px);
        margin: -1rem;
        opacity: 1;
    }

  .block-custom-logo {
    opacity: 0.3;
    position: relative;
    padding: 1rem;
    z-index: 2;
    display: inline-block; 
  }

  .block-custom-logo img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }

  .block-custom-logo:hover {
    opacity: 1;
  }