{% if global.request.type in ['invoice', 'product_subscription'] %}
  {% set id = uid() %}

  {% set localClass = id %}

  {% render_snippet 'Invoice: Checkout', properties=properties %}

{% endif %}
