.sellix-template {
  display: flex;
  flex: 1 0 auto;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--backgroundColor);
}

#app {
  overflow: hidden;
}

.block-store-code-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block-store-code-form__title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--darkFontColor);
  text-align: center;
  margin-bottom: 1rem;
}

.block-store-code-form__form input {
  font-size: 1rem !important;
  text-align: center;
  color: var(--darkFontColor);
}

.block-store-code-form__form input::placeholder {
  font-size: 1rem;
  color: var(--black4);
}

.block-store-code-form__form .sellix-label {
  display: none;
}

.block-store-code-form__form button.button {
  margin: 0 auto;
  width: 100%;
  min-height: 32px;
}

.block-store-code-form__form .snippet-input-text {
  margin-bottom: 1rem;
}
