.section-header {
  margin-bottom: 0;
}

.isDark .section-header {
  border-bottom: 1px solid var(--black1);
}

.sellix-header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  min-height: 72px;
}

.sidebar-toggler {
  display: none;
  cursor: pointer;
  margin-right: 1.25rem;
  font-size: 1rem;
  background-color: #0000;
  border: none;
  border-radius: 0;
  outline: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sellix-header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 0.625rem;
}

.sellix-header__logo-image {
  margin-right: 10px;
}

.sellix-header__shop-name {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0 1.5rem 0 0;
  border-right: 1px solid var(--black2);
}

.sellix-header__main-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.sellix-header__main-menu .block-menu {
  height: 100%;
}

.sellix-header__main-menu .sellix-menu {
  height: 100%;
  display: flex;
}

.sellix-header__main-menu .sellix-menu .menu-tab {
  padding: 0 0.625rem;
}

.sellix-header__main-menu .sellix-menu a {
  height: 100%;
  display: flex;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.sellix-header__language-selector {
  min-width: 150px;
  display: flex;
  justify-content: end;
}

.sellix-header__cart {
  z-index: 12;
}

@media (max-width: 1080px) {
  .sellix-header {
    min-height: 64px;
  }

  .sidebar-toggler {
    display: flex;
  }

  .sellix-header__logo-image {
    margin-right: 5px;
  }

  .sellix-header__shop-name {
    border-right: inherit;
    text-align: center;
  }

  .sellix-header__main-menu .sellix-menu {
    display: none!important;
  }
}

@media (max-width: 768px) {
  .sellix-header__shop-name {
    white-space: nowrap;
  }
}
