.snippet-price {
  display: inline-flex;
  gap: 0.25rem;
}

.snippet-price__container {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  color: var(--darkFontColor);
  font-size: 14px;
  font-weight: 500;
}

.snippet-price__price.initial-price {
  color: var(--lightFontColor);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: line-through;
}

.snippet-price__image {
  height: 1.25rem;
  width: 1.25rem;
}
