.snippet-product-warranty-collapsable__header {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.snippet-product-warranty-collapsable__header .chevron {
  color: var(--lightFontColor);
}

.snippet-product-warranty-collapsable__body {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
