.sellix-toastify.snippet-shop-message {
  position: absolute!important;
  right: 1rem!important;
  top: 5rem!important;
  word-break: break-word;
  background: var(--backgroundColor);
  color: var(--lightFontColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  box-shadow: none;
  max-width: 350px;
  width: 100%;
  max-height: 290px;
  padding: 1rem;
}
@media (max-width: 768px) {
  .sellix-toastify.snippet-shop-message {
    max-width: calc(100% - 3rem);
    right: 1.5rem!important;
  }
}
.snippet-shop-message .t-content {
  word-break: break-word;
  white-space: pre-line;
}
.snippet-shop-message .t-header {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1;
  font-size: 1rem;
}
.snippet-shop-message .t-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
