.snippet-mobile-sidebar-menu {
  transform: translate(-300%);
  position: fixed;
  left: 0;
  top: 64px;
  z-index: 99;
  height: 100vh;

  background: #fff;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;

  padding: 20px 0 64px 0;
}

.snippet-mobile-sidebar-menu__item {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 10px 1rem;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  text-decoration: none;
}

.snippet-mobile-sidebar-menu.open {
  transform: translateX(0);
}
