.snippet-product-share {
  display: flex;
  flex-wrap: wrap;
}

.snippet-product-share__title {
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--black3);
}

.snippet-product-share .social-share-button {
  margin-top: 0.5rem;
}
