{% set id = uid() %}

{% set shop = global.common.shopInfo.shop %}
{% set colors = themeProperties.current_colors %}
{% set product = args.product %}
{% set invoice = args.invoice %}
{% set properties = args.properties %}
{% set currency = args.currency %}

{% set showBorder = properties.show_border if properties.show_border is defined else true %}
{% set containerBorderRadius = properties.container_border_radius if properties.container_border_radius is defined else 0.5 %}
{% set containerShadow = properties.container_shadow if properties.container_shadow is defined else 'none' %}
{% set containerPaddingVert = properties.container_padding_vert if properties.container_padding_vert is defined else 8 %}
{% set containerPaddingHoriz = properties.container_padding_horiz if properties.container_padding_horiz is defined else 16 %}

{% set isInvoice = global.request.type == 'invoice' %}

{% if isInvoice %}
  {% set addons = invoice.addons[product.uniqid] or [] %}
{% else %}
  {% set addons = product.addons %}
{% endif %}

{% if product.type === "SUBSCRIPTION" and product.trial_period %}
  {# Do nothing #}
{% else %}
  <style>
    .sellix-text.override-{{ id }} * {
  {% if colors[properties.body_font_color] %}
      color: {{ colors[properties.body_font_color] }};
  {% endif %}
  {% if properties.body_font_size %}
      font-size: {{ properties.body_font_size }}px;
  {% endif %}
    }
  </style>

  <div id="shop-product-addons-{{ product.uniqid }}">
    {% for addon in addons %}
      <div
        class="shop-product-info-addon"
        style="{{ 'border: none;' if not showBorder }}{#
            #} {% if colors[properties.container_background_color] %}background: {{ colors[properties.container_background_color] }};{% endif %}{#
            #} box-shadow: {{ containerShadow }};{#
            #} border-radius: {{ containerBorderRadius }}rem;{#
            #} padding: {{ containerPaddingVert }}px {{ containerPaddingHoriz }}px;"
      >
        <div class="shop-product-info-addon-wrapper">
          <div
            class="shop-product-info-addon-title"
            data-addon-id="{{ addon.uniqid }}"
            style="{% if colors[properties.title_font_color] %}color: {{ colors[properties.title_font_color] }};{% endif %}{#
              #}{% if properties.title_font_size %}font-size: {{ properties.title_font_size }}px;{% endif %}{#
              #}line-height: {{ properties.title_line_height }}%"
          >
            {{ addon.title }}
            {% if addon.description %}
              <i class="fa-solid fa-chevron-down"></i>
            {% endif %}
          </div>

          <div class="d-flex align-items-center">
            <div class="shop-product-info-addon-price">
              {% render_snippet 'Price', currency=currency, price=addon.price_conversions[currency], digits=2 %}
            </div>

            {% if not isInvoice %}
              <button type="button" class="shop-product-info-addon-button button small" data-addon-id='{{ addon.uniqid }}'>
                ...
              </button>
            {% endif %}
          </div>
        </div>

        <div
          class="shop-product-info-addon-description-collapse w-100 d-flex"
          style="height: 0; overflow: hidden;"
          data-addon-id="{{ addon.uniqid }}"
        >
          <div
            class="shop-product-info-addon-description"
            style="justify-content: {{ properties.body_text_align }};"
          >
            <div class="sellix-text override-{{ id }}">
              {{addon.description | html_sanitize | safe}}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <script type="application/javascript">
    $(document).ready(function() {
      const productId = '{{ product.uniqid }}';
      const addonsComponent = new SellixAddonsComponent(
        `#shop-product-addons-${productId}`,
        '{{ shop.name }}',
        productId,
        {{ (product.addons or []) | dump | safe }},
      );
      addonsComponent.render();
      {% if addons | length and global.builder %}
      $('#shop-product-addons-{{ product.uniqid }} .shop-product-info-addon-title[data-addon-id="{{ addons[0].uniqid }}"]').click();
      {% endif %}
    });
  </script>
{% endif %}
