{% set invoice = args.invoice %}
{% set isDev = args.is_dec %}
{% set isTrial = args.is_trial %}
{% set isProductSubscription = args.is_product_subscription %}
{% set lang = global.lang.delivery %}

<div class="sellix-delivery-success">
  <div class="sellix-delivery-success-header">

    <div class="sw-container">
      <div class="sw" style="width: 140px; top: -.75rem; background-color: transparent;">

        <div class="sw-icon-success">
          <div class="elem-1"></div>
          <span class="elem-2"></span>
          <span class="elem-3"></span>
          <div class="elem-4"></div>
          <div class="elem-5"></div>
          <div class="elem-6"></div>
        </div>

      </div>
    </div>

    <div class="sellix-delivery-success-title">
      {% if isDev %}
        {{lang.paymentCompleted}}
      {%- elif isTrial -%}
        {{lang.trialStart}}
      {%- elif isProductSubscription -%}
        {{lang.subStarted}}
      {% else %}
        {{lang.orderCompleted}}
      {% endif %}
    </div>
  </div>

  <div class="sellix-delivery-success-info">
    {% if isDev %}
      {{lang.invoiceConfirmationEmailText}}
    {% elif isTrial %}
      {{lang.trialText}}
    {% elif isProductSubscription %}
      {{lang.subText}}
    {% else %}
      {{lang.invoiceProductText}}
    {% endif %}
  </div>
</div>
