{% set invoice = args.invoice %}
{% set lang = global.lang.delivery.subscription %}
<div class="sellix-delivery-product skip mb-0 mt-5">
  <div class="sellix-delivery-product-title" style="margin-top: -2rem">
    {{lang.title}}
  </div>
  <div class="sellix-delivery-product-item">

    {% if invoice.subtype %}
      <div class="sellix-text">
        <p class="sellix-delivery-product-item-subtype">
          <strong>{{ invoice.subtype | lower }}</strong> {{lang.sentToEmail[0]}}
          <a href="mailto:notice@orders.sellix.io" target="_blank">notice@orders.sellix.io</a>{{lang.sentToEmail[1]}}
        </p>
      </div>
    {% endif %}

    <div class="sellix-text">
      {% if invoice.subtype %}
        <div class="sellix-delivery-product-title">{{lang.pleaseNote}}</div>
        <p>
          {{lang.help}}
        </p>
      {% else %}
        <p>
          {{lang.return}}
        </p>
      {% endif %}
    </div>

    <div class="sellix-delivery-product-buttons">
      <a href="/contact" class="w-50 mr-3 medium primary">
        <button type="button" class="w-100 medium primary">{{lang.contactMerchant}}</button>
      </a>
      <button
        type="button"
        class="w-50 medium primary"
        onclick="window.sellixHelper.redirectToSubLink('customer-portal', '/')"
      >
        {{lang.goToPortal}}
      </button>
    </div>
  </div>
</div>
