{% set invoice = global.common.invoiceInfo.invoice %}
{% set subscriptionName = invoice.subscription.name or '________' %}
{% set lang = global.lang.invoiceDetails %}

<div class="w-100">

  <div style="padding: 1rem; border: 1px solid var(--borderColor); border-radius: 8px">
    <div class="shop-product-info-product-title mb-0">
      {{lang.subscription}} {{ subscriptionName }}
    </div>

    <div class="shop-product-info-product-info"></div>

    <div class="shop-product-info-product-description">
      <div class="sellix-text p-3" style="border-radius: .25rem">
        <p>{{ lang.details[0] + " " + subscriptionName + " " + lang.details[1]}}</p>
      </div>
    </div>
  </div>
</div>
