{% set colors = themeProperties.current_colors %}

:root {
    --brandColor: {{colors.brand_color}};
    --backgroundColor: {{colors.background_main_color}};
    --backgroundAccentLight: {{colors.background_accent_light}};
    --backgroundAccentDark: {{colors.background_accent_dark}};
    --backgroundHover: {{colors.background_hover}};
    --lightFontColor: {{colors.light_font_color}};
    --darkFontColor: {{colors.dark_font_color}};
    --contrastFontColor: {{colors.contrast_font_color}};
    --buttonColor: {{colors.button_color}};
    --borderColor: {{colors.border_color}};
    --linkColor: {{colors.link_color}};
    --menuBackground: {{colors.menu_background}};
    --gridLine: {{colors.grid_line}};
    --thinColor: {{colors.thin_color}};
    --inputBorder: {{colors.input_border}};
    --inputBorderHover: {{colors.input_border_hover}};
    --menuBackgroundHover: {{colors.menu_background_hover}};
}
