<div id="customer-auth-container"></div>

<script type='application/javascript'>
  $(document).ready(function () {
    const { shopInfo } = window.SellixContext.get('common');
    const isDark = {{ args.isDark if args.isDark is defined else themeProperties.color_schema.dark_mode }};

    const customerAuthComponent = new SellixCustomerAuthComponent({
      selector: '#customer-auth-container',
      selectorCaptchaV2: '#customer-auth-recaptcha-v2',
      config: window.SellixContext.get('config'),
      shop: shopInfo.shop,
      theme: { isDark },
    });
    customerAuthComponent.render();
  });
</script>
