{% set properties = args.properties %}
{% set paddingVert = properties.customer_dashboard_analytic_padding_vert if properties.customer_dashboard_analytic_padding_vert is defined else '16' %}
{% set paddingHoriz = properties.customer_dashboard_analytic_padding_horiz if properties.customer_dashboard_analytic_padding_horiz is defined else '16' %}
{% set backgroundColor = properties.customer_dashboard_analytic_item_background if properties.customer_dashboard_analytic_item_background is defined else 'background_accent_dark' %}
{% set colors = themeProperties.current_colors %}
{% set customerRefferalID = global.common.customerInfo.customer.id %}

<div style="
  width: calc({{ properties.customer_dashboard_analytic_item_size }}% - .5rem);
  background-color: {{ colors[backgroundColor] }};
  border: {{ "1px solid var(--borderColor)" if properties.customer_dashboard_analytic_item_show_border else "none" }};
  box-shadow: {{ properties.customer_dashboard_analytic_item_shadow }};
  border-radius: {{ properties.customer_dashboard_analytic_item_border_radius }}rem;
  padding: {{ paddingVert }}px {{ paddingHoriz }}px!important;
">
  <div>{{ args.title }}</div>
  <b>
    {{customerRefferalID}}
    <button type="button" class="ml-2 medium primary" id="copy-ref" data-product-id={{ product.uniqid }}>
      {% render_snippet 'Copy icon' %}
    </button>
  </b>
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    $(document).find('#copy-ref').on('click', () => {
      window.copyToClipboard(`https://${window.location.host}?rcid={{customerRefferalID}}`);
    });
  });
</script>
