{% set colors = themeProperties.current_colors %}
{% set invoice = args.invoice %}
{% set currencyList = global.config.CURRENCY_LIST %}
{% set isOdd = args.isOdd %}

{% for product in invoice.products %}
     <tr class="sellix-customer-table-item" style="background: {{ "#f5f7f8" if isOdd === 1 else "transparent" }};">
         {% if (loop.index === 1) %}
             <td rowspan="{{ invoice.products.length }}" style="border-right: 1px solid var(--borderColor);">
                 <div class="sellix-customer-table-product justify-content-center">
                     <div class="sellix-customer-table-product-image mr-0 placeholder">
                         <i class="fa-light fa-box-taped"></i>
                     </div>
                 </div>
             </td>
         {% else %}
         {% endif %}
         <td class="sellix-customer-table-product">
             <div class="d-flex flex-column">
                 <div class="sellix-customer-table-product-title">{{ product.title }}</div>
                 <div class="sellix-customer-table-product-id">{{ product.uniqid }}</div>
             </div>
         </td>
         <td><div class="sellix-customer-table-product-title">{{ product.quantity }}</div></td>
         <td><div class="sellix-customer-table-product-title">{{ product.price }}{{ currencyList[product.currency] }}</div></td>
         <td><div class="sellix-customer-table-product-title">{{ product.affiliate_revenue_percent if product.affiliate_revenue_percent | round(100) else invoice.shop.affiliate_revenue_percent | round(100) }}%</div></td>
         {% if (loop.index === 1) %}
             <td rowspan="{{ invoice.products.length }}" style="border-left: 1px solid var(--borderColor); text-align: center;">{{ (invoice.revenue_created_at * 1000) | date_format('DD MMM YYYY')}}</td>
             <td rowspan="{{ invoice.products.length }}" style="border-left: 1px solid var(--borderColor); text-align: center;">{{ invoice.total_earned }}{{ currencyList[invoice.total_earned_currency] }}</td>
         {% else %}
         {% endif %}
     </tr>
 {% endfor %}

