.sellix-customer-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.empty-sales-list {
  width: 100%;
  padding: 1.5rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.empty-sales-list svg {
  margin-bottom: 1rem;
}

.empty-sales-list-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .5rem;
  color: var(--lightFontColor);
}

.empty-sales-list-description {
  font-size: .8rem;
  color: var(--darkFontColor);
}

.sellix-customer-table {
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.sellix-customer-table-head {

}

.sellix-customer-table-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .125rem .25rem;
  background: var(--brandColor);
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border-radius: .25rem;
  white-space: nowrap;
  margin-left: 1rem;
}

.sellix-customer-table-product {
  display: flex;
  align-items: center;
}

.sellix-customer-table-product-title {
  color: var(--lightFontColor);
}

.sellix-customer-table-product .sellix-customer-table-product-image img {
  width: 100%;
  height: 100%;
}

.sellix-customer-table-product .sellix-customer-table-product-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .5rem;
  margin-right: .75rem;
}

.sellix-customer-table-product .sellix-customer-table-product-image.placeholder {
  width: 2.5rem;
  height: 2.5rem;
  background: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brandColor);
  border-radius: .5rem;
}

.sellix-customer-table-product .sellix-customer-table-product-id {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: .25rem;
  color: var(--darkFontColor);
}


thead.sellix-customer-table-head tr th {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--lightFontColor);
  padding: 0.75rem 1.25rem;
  text-align: left;
}


tbody.sellix-customer-table-body tr.sellix-customer-table-item td .sellix-customer-table-body-copy-link {
  background: transparent;
  border: 1px solid var(--borderColor);
  color: var(--darkFontColor);
  box-shadow: 0 1px 2px rgba(18, 20, 23, 0.06);
  padding: .5rem 1rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  min-height: auto;
  transition: all .3s ease;
}

tbody.sellix-customer-table-body tr.sellix-customer-table-item td .sellix-customer-table-body-copy-link:hover {
  background: var(--backgroundAccentDark);
}

tbody.sellix-customer-table-body tr.sellix-customer-table-item td {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--darkFontColor);
  padding: 1rem 1.25rem;
  text-align: left;
  display: table-cell;
}

tbody.sellix-customer-table-body tr.sellix-customer-table-item {
  position: relative;
}

tbody.sellix-customer-table-body tr.sellix-customer-table-item td {
  border-bottom: 1px solid var(--borderColor);
}

tbody.sellix-customer-table-body .sellix-customer-table-item:last-child td {
  border-bottom: none;
}

tbody.sellix-customer-table-body tr.sellix-customer-table-item:first-child td {
  border-top: 1px solid var(--borderColor);
}


.sellix-customer-not-found {
  margin: 1.5rem 0;
  width: 100%;
  color: var(--lightFontColor);
}


.sellix-customer-info-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  margin: 1.5rem 0;
}

.sellix-customer-info-blocks > div {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--darkFontColor);
}

.sellix-customer-info-blocks > div b {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: .25rem;
  display: flex;
  color: var(--lightFontColor);
}


@media (max-width: 768px) {
  div.sellix-customer-info-blocks {
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  div.sellix-customer-info-blocks > div {
    width: 100% !important;
    padding: 1rem;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
  }
  div.sellix-customer-info-blocks > div b {
    font-size: 21px;
    line-height: 29px;
    margin-top: 0.5rem;
    margin-bottom: -0.25rem;
  }
}



.sales_section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.pagination-table {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .pagination-table {
    overflow: auto;
  }

  .pagination-table .sellix-customer-table {
    margin-top: 0;
    margin-bottom: 0 !important;
  }
}
