.sellix-leave-feedback-screen {
  width: 100%;
  max-width: 1140px;
  padding: 0 1rem;
  margin: 0 auto 2rem;
  height: 100%;
  border-radius: 0.5rem;
}

.sellix-leave-feedback-screen p {
  color: var(--darkFontColor);
}

.sellix-leave-feedback-screen .title {
  color: var(--lightFontColor);
}

@media (max-width: 768px) {
  .sellix-leave-feedback-screen {
    width: 100% !important;
  }
}

.sellix-feedback-delivery {
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: transparent;
}

.sellix-feedback-delivery:focus {
  outline: none;
}

.sellix-feedback-delivery .react-stars-rating {
  background-color: transparent !important;
}

.sellix-feedback-delivery .star-rating-container > span:focus {
  outline: none;
}

.sellix-feedback-delivery .star-rating-container:focus {
  outline: none;
}
