.sellix-payouts-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.sellix-payouts-block {
  width: 100%;
  background: white;
  border-radius: .5rem;
  box-shadow: 0 1px 3px rgb(7 14 35 / 6%), 0 2px 8px -1px rgb(7 14 35 / 5%);
  margin: 1.5rem 0 0 0;
  padding: 1.25rem;
}

.sellix-payouts-block-title {
  color: var(--darkFontColor);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: .5rem;
}

.sellix-payouts-block-description {
  color: var(--lightFontColor);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 1.25rem;
  display: flex;
}

.sellix-payouts-block-button {
  background: var(--brandColor);
  color: var(--white);
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.sellix-payouts-block-button svg {
  margin-right: .75rem;
}

.sellix-payouts-block-button svg * {
  stroke: var(--white);
}

@media (max-width: 768px) {

}
