.sellix-feedback-card-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 200px;
}

.sellix-feedback-card {
  display: flex;
  font-size: 0.8rem;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
  overflow: hidden;
}

.sellix-feedback-card > div {
  width: 100%;
}

.sellix-feedback-card-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sellix-feedback-card-head span {
  margin-right: 0.2rem;
}

.sellix-feedback-card-head .empty-icons {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap;
}

.sellix-feedback-card-head .filled-icons {
  display: flex !important;
  flex-wrap: wrap;
}

.sellix-feedback-rating-info-date {
  font-weight: 400;
  color: var(--lightFontColor);
  white-space: nowrap;
  opacity: 0.6;
}

.sellix-feedback-card-review {
  padding: 1rem 0 0 0;
  width: 100%;
  position: relative;
  flex: 1 0 auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.sellix-feedback-text {
  width: 100%;
}

.sellix-feedback-reply {
  border-radius: 4px;
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
}

.sellix-feedback-reply:before {
  content: '';
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  width: 2px;
  height: calc(100% - 1.5rem);
  background: var(--brandColor);
}

.sellix-feedback-reply-seller {
  font-size: 12px;
  font-weight: 400;
  color: var(--darkFontColor);
  opacity: 0.7;
}

.sellix-feedback-checked {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #1fa83f;
  font-weight: 600;
  margin-top: 1.25rem;
}

.sellix-feedback-checked i {
  color: #1fa83f;
  font-size: 0.6rem;
  margin-right: 0.25rem;
  border: 1px solid #1fa83f;
  border-radius: 0.25rem;
  padding: 0.1rem;
}

@media (max-width: 768px) {
  .sellix-feedback-card {
    width: 100%;
    margin-right: 0;
  }

  .sellix-feedback-card-review {
    padding: 1rem 0;
    font-size: 0.8rem;
    height: auto;
  }

  .sellix-feedback-text {
    padding-bottom: 1rem;
  }
}
