.shop-product-info-addon {
  padding: 0.5rem 1rem;
  border: 1px solid var(--borderColor);
  background: var(--backgroundAccentDark);
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
  color: var(--lightFontColor);
}
@media (max-width: 420px) {
  .shop-product-info-addon {
    padding: 1rem;
  }
}
.shop-product-info-addon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 420px) {
  .shop-product-info-addon-wrapper {
    flex-direction: column;
  }
}
.shop-product-info-addon-title {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 0;
}
@media (max-width: 420px) {
  .shop-product-info-addon-title + div {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 420px) {
  .shop-product-info-addon-title {
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 1rem 0;
    width: 100%;
    align-items: flex-start;
  }
}
.shop-product-info-addon-title i {
  margin-left: 1rem;
}
.shop-product-info-addon-description {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  padding: 1rem 0 0.5rem 0;
}
@media (max-width: 420px) {
  .shop-product-info-addon-description {
    padding-bottom: 0;
  }
}
.shop-product-info-addon-price {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}
.shop-product-info-addon-price + button {
  padding: 0 0.75rem;
}
.shop-product-info-addon-price + button i {
  margin-left: 0.5rem;
}
