.select2-container--sellix-lng-selector .select2-selection--single {
  display: flex!important;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.select2-container--sellix-lng-selector .select2-selection__rendered {
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  max-width: 90%;
}

.select2-container--sellix-lng-selector .select2-selection__arrow b:before {
  position: relative;
  content: '';
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.2em solid var(--thinColor);
  border-top: 0.2em solid var(--thinColor);
  transform: rotate(135deg);
  margin-right: 0.5em;
}

.select2-container--sellix-lng-selector .select2-dropdown {
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: none;
  border-radius: 4px !important;
}

.select2-container--sellix-lng-selector .select2-results__option {
  padding: 6px;
  display: flex !important;
  align-items: center;
}

.select2-container--sellix-lng-selector .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white
}

.select2-container--sellix-lng-selector .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
