.menu {
  position: relative;
  cursor: pointer;
  /*height: 100%;*/
}

.menu-icon {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 16px;
  color: var(--lightFontColor);
  position: relative;
  cursor: pointer;
}

.menu-icon svg {
  fill: var(--lightFontColor);
  width: 1.5rem;
  height: 1.5rem;
}

.menu-icon span {
  color: #fff;
  padding: 6px;
  height: 18px;
  position: absolute;
  background: var(--brandColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  font-size: 10px;
  font-weight: 600;
  top: 0.5rem;
  left: 2rem;
  z-index: 1;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  min-width: 420px;
  width: auto;
  border-radius: 0.25rem;
  right: 0;
  display: none;
  box-shadow: 0 1px 3px rgba(7, 14, 35, 0.06), 0 2px 8px rgba(7, 14, 35, 0.05);
  background: var(--white);
  border: 1px solid var(--borderColor);
}

.menu-dropdown.open {
  display: flex;
  flex-direction: column;
}

.menu-dropdown-header {
  padding: 1rem;
}

.menu-dropdown-header div {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.menu-dropdown-header span {
  opacity: 0.7;
}

.menu-dropdown-body > div {
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--borderColor);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.menu-dropdown-body > div svg {
  margin-right: .75rem;
}

.menu-dropdown-body > div:first-child {
  border-top: 1px solid var(--borderColor);
}

.menu-dropdown-body > div > div:last-child {
  border-bottom: none;
}

.menu-dropdown-body > div > div:first-child {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.menu-dropdown-body > div img {
  width: 2rem;
  height: 100%;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
}

.menu-dropdown-footer {
  border-top: none;
  margin-top: 0;
  padding: 1rem;
  color: var(--darkFontColor);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.menu-dropdown-footer button {
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--buttonColor);
  font-size: 0.9rem;
  color: var(--lightFontColor);
  border: none !important;
  width: 100%;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
}

.menu-dropdown-footer button svg {
  margin-right: .75rem;
}

.menu-dropdown-item:hover {
  background: var(--backgroundHover);
}

.menu-dropdown-item-info span {
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

.menu-dropdown-item-info i {
  font-size: 21px;
  margin: 0 21px 0 6px;
  color: var(--brandColor);
}

.menu-dropdown-item-remove {
  color: var(--lightFontColor);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
}

.menu-dropdown-item > span {
  padding: 0.5rem;
}

.menu-dropdown-item-buttons {
  display: flex;
  font-size: 14px;
  color: var(--darkFontColor);
}

.menu-dropdown-item-buttons-quantity {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.menu-dropdown-item-buttons svg,
.menu-dropdown-item-buttons i {
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
  display: flex;
  color: var(--lightFontColor);
  fill: var(--lightFontColor);
}

@media (max-width: 768px) {
  .menu {
    position: static;
  }
}

@media (max-width: 420px) {
  .menu-dropdown {
    min-width: 100%;
  }
}

@keyframes customFadeIn {
  from {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }
  to {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
}

.customFadeIn {
  animation-name: customFadeIn;
  animation-duration: 0.4s;
}
