<!DOCTYPE>
<html
  lang="en"
  style="background-color: var(--backgroundColor);"
  class="scroll-hidden"
>
  <head>
    <base href="/">
    <meta charset="utf-8"/>

    {% render_snippet 'Main meta' %}

    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
    <link rel="apple-touch-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="preconnect" href="https://cdn.sellix.io/"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preload" href="{{ 'loader.css' | asset_url }}" as="style"/>
    <link rel="preload" href="{{ 'embed.css' | asset_url }}" as="style"/>

    <link rel="preconnect" href="https://fonts.googleapis.com/"/>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" as="style" >
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% set font = themeProperties.typography.font %}
    {% set backgroundImage = themeProperties.background.background_image %}

    <link href="{{ font.href }}" rel="stylesheet">

    <style>
      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url({{ 'Inter.woff2' | asset_url }}) format("woff2");
      }

      body {
        transition: background 0.9s;
        background-color: #0000;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        font-family: {{ "Inter var" if font.fontFamily == "Inter" else font.fontFamily }},
          {% if font.systemFont == "sans-serif" %}
            sans-serif
          {% elif font.systemFont == "serif" %}
            serif
          {% else %}
            monospace
          {% endif %} !important;

        {% if backgroundImage %}
          background-image: url({{ backgroundImage }});
          background-repeat: no-repeat, no-repeat;
          background-position: top;
          background-size: cover;
        {% endif %}
      }
    </style>

    <link rel="stylesheet" href="{{ 'root-styles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'GuarinoTheme.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'Mobilecustomization.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'fa-icons.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'shop-common-styles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'loader.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'tiny-slider.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'button.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'toastify.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'modal.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'font-awesome.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'badge.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'sellix-text.css' | asset_url }}"/>

    {# Sections #}
    <link rel="stylesheet" href="{{ 'section-header.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-banner.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-menu.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-product-list.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-product-checkout-invoice-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-contact-form.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-feedback-list.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-feedback.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-terms.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-trust.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-ticket.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-invoice-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-delivery-header.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-delivery-info.css' | asset_url }}"/>

    {# Blocks #}
    <link rel="stylesheet" href="{{ 'block-banner-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-banner-stats.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-product-list-filter.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-product-list-items.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-feedback-items.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-feedback-pagination.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-delivery-products-info.css' | asset_url }}"/>

    {# Snippets #}
    <link rel="stylesheet" href="{{ 'snippet-cart.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-text-text-area.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-cards.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-feedback-card.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-addons.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-checkout-product.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-warranty.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-bundles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-bundle-products.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-purchase-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-price-variants.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-invoice-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-invoice-track-badge.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-alert.css' | asset_url }}"/>

    {% set theme = global.common.shopInfo.theme %}
    <style>
      {% render_snippet 'Root css variables' %}
    </style>

    <link rel="stylesheet" href="{{ 'select2.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'purchase.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'invoice.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'magnific-popup.1.1.0.css' | asset_url }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />
    <script src="{{ 'dat.gui.min.js' | asset_url}}"></script>


    <!-- TODO -->
    {{ loadableLink }}
    {{ loadableStyle }}

    <script src="{{ 'jquery.js' | asset_url}}"></script>
    <script src="{{ 'quicklink.umd.js' | asset_url}}"></script>
    <script>/*jQuery(document).ready(() => {quicklink.listen();});*/</script>
    <style>
      .sellix-card-container {
        border-radius: {{ themeProperties.cards.product_card_border_radius }}rem;
        box-shadow: {{ themeProperties.cards.product_card_shadow }};
      }
      .sellix-feedback-card-wrapper {
        border-radius: {{ themeProperties.cards.feedback_card_border_radius }}rem;
        box-shadow: {{ themeProperties.cards.feedback_card_shadow }};
      }
    </style>


  </head>

  <body>


    <div id="app" style="margin-top: 1px">
      <div class="sellix-store">
        {% if global.request.type != 'payment' %}
          {% render_section 'header' %}
        {% endif %}

        <div id="content" class="{{'is-product' if global.request.type == 'product' else ''}}">
        {% render_template 'default' %}
        <canvas></canvas>
        <script type='application/javascript'>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-105392568-1', 'auto');
            ga('send', 'pageview');
        </script>


    <script src="{{ 'script.js' | asset_url}}"></script>
        </div>

        {% if global.request.type != 'payment' %}
          {% render_section 'footer' %}
        {% endif %}
      </div>

    </div>

    <div id="modal">

    </div>

    <script>
      window.__RENDER_CONTEXT__ = {{ global | dump | safe | replace('\u003c', '<') }};
      window.RECAPTCHA_PUBLIC_KEY = window.__RENDER_CONTEXT__.config.CAPTCHA_SITE_KEY_V3;
    </script>

    {{ loadableScript }}

    <script type='application/javascript'>
      (function() {
        $(document).ready(function () {
          setTimeout(function () {
            var html = document.documentElement.classList;
            var $loader = $('#loader');
            if($loader) {
              $loader.remove();
            }
            html.remove('scroll-hidden');
          }, 500);
        });
      })();
    </script>


    {% render_snippet 'Social Links' %}

    <script type='application/javascript'>
      // Simple toastify handler
      $(document).ready(function () {
        $(document).on('SellixToastify', function(e, eventInfo) {
          const toastifyContainer = $(`
            <div class="toastify-container">
              <div class="toastify-container-title ${eventInfo.type}">
                <i class="toastify-container-title-icon fa-solid ${eventInfo.type === 'success' ? "fa-check" : "fa-xmark"}"></i>
                <div class="toastify-container-message">
                  ${eventInfo.text}
                </div>
              </div>
              <div class="toastify-container-note">
                ${eventInfo.type === 'success'
                  ? 'Your action has been completed, the resources have been updated.'
                  : 'An error happened while trying to access one of your resources.'
                }
              </div>
            </div>
          `)[0];

          const toast = Toastify({
            duration: 5000,
            selector: 'content',
            offset: {
              x: '1rem',
              y: '70px',
            },
            node: toastifyContainer,
            gravity: "top",
            position: "right",
            onClick: function() {
              if (toast) {
                toast.hideToast();
              }
            }
          }).showToast();
        });
      });
    </script>

    <script type='application/javascript'>
      $(document).ready(function() {
        const name = '{{ global.common.shopInfo.shop.name }}';
        sellixApi.ping(name);
      });
    </script>

    {% render_snippet 'App crisp chat' %}
    {% render_snippet 'App helpspace' %}

    <script src="https://www.google.com/recaptcha/api.js?render={{global.config.CAPTCHA_SITE_KEY_V3}}"></script>
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.8.1/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <script src='https://unpkg.com/react-player/dist/ReactPlayer.standalone.js'></script>

    <script src='{{ 'js.cookie.min.js' | asset_url }}'></script>
    <script src="{{ 'copy-to-clipboard.min.js' | asset_url }}"></script>
    <script src="{{ 'file-saver.min.js' | asset_url }}"></script>
    <script src="{{ 'ripple.js' | asset_url }}"></script>
    <script src="{{ 'react-simple-star-rating.js' | asset_url }}"></script>
    <script src="{{ 'select2.js' | asset_url }}"></script>
    <script src="{{ 'purchase.js' | asset_url }}"></script>
    <script src="{{ 'invoice.js' | asset_url }}"></script>
    <script src="{{ 'magnific-popup.1.1.0.min.js' | asset_url }}"></script>

    <script src="{{ 'sellix-api.js' | asset_url }}"></script>
    <script src="{{ 'sellix-context.js' | asset_url }}"></script>
    <script src="{{ 'sellix-helper.js' | asset_url }}"></script>
    <script src="{{ 'sellix-cart-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-addons-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-price-variants-store.js' | asset_url }}"></script>
    <script src="{{ 'sellix-cart-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-cart-product-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-addons-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-bundle-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-checkout-products-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-checkout-product-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-feedback-pagination-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-feedback-pagination.js' | asset_url }}"></script>
    <script src="{{ 'sellix-invoice-products-info-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-product-count-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-price-variants-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-purchase-details-component.js' | asset_url}}"></script>
    <script src="{{ 'sellix-invoice-details-component.js' | asset_url}}"></script>
    <script src="{{ 'sellix-contact-form-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-ticket-component.js' | asset_url }}"></script>
    <script src="{{ 'sellix-leave-feedback-component.js' | asset_url }}"></script>

    {% if global.cookiePolicy.enabled %}
      <div id="sellix-cookie-modal"></div>
      <script type="text/javascript" src="{{ 'cookie-modal.js' | asset_url }}" charset="UTF-8"></script>
      <link rel="stylesheet" href="{{ 'cookie-modal.css' | asset_url }}" />
      <script type="text/javascript">
        (function (document, window, jQuery, React, ReactDOM) {
          jQuery(document).ready(() => {
            ReactDOM.render(
              React.createElement(window.CookieModal, {
                shop: '{{ global.common.shopInfo.shop.name }}',
                googleAnalyticsTrackingId: '{{ global.common.shopInfo.shop.google_analytics_tracking_id }}',
              }),
              document.querySelector("#sellix-cookie-modal"),
            );
          });
        })(document, window, jQuery, React, ReactDOM);
      </script>
    {% endif %}

  {% render_snippet 'App google analytics' %}

  </body>
</html>