<style>
  .{{ globalClass }}__error-title {
    color: {{ properties.404_heading_font_color | get_color }};
    font-size: {{ properties.404_heading_font_size }}px;
    font-weight: {{ properties.404_heading_font_weight }};
    line-height: {{ properties.404_heading_line_height }}%;
  }

  .{{ globalClass }}__error-description {
    color: {{ properties.404_description_font_color | get_color }};
    font-size: {{ properties.404_description_font_size }}px;
    font-weight: {{ properties.404_description_font_weight }};
    line-height: {{ properties.404_description_line_height }}%;
  }
</style>

<div class="{{ globalClass }}__wrapper">

  {% render_snippet 'Icons: 404' %}

  <h2 class="{{ globalClass }}__error-title">
    Error 404: {{ properties.404_heading_text | t }}
  </h2>

  <h4 class="{{ globalClass }}__error-description">
    {{ properties.404_description_text | t }}
  </h4>

  {% render_snippet 'Shared: Link button',
      properties={
        label: properties.404_button_title | t,
        url: "/",
        button_style: 'primary btn btn-primary rounded-0'
      }
  %}
</div>
