{% set layoutId = args.layoutId or uid() %}
{% set localClass = id %}

{% set menuProps = themeProperties.mobile_menu %}
{% set shopInfo = themeProperties.common %}
{% set shop = global.common.shopInfo.shop %}
{% set subscription = global.common.shopInfo.subscription %}

{% set fullWidth = safe_get(properties.fullwidth, false) %}
{% set showCurrency = safe_get(properties.show_currency_selector, true) %}
{% set showLocale = safe_get(properties.show_language_selector, true) %}

{% set shadow = safe_get(properties.shadow, 'none') %}
{% set showBorder = safe_get(properties.show_border, true) %}

{% set shopName = safe_get(shopInfo.shop_name, shop.name) %}
{% set shopNameFontColor = safe_get(properties.shop_name_font_color, 'dark_font_color') | get_color %}
{% set shopNameFontSize = safe_get(properties.shop_name_font_size, 18) %}
{% set shopNameFontWeight = safe_get(properties.shop_name_font_weight, 700) %}
{% set shopNameLineHeight = safe_get(properties.shop_name_line_height, 20) %}

<style>

.{{ localClass }}__shop-name {
  color: {{ shopNameFontColor }};
  font-size: {{ shopNameFontSize }}px;
  font-weight: {{ shopNameFontWeight }};
  line-height: {{ shopNameLineHeight }}px;
}

</style>

<header id="sellix-header-{{ layoutId }}" class="{{ globalClass }}__header {{ localClass }}__header {{ 'full-width' if fullWidth else 'content-width' }}" style="
    box-shadow: {{ shadow }};
    border-bottom: {{ '1px solid var(--borderColorLight)' if showBorder else 'none' }};
">
  <div class="header__container">
    <div class="header-left">
      <div class="sidebar-toggler" style="color: {{ shopNameFontColor }};">
        {% render_snippet 'Burger button', localClass=('sellix-header-' ~ id), properties={'color': menuProps.menu_icon_font_color} %}
      </div>
      {% for block_name in settings.block_order %}
        {% set block = settings.blocks[block_name] %}
        {% if block.name == 'Image' %}
          <div class="section-header__logo">
            {% render_block block_name %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="header-center">
      {% for block_name in settings.block_order %}
        {% set block = settings.blocks[block_name] %}
        {% if block.name == 'Menu' %}
          <div class="menu-block">
            {% render_block block_name %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="header-right">
      {% if showCurrency %}
        <div class="currency-selector">
          {% render_snippet 'Currency selector', properties=properties %}
        </div>
      {% endif %}
      {% if showLocale %}
        <div class="language-selector">
          {% render_snippet 'Language selector', properties=properties %}
        </div>
      {% endif %}
      {% for block_name in settings.block_order %}
        {% set block = settings.blocks[block_name] %}
        {% if block.name == 'Cart' and global.request.type != 'invoice' %}
          <div class="cart-selector">
            {% render_block block_name %}
          </div>
        {% elif block.name == 'Customer login' %}
          <div class="login-block">
            {% render_block block_name %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</header>

<script>
  $(document).ready(function() {
    const $header = $('#sellix-header-{{ layoutId }}');
    $header.find('.sidebar-toggler').on('click', function() {
      const $mobileMenu = $('.snippet-mobile-sidebar-menu');
      const $toggler = $(this);

      $mobileMenu.toggleClass('open');
      $toggler.toggleClass('open');

      if ($mobileMenu.hasClass('open')) {
        window.sellixHelper.disableScroll();
        $(document).trigger('SellixMobileMenu', { action: 'open' });
      } else {
        window.sellixHelper.enableScroll();
        $(document).trigger('SellixMobileMenu', { action: 'close' });
      }
    });
  });
</script>
