{% set id = uid() %}

<svg xmlns="http://www.w3.org/2000/svg" width="198" height="158" viewBox="0 0 198 158" fill="none">
  <g filter="url(#filter0_{{ id }})">
    <rect x="7" y="5" width="184" height="120" rx="8" fill="white"/>
  </g>
  <mask id="mask0_10272_146609" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="5" width="184" height="120">
    <rect x="7" y="5" width="184" height="120" rx="8" fill="white"/>
  </mask>
  <g mask="url(#mask0_10272_146609)">
    <rect x="19" y="17" width="76" height="40" rx="4" fill="#E9EDF0"/>
    <rect x="19" y="65" width="62" height="6" rx="3" fill="#E9EDF0"/>
    <rect x="19" y="75" width="45" height="4" rx="2" fill="#F5F7F8"/>
    <rect x="19" y="87" width="76" height="40" rx="4" fill="#F5F7F8"/>
    <rect x="103" y="17" width="76" height="40" rx="4" fill="#F5F7F8"/>
    <rect x="103" y="65" width="62" height="6" rx="3" fill="#E9EDF0"/>
    <rect x="103" y="75" width="45" height="4" rx="2" fill="#F5F7F8"/>
    <rect x="103" y="87" width="76" height="40" rx="4" fill="#E9EDF0"/>
    <rect x="7" y="69" width="184" height="56" rx="8" fill="url(#paint0_{{ id }})"/>
  </g>
  <g filter="url(#filter1_{{ id }})">
    <circle cx="99" cy="125" r="24" fill="#ECEAFD"/>
    <circle cx="99" cy="125" r="23.5" stroke="#DBD8FC"/>
  </g>
  <path d="M99 117L91 121L99 125L107 121L99 117Z" stroke="#6A3CE2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M91 125L99 129L107 125" stroke="#6A3CE2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M91 129L99 133L107 129" stroke="#6A3CE2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <defs>
    <filter id="filter0_{{ id }}" x="0" y="0" width="198" height="134" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect1_dropShadow_10272_146609"/>
      <feOffset dy="2"/>
      <feGaussianBlur stdDeviation="4"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.027451 0 0 0 0 0.054902 0 0 0 0 0.137255 0 0 0 0.05 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_10272_146609"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="1"/>
      <feGaussianBlur stdDeviation="1.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.027451 0 0 0 0 0.054902 0 0 0 0 0.137255 0 0 0 0.06 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_10272_146609" result="effect2_dropShadow_10272_146609"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_10272_146609" result="shape"/>
    </filter>
    <filter id="filter1_{{ id }}" x="68" y="96" width="62" height="62" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feMorphology radius="1" operator="erode" in="SourceAlpha" result="effect1_dropShadow_10272_146609"/>
      <feOffset dy="2"/>
      <feGaussianBlur stdDeviation="4"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.027451 0 0 0 0 0.054902 0 0 0 0 0.137255 0 0 0 0.05 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_10272_146609"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="1"/>
      <feGaussianBlur stdDeviation="1.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.027451 0 0 0 0 0.054902 0 0 0 0 0.137255 0 0 0 0.06 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_10272_146609" result="effect2_dropShadow_10272_146609"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_10272_146609" result="shape"/>
    </filter>
    <linearGradient id="paint0_{{ id }}" x1="99" y1="69" x2="99" y2="125" gradientUnits="userSpaceOnUse">
      <stop offset="0%" stop-color="white" stop-opacity="0"/>
      <stop offset="100%" stop-color="white"/>
    </linearGradient>
  </defs>
</svg>
