{% set shop = global.common.shopInfo.shop %}
{% for section in settings.section_order %}
  {% render_section section %}
{% endfor %}

<script src="https://cdn-theme.mysellix.io/external-packages/jquery.validate.min.js"></script>
