{% set shop = global.common.shopInfo.shop %}
{% set role = args.role %}
{% set customerEmail = args.customer_email %}
{% set message = args.message %}
{% set properties = args.properties %}
{% set created_at = args.created_at * 1000 %}
{% set colors = themeProperties.current_colors %}

{% set globalClass = 'snippet-ticket-message' %}
{% set localClass = id %}

<div data-id="{{ role }}-{{ args.created_at }}" class="{{ globalClass }}__message">
  <div class="{{ globalClass }}__image {{'merchant' if role === 'SHOP'}}">
    {% if role == 'CUSTOMER' %}
      {{ customerEmail.slice(0, 1) | capitalize if customerEmail else 'C' }}
    {% else %}
      M
    {% endif %}
  </div>

  <div class="d-flex flex-column">
    <div class="{{ globalClass }}__message-item">
      <div class="{{ globalClass }}__message-name">
        {% if role == 'CUSTOMER' %}
          {{ customerEmail if customerEmail else ('shop.ticket.senders.you' | t) }}
        {% else %}
          {{ shop.name }}
        {% endif %}
      </div>

      <div class="{{ globalClass }}__message-date">
        {{created_at | date_format('fromNow')}}
      </div>
    </div>

    <div class="{{ globalClass }}__message-text">
      {{message}}
    </div>
  </div>
  <div class="{{ globalClass}}__badge {{ 'd-none' if role == 'CUSTOMER' }}">
    {% render_snippet 'Tag', tag='Shop' %}
  </div>
</div>
