<footer>
    <div
      class="sellix-footer-v2"
      style="background: {{ 'linear-gradient(270deg, #7040F2 0%, #AE8FFF 100%)' if properties.footer_pink_gradient}}; {#
      #} width: 100%;{#
      #} height: 600px;{#
      #} left: 0;{#
      #} display: grid; {#
      #} align-items: center; {#
      #} justify-content: center;" >
        {% for block_name in settings.block_order %}
            {%- render_block block_name -%}
            {% endfor%}
            <div class="footer-text-custom" style="text-align: center; color: #C5C2D0;">
                 {{ properties.footer_text | safe }}       
            </div>

        </div>

    </footer>