<style>

  .sellix-grid {
    column-gap: {{properties.grid_column_gap}}px;
    margin-bottom: {{properties.grid_margin}}px;
    border: {{"1px solid var(--borderColor)" if properties.show_banner_border else "none"}};
    background-color: {{colors[properties.grid_background_color]}};
    padding: {{properties.grid_padding}}px;
    box-shadow: {{properties.grid_shadow}};
    margin-bottom: {{properties.grid_margin}}px;
  }
</style>

<div class="sellix-grid">
  {% for block_name in settings.block_order %}
    {%- render_block block_name -%}
    {% endfor%}
  </div>
  <script src="{{ 'script2.js' | asset_url}}"></script>