{% set shop = global.common.shopInfo.shop %}
{% set subscription = global.common.shopInfo.subscription %}
{% set colors = themeProperties.current_colors %}

<style>
  .sellix-header {
    background: {{ colors[properties.header_background_color] }}!important;
    height: {{properties.logo_image_height}};
    padding-top: {{properties.header_padding_top}}px;
    padding-bottom: {{properties.header_padding_bottom}}px;
  }

  .sellix-header-in {
    position: {{'absolute' if properties.header_fluid_row else 'relative'}};
    left: 0;
    display: flex;
    align-items: center;
    justify-content: {{properties.logo_alignment}};
    width: 100%;
    height: 100%;

  }
  header{
        background: {{ colors[properties.header_background_color] }}!important;
        height: {{properties.header_height}}px!important;
}
</style>

<header>
  <!-- <Status /> -->
  <div class="sellix-header">
    
    <div class="sellix-header-in">
    {% if global.request.type in ['main', 'group', 'contact', 'terms', 'trust', 'feedbacks', 'feedback', 'category'] %}
      {% render_snippet 'Shop message', container_selector=["sellix-header-", id] | join %}
    {% endif %}
      {% if properties.logo_image %}
        <a href="/">
          <div class="sellix-header-logo-image">
            <img
              style="max-height: {{ properties.logo_image_height }}px;"
              src="{{ properties.logo_image }}"
              alt="{{ shop.name }}"
            >
          </div>
        </a>
      {% endif %}

        <div class="sellix-header-shop-name" style="text-align: {{ properties.shop_name_text_align }};">
          {% for block_name in settings.block_order %}
           {%- render_block block_name -%}
          {% endfor%}
          </a>
        </div>
      </div>


      <div class="sellix-header-cart">
          {% render_snippet 'Cart', properties = properties %}
      </div>
    </div>
  </header>