<style>

.sellix-info {
  max-width: 1440px;
  height: 654px;
  width: 100%;
  margin: 30 auto 150;
  display: grid;
  grid-template-columns: auto auto auto;
  box-shadow: {{ properties.info_shadow }};
  z-index: 2;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}

</style>
  <div class="sellix-info">
  {% for block_name in settings.block_order %}
      {%- render_block block_name -%}
  {% endfor%}
  </div>
