{% set product = global.common.productInfo.product %}
{% set id = uid() %}
<div class="sellix-product-screen" style="margin-top:60px!important; max-width: 1700px!important;">
    <div class="shop-product-container" style="justify-content: center!important;">
            {% for block_name in settings.block_order %}
            <div class="Noncapiscotuttiquesticontainer">
            {% render_block block_name %}
            </div>
           {% endfor %}
    </div>
</div>