<div class="products-right-sidebar">
  <div class="sellix-right-sidebar-container">
    {% for block_name in settings.block_order %}
      {%- render_block block_name -%}
    {% endfor%}
  </div>
</div>
