{% set id = uid() %}
{% set messageId = uid() %}
{% set submitId = uid() %}
{% set title = global.common.ticketInfo.data.query.title %}
{% set invoice_id = global.common.ticketInfo.data.query.invoice_id %}
{% set messages = global.common.ticketInfo.data.query.messages %}
{% set colors = themeProperties.current_colors %}

<div
  class="reply-screen shop animated fadeIn"
  style="margin-bottom: 1rem; border-radius: 0.5rem"
>
  <div
    class="container"
    style="background: {{ colors[properties.ticket_container_background_color] }}; border: {{ "1px solid var(--borderColor)" if properties.ticket_container_show_border else "none" }}; padding: {{ properties.ticket_container_padding }}px"
  >
    <div class="screen-header">
      <div class="screen-title-container" style="justify-content: {{ properties.ticket_title_text_align }};">
        <div>
          <h1
            class="screen-title back"
            style="color: {{ colors[properties.ticket_title_font_color] }}; font-size: {{ properties.ticket_title_font_size }}px; font-weight: {{ properties.ticket_title_font_weight }};"
          >
            Ticket: <span style="font-weight: 400; font-size: 20px; margin-left: 1rem;">{{title}}</span>
          </h1>
        </div>
      </div>
    </div>

    <div class="reply-screen-container">
      <form
        id="ticket-form-{{id}}"
        class="reply-screen-form {{'invoice w-70' if invoice_id else 'w-100'}}"
        style="background: #16132c!important; border: {{ "1px solid var(--borderColor)" if properties.ticket_chat_show_border else "none" }};"
      >
        <div class="reply-screen-message-container">
          {% for item in messages %}
            {% set role = item.role %}
            {% set message = item.message %}
            {% set created_at = item.created_at %}
            {% render_snippet 'Ticket Message', role=role, message=message, created_at=created_at, properties=properties %}
          {% endfor %}
        </div>

        <div class="reply-screen-send-form-container">
            {% render_snippet 'Text area', selector=messageId, name="message", placeholder="Type a message", wrapperclass="reply-screen-send-form", rows=2, textAreaHeight="66px", autoresize=true, wrapperClassName="reply-screen-send-form", parentHeight="66px" %}
            <i class="fa-solid fa-paper-plane-top cursor-pointer" id="ticket-submit-{{submitId}}"></i>
        </div>
      </form>
    </div>
  </div>
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    const ticketComponent = new SellixTicketComponent(
      '#ticket-form-{{id}}',
      '{{messageId}}',
      '{{submitId}}',
      '{{global.common.ticketInfo.data.query.uniqid}}',
      {{renderOptions | dump | safe}}
    );
  });
</script>