{% set id = uid() %}
{% set properties = args.properties %}

{% set globalClass = 'snippet-multy-columns__image' %}
{% set localClass = id %}

<style>
  .{{ localClass }} {
    width: {{ properties.size }}px;
    height: {{ properties.size }}px;
  }
</style>

<div>
  <img class="{{ localClass }}" src='{{properties.url | asset_url}}' alt=''>
</div>
