{% set id = uid() %}
{% set colors = themeProperties.current_colors %}

<style>
  .sellix-faq-container-{{ id }} {
    color: {{ colors[properties.faq_font_color] if properties.faq_font_color else 'inherit' }} !important;
    font-size: {{ properties.faq_font_size }}px !important;
    font-weight: {{ properties.faq_font_weight }} !important;
    text-align: {{ properties.faq_text_align }} !important;
  }
</style>

<div class="sellix-faq-container sellix-faq-container-{{ id }}">
  <div class="sellix-faq-title sellix-text">
    <div>
        {{ properties.faq | t }}
    </div>
  </div>
  <div class="accordion sellix-faq-accordion">
    {% for block_name in settings.block_order %}
      {% set itemId = uid() %}
      <div class="sellix-faq-accordion-item sellix-faq-accordion-item-{{ itemId }}" data-faq-item-id="{{ itemId }}">
        {%- render_block block_name -%}
      </div>
    {% endfor%}
  </div>
</div>

<script type='application/javascript'>
  $(document).ready(function() {
    let activeItemId, activeNestedItemId;
    function toggleAccordion($item) {
      const itemId = $item.data('faq-item-id');

      if (activeItemId) {
        const $itemToHide = $(`.sellix-faq-accordion-item-${activeItemId}`);
        const nestedItemIdToHide = $itemToHide.find('.accordion-item').data('faq-item-id')
        if (nestedItemIdToHide === activeNestedItemId) {
          $itemToHide.find('.answer-content').animate(
            { height: '0px', overflow: 'hidden' },
            { duration: 300, queue: false },
          );
        } else {
          activeItemId = undefined;
          activeNestedItemId = undefined;
        }
      }

      if (itemId !== activeItemId) {
        activeItemId = itemId;
        activeNestedItemId = $item.find('.accordion-item').data('faq-item-id')
        const $itemContent = $item.find('.answer-content');
        $itemContent.animate(
          { height: $itemContent.get(0).scrollHeight, overflow: 'initial' },
          { duration: 300, queue: false },
        );
      } else {
        activeItemId = undefined;
      }
    }

    $('.sellix-faq-accordion .sellix-faq-accordion-item').on('click', function() {
      toggleAccordion($(this));
    });
  });
</script>
