{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set cartEnabled = themeProperties.cart.is_enabled %}
{% set subscription = global.common.shopInfo.subscription %}
{% set colors = themeProperties.current_colors %}

{% set backgroundColor = properties.header_background_color if properties.header_background_color is defined else 'background_main_color' %}

<header style="background-color: {{ colors[backgroundColor] }}">
  <!-- <Status /> -->
  <div class="sellix-header" id="sellix-header-{{ id }}">
    {% if global.request.type in ['main', 'group', 'contact', 'terms', 'trust', 'feedbacks', 'feedback', 'category'] %}
      {% render_snippet 'Shop message', container_selector=["sellix-header-", id] | join %}
    {% endif %}

    <div style="display: flex; align-items: center; flex: 1; height: 100%;">
      {% if properties.logo_image %}
        <a href="">
          <div class="sellix-header-logo-image">
            <img
              style="max-height: {{ properties.logo_image_height }}px;"
              src="{{ properties.logo_image }}"
              alt="{{ shop.name }}"
            >
          </div>
        </a>
      {% endif %}

      <div class="sellix-header-shop-name" style="text-align: {{ properties.shop_name_text_align }};{{ 'left: 0;position: absolute;' if properties.shop_name_text_align == 'center' }}">
        <a href="" style="width: 230px;align-items: center;height: 100%;padding: 0 1rem 0 0;">
          <span style="color: {{ colors[properties.shop_name_font_color] if properties.shop_name_font_color else 'inherit' }}; font-size: {{ properties.shop_name_font_size }}px; font-weight: {{ properties.shop_name_font_weight }};">
            {% if properties.shop_name %}
              {{ properties.shop_name }}
            {% else %}
              {{shop.name}}
            {% endif %}
          </span>
        </a>
      </div>
    </div>

    <div style='padding-right: 1rem'>
      {% render_snippet 'Language selector', properties=properties %}
    </div>

    <div class="sellix-header-cart">
      {% if cartEnabled %}
        {% render_snippet 'Cart', properties=properties %}
      {% endif %}
    </div>
  </div>
</header>
