{% set id = uid() %}
{% set colors = themeProperties.current_colors %}

<style>
  .shop-info-{{ id }} {
    margin-top: 2rem;
  }
</style>

<div>
  {% render_snippet 'Shop info',
    colors=colors,
    properties=properties,
    classes=['sellix-product-screen shop-product-info-shop', ' ', 'shop-info-', id] | join
  %}
</div>
