{% set fullWidth = safe_get(properties.fullwidth, false) %}
{% set bgColor = properties.background_color %}
{% set marginTopDesktop = safe_get(properties.margin_top_desktop, 0) %}
{% set marginBottomDesktop = safe_get(properties.margin_bottom_desktop, 120) %}
{% set paddingTopDesktop = safe_get(properties.padding_top_desktop, 0) %}
{% set paddingBottomDesktop = safe_get(properties.padding_bottom_desktop, 0) %}
{% set paddingHorizDesktop = safe_get(properties.padding_horiz_desktop, 0) %}
{% set marginTopTablet = safe_get(properties.margin_top_tablet, 0) %}
{% set marginBottomTablet = safe_get(properties.margin_bottom_tablet, 60) %}
{% set paddingHorizTablet = safe_get(properties.padding_horiz_tablet, 0) %}
{% set paddingTopTablet = safe_get(properties.padding_top_tablet, 0) %}
{% set paddingBottomTablet = safe_get(properties.padding_bottom_tablet, 0) %}
{% set marginTopMobile = safe_get(properties.margin_top_mobile, 0) %}
{% set marginBottomMobile = safe_get(properties.margin_bottom_mobile, 60) %}
{% set paddingHorizMobile = safe_get(properties.padding_horiz_mobile, 130) %}
{% set paddingTopMobile = safe_get(properties.padding_top_mobile, 400) %}
{% set paddingBottomMobile = safe_get(properties.padding_bottom_mobile, 400) %}

{% set itemsGap = safe_get(items_gap, 8) %}

{% set localClass = id %}

<style>
  .sellix-section.{{ globalClass}}-global-{{ id }} {
    background-color: {{ bgColor | get_color }};
  }

  .{{ localClass }}__container {
    margin-top: {{ marginTopDesktop }}px;
    margin-bottom: {{ marginBottomDesktop }}px;
    padding: {{ paddingTopDesktop }}px {{ paddingHorizDesktop }}px {{ paddingBottomDesktop }}px {{ paddingHorizDesktop }}px;
  }

  @media (max-width: 768px) {
    .{{ localClass }}__container {
      padding: {{ paddingTopTablet }}px {{ paddingHorizTablet }}px {{ paddingBottomTablet }}px {{ paddingHorizTablet }}px;
      margin-top: {{ marginTopTablet }}px;
      margin-bottom: {{ marginBottomTablet }}px;
    }
  }

  @media (max-width: 640px) {
    .{{ localClass }}__container {
      padding: {{ paddingTopMobile }}px {{ paddingHorizMobile }}px {{ paddingBottomMobile }}px {{ paddingHorizMobile }}px;
      margin-top: {{ marginTopMobile }}px;
      margin-bottom: {{ marginBottomMobile }}px;
    }
  }
  .{{ localClass }}__item {
    margin-bottom: {{ itemsGap }}px;
  }
</style>

<div class="{{ globalClass }}__container {{ localClass }}__container {{ 'full-width' if fullWidth else 'content-width' }}">
  {% for block_name in settings.block_order %}
    {% set itemId = uid() %}
    <div class="={{ globalClass}}__item {{ localClass }}__item" data-faq-item="1" data-faq-item-id="{{ itemId }}">
      <div class="{{ globalClass }}__item-content {{ localClass }}__item-content">
        {%- render_block block_name -%}
      </div>
    </div>
  {% endfor%}
</div>

<script type='application/javascript'>
  $(document).ready(function() {
    const component = new window.SellixFAQComponent('.{{ localClass }}__container');
  });
</script>