{% set shop = global.common.shopInfo.shop %}
{% set colors = themeProperties.current_colors %}

<div class="row mt-24">
    {% if properties.portfolio_competences_main_1 %}
    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in">
        <div class="about-edc-exp about-experience shadow-box">
            <h3 style="
                color: {{ colors[properties.portfolio_competence_main_1_font_color] }}; 
                font-size: {{properties.portfolio_competence_main_1_font_size }}px; 
                font-weight: {{ properties.portfolio_competence_main_1_font_weight }};">

                {{ properties.portfolio_competences_main_1 }}

            </h3>
            <ul>
                {% if properties.portfolio_competence_1_pre_header_custom_text %}
                <li>
                    <p class="date" style="
                        color: {{ colors[properties.portfolio_competence_1_pre_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_1_pre_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_1_pre_header_font_weight }};">

                            {{ properties.portfolio_competence_1_pre_header_custom_text }}

                    </p>

                    {% if properties.portfolio_competence_1_header_custom_text %}
                    <h2 style="
                        color: {{ colors[properties.portfolio_competence_1_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_1_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_1_header_font_weight }};">

                            {{ properties.portfolio_competence_1_header_custom_text }}

                    </h2>
                    {% endif %}

                    {% if properties.portfolio_competence_1_sub_header_custom_text %}
                    <p class="type"
                        style="
                        color: {{ colors[properties.portfolio_competence_1_sub_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_1_sub_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_1_sub_header_font_weight }};">

                            {{ properties.portfolio_competence_1_sub_header_custom_text }}

                    </p>
                    {% endif %}

                </li>
                {% endif %}

                {% if properties.portfolio_competence_2_pre_header_custom_text %}
                <li>
                    <p class="date" style="
                        color: {{ colors[properties.portfolio_competence_2_pre_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_2_pre_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_2_pre_header_font_weight }};">

                            {{ properties.portfolio_competence_2_pre_header_custom_text }}

                    </p>
                    
                    {% if properties.portfolio_competence_2_header_custom_text %}
                    <h2 style="
                        color: {{ colors[properties.portfolio_competence_2_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_2_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_2_header_font_weight }};">

                            {{ properties.portfolio_competence_2_header_custom_text }}

                    </h2>
                    {% endif %}

                    {% if properties.portfolio_competence_2_sub_header_custom_text %}
                    <p class="type"
                        style="
                        color: {{ colors[properties.portfolio_competence_2_sub_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_2_sub_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_2_sub_header_font_weight }};">

                            {{ properties.portfolio_competence_2_sub_header_custom_text }}

                    </p>
                    {% endif %}
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
    {% endif %}

    {% if properties.portfolio_competences_main_2 %}
    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in">
        <div class="about-edc-exp about-education shadow-box">

            <h3 style="
                color: {{ colors[properties.portfolio_competence_main_2_font_color] }}; 
                font-size: {{properties.portfolio_competence_main_2_font_size }}px; 
                font-weight: {{ properties.portfolio_competence_main_2_font_weight }};">

                {{ properties.portfolio_competences_main_2 }}

            </h3>

            <ul>
                {% if properties.portfolio_competence_3_pre_header_custom_text %}
                <li>
                    <p class="date" style="
                        color: {{ colors[properties.portfolio_competence_3_pre_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_3_pre_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_3_pre_header_font_weight }};">

                            {{ properties.portfolio_competence_3_pre_header_custom_text }}

                    </p>

                    {% if properties.portfolio_competence_3_header_custom_text %}
                    <h2 style="
                        color: {{ colors[properties.portfolio_competence_3_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_3_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_3_header_font_weight }};">

                            {{ properties.portfolio_competence_3_header_custom_text }}

                    </h2>
                    {% endif %}

                    {% if properties.portfolio_competence_3_sub_header_custom_text %}
                    <p class="type"
                        style="
                        color: {{ colors[properties.portfolio_competence_3_sub_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_3_sub_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_3_sub_header_font_weight }};">

                            {{ properties.portfolio_competence_3_sub_header_custom_text }}

                    </p>
                    {% endif %}

                </li>
                {% endif %}

                {% if properties.portfolio_competence_4_pre_header_custom_text %}
                <li>
                    <p class="date" style="
                        color: {{ colors[properties.portfolio_competence_4_pre_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_4_pre_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_4_pre_header_font_weight }};">

                            {{ properties.portfolio_competence_4_pre_header_custom_text }}

                    </p>
                    
                    {% if properties.portfolio_competence_4_header_custom_text %}
                    <h2 style="
                        color: {{ colors[properties.portfolio_competence_4_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_4_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_4_header_font_weight }};">

                            {{ properties.portfolio_competence_4_header_custom_text }}

                    </h2>
                    {% endif %}

                    {% if properties.portfolio_competence_4_sub_header_custom_text %}
                    <p class="type"
                        style="
                        color: {{ colors[properties.portfolio_competence_4_sub_header_font_color] }}; 
                        font-size: {{properties.portfolio_competence_4_sub_header_font_size }}px; 
                        font-weight: {{ properties.portfolio_competence_4_sub_header_font_weight }};">

                            {{ properties.portfolio_competence_4_sub_header_custom_text }}

                    </p>
                    {% endif %}
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
    {% endif %}
</div>