{% set currencyOptions = global.config.CURRENCY_OPTIONS[args.currency] %}
{% set digits = args.digits if args.digits is defined else 2 %}

{% if args.priceVariants %}
  {% set minPrice = null %}
  {% for variant in args.priceVariants %}
    {% if minPrice === null or variant.price < minPrice %}
      {% set minPrice = variant.price %}
    {% endif %}
  {% endfor %}
  {% set productPrice = minPrice %}
{% else %}
  {% set productPrice = args.price %}
{% endif %}

{% set price = ((productPrice - productPrice * args.discount / 100) | to_decimal_precision(2) if args.discount else productPrice) | to_decimal_precision(digits) %}

{% if currencyOptions.type === 'fiat' %}
  {{currencyOptions.symbol}}{{ price }}
{% else %}
  {% if currencyOptions.imgUrl %}
    <img alt="{{ currencyOptions.title }}" style="height:20px;width: 20px;" class="mr-2" src="{{ currencyOptions.imgUrl }}" />
  {% endif %}
  {{ price }} {{currencyOptions.symbol}}
{% endif %}
