.block-purchase-details .sellix-product-card {
  max-width: none;
  border-radius: 0;
  border: none;
  padding: 0;
}

.block-purchase-details .gateway-container .active {
  border-color: var(--borderActiveColor);
}

.block-purchase-details .gateway-container .gateway-list-item.active {
  border-color: var(--borderActiveColor);
}

.block-purchase-details .coupon-form .coupon-form-input-wrapper {
  width: 100%;
}

.block-purchase-details .add-to-cart-button .add-to-cart-input-wrapper select {
  max-height: none;
  height: 100%;
}

.block-purchase-details .sellix-stock-count {
  height: 100%;
  padding: 0.5rem 0.75rem;
}

.block-purchase-details .sellix-stock-count .sellix-stock-count-input-wrapper input {
  width: 70px;
  font-weight: 500;
}
.block-purchase-details .sellix-stock-count .sellix-stock-count-picker {
  font-size: 16px;
}
