.block-purchase-details .sellix-product-card {
  max-width: none;
  border-radius: 0;
  border: none;
  padding: 0;
}

.block-purchase-details .gateway-container .active {
  border-color: var(--borderActiveColor);
}

.block-purchase-details .gateway-container .gateway-list-item.active {
  border-color: var(--borderActiveColor);
}

.block-purchase-details .coupon-form .coupon-form-input-wrapper {
  width: 100%;
}

.block-purchase-details .add-to-cart-button .add-to-cart-input-wrapper select {
  max-height: none;
  height: 100%;
}

.block-purchase-details .sellix-stock-container {
  align-items: end;
}

.block-purchase-details .sellix-stock-container .sellix-stock-total {
  color: var(--black4);
  opacity: 1;
}

.block-purchase-details .sellix-stock-count {
  height: 100%;
  padding: 0.5rem 0.75rem;
}

.block-purchase-details .sellix-stock-count .sellix-stock-count-input-wrapper input {
  width: 70px;
  font-weight: 500;
}
.block-purchase-details .sellix-stock-count .sellix-stock-count-picker {
  font-size: 16px;
}

.block-purchase-details .sellix-product-form-field .sellix-input-with-currency-wrapper {
  position: relative;
}

.block-purchase-details .sellix-product-form-field .sellix-input-with-currency-wrapper .currency-title {
  top: 1px;
}

.block-purchase-details .sellix-product-form-field .currency-title {
  width: auto;
  height: 42px;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--backgroundAccentLight);
  color: var(--darkFontColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.block-purchase-details .sellix-product-form-field .sellix-input {
  border-radius: 0.5rem;
  height: 44px;
  /*color: var(--black3);*/
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.block-purchase-details .sellix-product-form-field .sellix-input.has-currency {
  padding-left: 2rem;
}

.block-purchase-details .sellix-product-form-field .sellix-label {
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--lightFontColor);

}

.block-purchase-details .sellix-product-form-field .invalid-feedback {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--lightFontColor);
}
