.block-cart2__container {
  position: relative;
  cursor: pointer;
}

.block-cart2__cart-icon {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 16px;
  color: var(--black9);
  position: relative;
  cursor: pointer;
}

.block-cart2__cart-icon svg {
  fill: var(--black9);
  width: 1.5rem;
  height: 1.5rem;
}

.block-cart2__cart-icon span {
  margin-left: 0.75rem;
  color: var(--darkFontColor);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
