.block-product-list-filter__container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
}

.block-product-list-filter__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;
  width: 50%;
  margin-bottom: 0;
}

.block-product-list-filter__search .fas {
  position: absolute;
  right: 3.75rem;
  font-size: 14px;
  margin-top: 1px;
}

.block-product-list-filter__categories-dropdown,
.block-product-list-filter__sort-dropdown {
  width: 25%;
}

.block-product-list-filter__item {
  padding-right: 1.5rem;
}

.block-product-list-filter__item:last-child {
  padding-right: 0;
}

.sellix-dropdown .select2-container--sellix {
  width: 100% !important;
  cursor: pointer;
}

.sellix-dropdown .select2-container--sellix .select2-selection__arrow b {
  margin-right: 8px;
}

.sellix-dropdown .select2-container--sellix .select2-selection--single[aria-expanded='true'] {
  border-color: var(--brandColor) !important;
}

@media (max-width: 768px) {
  .block-product-list-filter__container {
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .block-product-list-filter__search {
    width: 100%;
    margin-bottom: 1rem;
    padding-right: 0;
  }

  .block-product-list-filter__search .fas {
    right: 2.25rem !important;
  }

  .block-product-list-filter__categories-dropdown,
  .block-product-list-filter__sort-dropdown {
    width: 50%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 640px) {
  .block-product-list-filter__categories-dropdown,
  .block-product-list-filter__sort-dropdown {
    width: 100%;
    padding-right: 0;
  }
}
