.block-product-list-filter__container {
  margin-bottom: 0.75rem;
  display: grid;
  grid-template-areas: "search search categories sort";
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.block-product-list-filter__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;
  margin-bottom: 0;

  grid-area: search;
}

.block-product-list-filter__search .fas {
  position: absolute;
  right: 3.75rem;
  font-size: 14px;
  margin-top: 1px;
}

.block-product-list-filter__categories-dropdown {
  grid-area: categories;
}
.block-product-list-filter__sort-dropdown {
  grid-area: sort;
}

.sellix-dropdown .select2-container--sellix {
  width: 100% !important;
  cursor: pointer;
}

.sellix-dropdown .select2-container--sellix .select2-selection__arrow b {
  margin-right: 8px;
}

.sellix-dropdown .select2-container--sellix .select2-selection--single[aria-expanded='true'] {
  border-color: var(--brandColor) !important;
}

@media (max-width: 768px) {
  .block-product-list-filter__container {
    margin-top: 0;
    margin-bottom: 0;
    grid-template-areas:
      "search search"
      "categories sort";
    grid-template-columns: repeat(2, 1fr);
  }

  .block-product-list-filter__search {
    margin-bottom: 1rem;
    padding-right: 0;
  }

  .block-product-list-filter__search .fas {
    right: 2.25rem !important;
  }

  .block-product-list-filter__categories-dropdown,
  .block-product-list-filter__sort-dropdown {
    margin-bottom: 1rem;
  }
}

@media (max-width: 640px) {
  .block-product-list-filter__container {
    grid-template-areas:
      "search"
      "categories"
      "sort";
    grid-template-columns: repeat(1, 1fr);
  }
  .block-product-list-filter__categories-dropdown,
  .block-product-list-filter__sort-dropdown {
    padding-right: 0;
  }
}
