.block-cart__container {
  position: relative;
  cursor: pointer;
}

.block-cart__cart-icon {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 16px;
  color: var(--black9);
  position: relative;
  cursor: pointer;
}

.block-cart__cart-icon svg {
  fill: var(--black9);
  width: 1.5rem;
  height: 1.5rem;
}

.block-cart__cart-icon span {
  margin-left: 0.75rem;
  color: var(--darkFontColor);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.block-cart__dropdown {
  position: absolute;
  top: 100%;
  min-width: 420px;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: none;
  right: 0;
  display: none;
}

.block-cart__dropdown.open {
  display: flex;
  flex-direction: column;
}

.block-cart__dropdown-header {
  padding: 1rem;
}

.block-cart__dropdown-header h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.block-cart__dropdown-header span {
  opacity: 0.7;
}

.block-cart__dropdown-body > div {
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--borderColor);
}

.block-cart__dropdown-body > div > div:last-child {
  border-bottom: none;
}

.block-cart__dropdown-body > div > div:first-child {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.block-cart__dropdown-body > div img {
  width: 2rem;
  height: 100%;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
}

.block-cart__dropdown-footer {
  border-top: none;
  margin-top: 0;
  padding: 1rem;
  font-size: 14px;
  color: var(--darkFontColor);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.block-cart__dropdown-footer button {
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--buttonColor);
  border-radius: 0.5rem;
  padding: 0.6rem 1.5rem;
  color: #fff;
  font-size: 0.9rem;
}

.block-cart__dropdown-footer button.back {
  color: var(--lightFontColor);
  border: 1px solid var(--borderColor);
  background: transparent;
}

.block-cart__dropdown-item:hover {
  background: var(--backgroundHover);
}

.block-cart__dropdown-item-info span {
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

.block-cart__dropdown-item-info i {
  font-size: 21px;
  margin: 0 21px 0 6px;
  color: var(--brandColor);
}

.cart-dropdown-item-remove {
  color: var(--lightFontColor);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
}

.block-cart__dropdown-item > span {
  padding: 0.5rem;
}

.block-cart__dropdown-item-buttons {
  display: flex;
  font-size: 14px;
  color: var(--darkFontColor);
}

.block-cart__dropdown-item-buttons svg,
.block-cart__dropdown-item-buttons i {
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
  display: flex;
  color: var(--lightFontColor);
  fill: var(--lightFontColor);
}

.block-cart__product-quantity {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.block-cart__count-picker {
  padding: 0.25rem;
}

.block-cart__count-picker.can-click i {
  color: var(--backgroundAccentLight);
}

@media (max-width: 768px) {
  .cart {
    position: static;
  }
}

@media (max-width: 420px) {
  .block-cart__dropdown {
    min-width: 100%;
  }
}

@keyframes customFadeIn {
  from {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }
  to {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
}

.customFadeIn {
  animation-name: customFadeIn;
  animation-duration: 0.4s;
}
