.section-footer {
  margin-bottom: 0;
}

.section-footer__copyright {
  color: red;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.section-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 0;
}

.section-footer__links a:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .section-footer__container {
    flex-direction: column;
  }
  .section-footer__copyright {
    margin-bottom: 1rem;
  }
}
