.sellix-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  padding: 0 1rem 0 1.5rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .sellix-header {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.sellix-header__logo-image {
  margin-right: 10px;
}

.sellix-header__shop-name {
  text-align: left;
  width: 100%;
}

.sellix-header__cart {
  z-index: 12;
  margin-top: -1px;
}

@media (max-width: 768px) {
  .sellix-header__logo-image {
    margin-right: 5px;
  }

  .sellix-header__shop-name {
    text-align: center;
  }
}
