.sellix-store {
  background-color: transparent;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: hidden;
}

.sellix-store .header {
  grid-area: header;
}

.sellix-store .footer {
  grid-area: footer;
}

.sellix-store .template {
  grid-area: content;
}
