.sellix-product-card__modal__header-small {
  font-weight: 300;
  font-size: .85rem;
}

.sellix-product-card__container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.sellix-product-card__card {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

.sellix-product-card__badge-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  pointer-events: none;
  z-index: 1;

  display: flex;
  align-items: center;
}

.sellix-product-card__badge {
  display: flex;
  align-items: center;
  width: auto;
  height: 1.75rem;
  padding: 0.375rem 0.5rem;

  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(7, 14, 35, 0.06), 0px 2px 8px -1px rgba(7, 14, 35, 0.05);
  border: 1px solid var(--borderColor);
  background: var(--backgroundAccentLight);

  color: var(--lightFontColor);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.sellix-product-card__badge.icon-badge {
  height: 2rem;
}
.sellix-product-card__badge.icon-badge svg {
  height: 1rem;
}

.sellix-product-card__image {
  position: relative;
  min-height: 247px;
  height: 247px;
  margin: 0 auto;
  width: 100%;
}
.sellix-product-card__image.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--buttonColor);
  background: var(--backgroundAccentLight);
}
.sellix-product-card__image.placeholder i {
  font-size: 3rem;
}
.sellix-product-card__image img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.sellix-product-card__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1 1 auto;
}

.sellix-product-card__title {
  display: flex;
  width: 100%;
  align-items: center;
  word-break: break-word;
}

.sellix-product-card__description {
  display: flex;
  justify-content: space-between;
  line-height: 1.25rem;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.sellix-product-card__info-comment {
  margin-top: 0.5rem;
  color: var(--lightFontColor);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sellix-product-card__group-description-info {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 0.75rem;
}

.sellix-product-card__group-description-info span {
  margin-right: 0.25rem;
  white-space: nowrap;
  opacity: 0.7;
}

.sellix-product-card__group-description-info span:last-child {
  opacity: 1;
  margin-right: 0;
  margin-left: 0;
}

.sellix-product-card__price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--buttonColor);
}

.sellix-product-card__price-with-discount {
  display: flex;
  justify-content: flex-start;
}

.sellix-product-card__price-with-discount i {
  font-weight: 300;
  font-style: normal;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  text-decoration: line-through;
}

.sellix-product-card__stock {
  margin-right: 0.25rem;
  opacity: 0.7;
}

.sellix-product-card__stock svg {
  height: 0.75rem;
  left: 0.125rem;
  position: relative;
  top: 0.125rem;
  width: 0.75rem;
}
