.snippet-product-variants__variant {
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--borderColor);
  background: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  color: var(--darkFontColor);
}
@media (max-width: 640px) {
  .snippet-product-variants__variant {
    max-width: 100%;
  }
}
.snippet-product-variants__header {
  display: flex;
}
.snippet-product-variants__title-wrapper {
  width: 100%;
}
.snippet-product-variants__radio-wrapper {
  margin-right: 0.5rem;
}
.snippet-product-variants__title {
  color: var(--darkFontColor);
  display: flex;
  justify-content: space-between;
}
.snippet-product-variants__description {
  display: flex;
  font-weight: 400;
  margin-top: 0.5rem;
  font-size: 12px;
  color: var(--darkFontColor);
}
.snippet-product-variants__info {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  color: var(--darkFontColor);
  justify-content: space-between;
}
.snippet-product-variants__info span {
  font-weight: 400;
}
.snippet-product-variants__variant.active {
  border: 1px solid var(--borderActiveColor);
}
