.snippet-cart-button-1 {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  pointer-events: visible;
  z-index: 1;
  display: flex;
}

.snippet-cart-button-1.static {
  position: static;
}

.snippet-cart-button-1.empty {
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .snippet-cart-button-1.empty.static .snippet-cart-button-1__button:nth-child(1) {
    opacity: 0;
    transform: translateX(0);
  }

  .snippet-cart-button-1.empty.static .snippet-cart-button-1__button:nth-child(2) {
    transform: translateX(-3.25rem);
  }

  .snippet-cart-button-1.empty.static .snippet-cart-button-1__button:nth-child(3) {
    transform: translateX(-5.5rem);
    opacity: 0;
  }
}

.snippet-cart-button-1.empty .snippet-cart-button-1__button:nth-child(1) {
  opacity: 0;
  transform: translateX(4.5rem);
}

.snippet-cart-button-1.empty .snippet-cart-button-1__button:nth-child(2) {
  transform: translateX(2.25rem);
}

.snippet-cart-button-1.empty .snippet-cart-button-1__button:nth-child(3) {
  opacity: 0;
}

.snippet-cart-button-1 .snippet-cart-button-1__button {
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid var(--borderColor);
  background: var(--backgroundAccentDark);
  color: var(--lightFontColor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  transition: all 0.3s ease;
}

.snippet-cart-button-1 .snippet-cart-button-1__button:nth-child(1) {
  transform: translateX(0);
}

.snippet-cart-button-1 .snippet-cart-button-1__button:nth-child(2) {
  margin: 0 0.25rem;
  transform: translateX(0);
  z-index: 2;
}

.snippet-cart-button-1 .snippet-cart-button-1__button:hover {
  color: var(--lightFontColor);
}

.snippet-cart-button-1 .snippet-cart-button-1__button svg {
  fill: var(--lightFontColor);
  pointer-events: none;
  width: 1rem;
  height: 1rem;
}
