.snippet-product-review-stat {
  display: flex;
  align-items: center;
}

.snippet-product-review-stat__score .reviews-count {
  opacity: 0.6;
}

.snippet-product-review-stat__stars {
  margin-right: 0.5rem;
}
