<div class="sellix-feedback-screen-wrapper">
  <div class="sellix-feedback-wrapper">
    {% for block_name in settings.block_order %}
      {%- render_block block_name -%}
    {% endfor%}
  </div>
</div>
