{% set colors = themeProperties.current_colors %}

<footer>
  <div
    class="sellix-footer"
    style="background: {{ colors[properties.footer_background_color] }}; justify-content: {{ properties.footer_text_position }}; font-size: {{ properties.footer_font_size }}px; color: {{ colors[properties.footer_font_color] }};font-weight: 300;"
  >
    {{ properties.footer_text | safe }}
  </div>
</footer>
