.sellix-product-relations {
  position: relative;
  margin-bottom: 1rem;
}

.sellix-product-relations .tabs {
  /*max-width: 1140px;*/
  display: flex;
  align-items: flex-start;
  margin: 0 auto 1rem;
  padding: 0.5rem 0;
  position: relative;
  overflow-x: scroll;
  justify-content: space-around;
}

.sellix-product-relations .tabs .tab {
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
  padding: 0.5rem 0 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0.5rem 0.5rem 0 0;
  display: inline-flex;
  color: var(--darkFontColor);
}

.sellix-product-relations .tabs .tab.active {
  border-bottom: 1px solid var(--brandColor);
  color: var(--brandColor);
}

.sellix-product-relations .tab-content {
  max-height: 300px;
  overflow-y: scroll;
}
