.sellix-text {
    color: var(--lightFontColor);
}

.sellix-text strong {
  color: var(--darkFontColor);
}

.sellix-text h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  color: var(--darkFontColor);
}

.sellix-text h1 {
    font-size: 1.6rem;
    line-height: 3rem;
}
.sellix-text h2 {
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.sellix-text h3 {
    font-size: 1.3rem;
    line-height: 2.4rem;
}
.sellix-text h4 {
    font-size: 1.1rem;
    line-height: 2rem;
}
.sellix-text h6 {
    font-weight: 500;
}
.sellix-text hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--borderColor);
}
.sellix-text p {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.2rem;
    margin-bottom: 0.6rem;
    color: var(--darkFontColor);
}
.sellix-text input[type=checkbox] {
  accent-color: var(--brandColor);
  border-color: var(--borderColor);
  border-radius: 0.25rem;
  width: 1rem;
  height: 1rem;
}

.sellix-text input[type=checkbox]:not(:checked) {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--brandColor);
}

.sellix-text input[type=checkbox]:checked {
  appearance: none;
  -webkit-appearance: none;
  background: var(--brandColor);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  border-color: transparent;
  -webkit-print-color-adjust: exact;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
}
.sellix-text pre {
    padding: 1rem;
    border-radius: 3px;
    margin-top: 1rem;
    overflow: auto;
    display: block;
    line-height: 1rem;
}
.sellix-text ul, .sellix-text ol {
  list-style: revert;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  margin: revert;
}
.sellix-text img {
  max-width: 100%;
  border-radius: 5px;
  display: initial;
  vertical-align: initial;
}
.sellix-text label {
  margin-bottom: 0.5rem;
}

.sellix-text small {
  font-size: 80%;
  font-weight: 400;
}

.sellix-text a {
  color: var(--brandColor);
  text-decoration: none;
  background-color: #0000;
  word-break: break-all;
}

.sellix-text a:hover {
  text-decoration: none;
}

.sellix-text blockquote {
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-left: 0;
  border-left: 0.25em solid var(--black1);
}
