{% set id = uid() %}

{% set onChangeCodeInput = ['onChangeCodeInput_', id] | join %}
{% set renderCodeInputCallback = ['renderCallback_', id] | join %}

{% set localClass = id %}

<div class="{{ globalClass }}__container {{ localClass }}__container">
  <div class="{{ globalClass }}__icon" data-icon="1">
    {% render_snippet 'Icons: User' %}
  </div>

  <div class="{{ globalClass }}__dropdown" data-dropdown="1">
    <div class="{{ globalClass }}__dropdown-item" data-goto-dashboard="1">
      {% render_snippet 'Icons: Dashboard' %}
      <span>{{ 'Go to Dashboard' | t({keyPrefix: 'shop.content'}) }}</span>
    </div>

    <div class="{{ globalClass }}__dropdown-item" data-logout="1">
      {% render_snippet 'Icons: Logout' %}
      <span>{{ 'Logout' | t({keyPrefix: 'shop.content'}) }}</span>
    </div>
  </div>

  {% render_snippet 'Login modal',
    globalClass=globalClass,
    onChangeCodeInput=onChangeCodeInput,
    renderCodeInputCallback=renderCodeInputCallback
  %}
</div>

<script type="application/javascript">
  let component{{ id }};
  function {{ onChangeCodeInput }}(val) {
    if (component{{ id }}) {
      component{{ id }}.onCodeChange(val);
    }
  }

  $(document).ready(function() {
    const { shopInfo } = window.SellixContext.get('common');
    component{{ id }} = new SellixCustomerLoginComponent(
      '.{{ localClass }}__container',
      {{ renderCodeInputCallback }},
      shopInfo.shop,
    );
  });
</script>
