{% set id = uid() %}

{% set slug = global.request.slug %}
{% set colors = themeProperties.current_colors %}
{% set menuProps = themeProperties.menu %}

{% set localClass = id %}

<style>
  .{{ localClass }}__menu-tab {
    color: {{ colors[menuProps.menu_item_font_color] }};
    font-size: {{ menuProps.menu_item_font_size }}px;
    font-weight: {{ menuProps.menu_item_font_weight }};
  }
  .{{ localClass }}__menu-tab.active {
    color: {{ colors[menuProps.menu_active_item_font_color] }};
    {#border-bottom: 2px solid {{ colors[menuProps.menu_active_item_font_color] }};#}
    font-size: {{ menuProps.menu_active_item_font_size }}px;
    font-weight: {{ menuProps.menu_active_item_font_weight }};
    background: {{ colors[menuProps.menu_active_item_background] }};
    /*position: relative;*/
  }
  .{{ localClass }}__menu-tab:hover {
    background: {{ colors[menuProps.menu_item_background_hover] }};
    color: {{ colors[menuProps.menu_item_font_color_hover] }};
  }
</style>

<div class="sellix-menu {{ localClass }}">
    {% for item in menu.items %}
      {% set active = item.page_slug == slug %}
      {% if item.page_slug != "/" %}
        {% set active = item.page_slug in slug %}
      {% endif %}
      {% if item.page_slug == "/contact" and "/ticket" in slug %}
        {% set active = true %}
      {% endif %}

      {% render_snippet
        'Menu item',
        url=item.page_slug,
        title=item.title,
        is_active=active,
        class=['menu-tab ', localClass, '__menu-tab'] | join('')
      %}
    {% endfor %}
</div>
