@keyframes glitch{
  2%, 64% {
    transform: skew(-1deg);
  }
  4%, 60% {
      transform: skew(0deg);
  }
  62% {
      transform: skew(1deg);
  }
}

.snippet-product-card:hover, .snippet-feedback-card:hover {
    animation: glitch 1s linear infinite;
}