@media (max-width:1000px) {
    .dot-container {
        display: none!important;
    }
}

.dot-container {
    width: 956px;
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 64px 0px 64px 0px;
}

.dot {
    width: 2px;
    height: 2px;
    background-color: #fff;
    opacity: 0.56;
    animation: fade 5s infinite ease-in-out;
}

@keyframes fade {
    0%, 100% {
        opacity: 0.56;
    }
    50% {
        opacity: 0.07;
    }
}