.sellix-widget-invoice-checkout:before,
.sellix-widget-invoice-checkout:after {
  display: none;
}

.sellix-widget-invoice-checkout--main-details,
.sellix-widget-invoice-checkout--product-card {
  padding: 2rem !important;
}

.sellix-widget-invoice-checkout--body,
.sellix-widget-invoice-checkout--product-card,
.sellix-widget-invoice-checkout--container,
.update-gateway-modal-wrapper,
.sellix-widget-invoice-checkout--track-body {
  background: var(--backgroundColor) !important;
}

.sellix-widget-gateway--container .gateway-list-item,
.sellix-widget-invoice-checkout--info-header,
.status-container,
.sellix-product-rewards,
.sellix-widget-invoice-checkout--delivery-cart-product,
.feedback-reward-notice,
.sellix-widget-invoice-checkout--delivery-feedback,
.sellix-widget-invoice-checkout--delivery-feedback-rating {
  border-radius: 0px !important;
  background: var(--backgroundColor) !important;
}

.sellix-widget-invoice-checkout--footer,
button,
.sellix-widget-gateway--container .gateway-list-item.active {
  padding: 1rem;
  border-radius: 0px !important;
  border-color: var(--buttonColor) !important;
  background: var(--buttonColor) !important;
  color: var(--buttonTextColor) !important;
}

.sellix-widget-invoice-checkout--main-container,
.template-invoice .block-invoice-checkout,
.sellix-widget-invoice-checkout--main-invoice {
  border: 1px solid var(--borderColor);
  background: var(--backgroundColor) !important;
  box-shadow: 4px 4px 0px 0px var(--borderColor);
}

@media only screen and (max-width: 600px) {
  body:before, canvas {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .sellix-widget-invoice-checkout--main-container {
    width: 100% !important;
    max-height: 80vh !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;

    border: 1px solid var(--borderColor) !important;
    box-shadow: 4px 4px 0px 0px var(--borderColor) !important;
  }
}