body:before {
    content: "";
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.imgur.com/TsRJh9V.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 1;
    z-index: 9999;
    pointer-events: none;
}