{% set id = uid() %}
{% set theme = global.theme %}
{% set type = args.type if args.type else 'checkout' %}
{% set shop = global.common.shopInfo.shop %}
{% set cartEnabled = global.common.cartEnabled %}
{% set colors = themeProperties.current_colors %}
{% set properties = args.properties %}

{% set showTitle = safe_get(properties.show_title, true) %}
{% set containerBgColor = safe_get(properties.container_background_color, 'transparent') %}
{% set containerShadow = safe_get(properties.container_shadow, 'none') %}
{% set containerBorderRadius = safe_get(properties.container_border_radius, 0) %}
{% set containerPaddingVert = safe_get(properties.container_padding_vert, 20) %}
{% set containerPaddingHoriz = safe_get(properties.container_padding_horiz, 20) %}
{% set containerShowBorder = safe_get(properties.container_show_border, true) %}

{% set globalClass = ['snippet-purchase-details'] %}
{% set localClass = id %}

<style>
  .{{ localClass }} .sellix-product-card {
    background: {{ colors[containerBgColor] }};
    box-shadow: {{ containerShadow }};
    border-radius: {{ containerBorderRadius }}px;
    padding: 0;
    border: {{ "1px solid var(--borderColor)" if containerShowBorder else "none" }};
  }
  .{{ localClass }} .sellix-product-card .sellix-product-title {
    padding: {{ containerPaddingVert }}px {{ containerPaddingHoriz }}px;
  }
  .{{ localClass }} .sellix-product-card .sellix-product-body {
    padding: {{ containerPaddingVert }}px {{ containerPaddingHoriz }}px;
  }

  .{{ localClass }} .sellix-product-card .sellix-product-form-field .currency-title {
    background: {{ colors[properties.container_background_color] }};
  }
</style>

{% render_snippet 'App paypal' %}

<div class="{{ globalClass }} {{ localClass }} purchase-detail-wrapper">
  <div class="purchase-details"></div>
</div>

<script type='application/javascript'>
  $(document).ready(async function () {
    const purchaseType = '{{type}}';
    const cart = window.SellixCartStoreFactory.getCart('{{shop.name}}');
    const isDark = {{args.isDark if args.isDark is defined else themeProperties.color_schema.dark_mode}};
    const { shopInfo, productInfo, customerInfo, isCustomDomain } = window.SellixContext.get('common');
    let product = (productInfo && productInfo.product);

    if (purchaseType === 'product') {
      const cartProduct = cart.getItemById(product.uniqid);
      if (cartProduct) {
        product.quantity = cartProduct.quantity;
      }
    }

    let bundles = [], bundle, productIds, products;
    {% for bundle in args.bundles %}
      bundle = {{ bundle | exclude_attributes(['products_bound']) | dump | safe }};
      productIds = [
        {% for product in bundle.products_bound %}
          '{{ product.uniqid }}',
        {% endfor %}
      ]
      products = await SellixContext.getShopProducts(productIds);
      bundle.products_bound = products;
      bundles.push(bundle);
    {% endfor %}

    const purchaseDetailsComponent = new SellixPurchaseDetailsComponent({
      selector: '.{{ localClass }} .purchase-details',
      selectorCaptchaV2: '#purchase-detail-recaptcha-v2',
      config: window.SellixContext.get('config'),
      shop: shopInfo.shop,
      cartEnabled: {{cartEnabled or 0}},
      isCustomDomain,
      purchaseType,
      affiliateConversions: customerInfo?.customer?.affiliate_revenue_conversions || {},
      cart,
      product: (product || {}),
      bundles,
      theme: {
        isDark,
        name: '{{ theme.name }}',
        scheme: '{{ theme.scheme }}',
        version: '{{ theme.version }}',
      },
      renderOptions: {{renderOptions | dump | safe}},
      options: {
        showTitle: {{ showTitle }},
        skipGatewaySelector: true
      }
    });
  });
</script>
