{% set group = args.group %}

{% set shopInfo = global.common.shopInfo %}
{% set shop = shopInfo.shop %}
{% set hideOutOfStock = shop.hide_out_of_stock | int %}
{% set cartEnabled = args.cartEnabled or global.common.cartEnabled %}

{% for product in group.products_bound %}
  {% set onHold = product.on_hold | int %}
  {% set isDisabled = product.stock === 0 or onHold %}
  {% set isFree = product.price_display | float === 0 %}
  {% set isPlaceholder = not product.cloudflare_image_id %}
  {% set image = cdn_link(product.cloudflare_image_id, 'shopItem') %}
  {% set rating = (product.average_score if product.average_score else 0) | float %}
  {% set isRatingGold = rating | float > 4 %}
  {% set productStock = ('∞' if product.stock === -1 else get_stock(product.stock)) %}

  {% if product.stock !== 0 or hideOutOfStock !== 1 %}
    <div class="group-option {{'is-disabled' if isDisabled else ''}} {{'' if cartEnabled else 'no-cart'}}">
      <a href="{{'javascript:void' if isDisabled else ['/product/', product.uniqid] | join}}" class="group-option-description">
        {% if not isFree %}
          {% render_snippet 'Discount badge', product=product, isGroup=true %}
        {% endif %}

        <div class="group-option-image {{'placeholder' if isPlaceholder else ''}}">
          {% if isPlaceholder %}
            <i class="fa-light fa-layer-group"></i>
          {% else %}
            <img src="{{image}}" alt="{{product.title}}" loading="lazy" />
          {% endif %}
        </div>

        <div class="group-option-content">
          <div class="group-option-title">
            <span>{{product.title}}</span>

            {% if rating %}
              <span class="group-option-star {{'text-gold' if isRatingGold else ''}}">
                <span class="mr-1 position-relative {{'text-gold' if isRatingGold else ''}}">
                  <i class="fas fa-star" style="font-size: 11px;"></i>
                </span>
                <span>{{5 if rating === 5 else (rating | float | round(2))}}</span>
              </span>
            {% endif %}
          </div>

          {% if onHold %}
            <span>Product on hold</span>
          {% else %}
            <div class="group-option-info">
              {% if product.price_discount and not isFree %}
                <span class="group-option-info-price with-discount" >
                  <i>{% render_snippet 'Price', currency=product.currency, price=product.price_display %}</i>
                  {%- render_snippet 'Price', currency=product.currency, price=product.price_display, discount=product.price_discount -%}
                </span>
              {% else %}
                <span class="group-option-info-price" >
                  {% if isFree%}
                    Free
                  {% else %}
                    {% render_snippet 'Price', currency=product.currency, price=product.price_display %}
                  {% endif %}
                </span>
              {% endif %}

              <span class="group-option-dot">  ●  </span>

              <span class="stock">
                <span
                  class="{{'text-red' if productStock | int === 0 else 'text-green'}}"
                  style="color: {{'#dc3545' if productStock == 0 else '#28a745'}}; position: {{'relative' if productStock === '∞' else 'static'}}; top: {{'auto' if productStock === '∞' else 'auto'}}"
                >
                  {% if productStock === '∞' %}
                    <i class="fa-solid fa-infinity" style="font-size: 10px; color: {{'#dc3545' if productStock === 0 else '#28a745'}}"></i>
                  {% else %}
                    {{productStock}}
                  {% endif %}
                </span> in stock
              </span>
            </div>
          {% endif %}
        </div>
      </a>

      <div class="group-option-buttons unselectable {{'with-cart' if cartEnabled else ''}}">
        {% if not isDisabled and not isFree and product.type != 'SUBSCRIPTION' %}
          {% render_snippet 'Cart button', product=product, isGroup=true %}
        {% else %}
          <div></div>
        {% endif %}

        <a href="{{'javascript:void' if isDisabled else ['/product/', product.uniqid] | join}}" style="color: white;">
          <div class="buy-button {{ 'disabled' if isDisabled else '' }}">
            {% if isFree %}
              Get it
            {% else %}
              Buy
            {% endif %}
          </div>
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}
