{% set currencyList = global.config.CURRENCY_LIST %}
{% set digits = args.digits if args.digits is defined else 2 %}
{% set price = ((args.price - args.price * args.discount / 100) | round(2) if args.discount else args.price) | to_fixed(digits) %}
{{currencyList[args.currency]}}{{ price }}
