<style>
  .qr-mode-header{
    background: #0c0818!important;
  }
  .shop-product-info-product-rating{
    padding-top: 0rem!important;
  }

</style>

{% for section in settings.section_order %}
  {% render_section section %}
{% endfor %}