
<style>
  canvas{
  display:{{'block' if themeProperties.background.animated_background}}!important;;
  }

  header{
  background: {{'transparent' if themeProperties.Guarino_Header.guarino_header_background_transparent}}!important;;
  height: 100px!important;
  }
</style>

<div class="sellix-store-screen">
  {% for section in settings.section_order %}
    {% render_section section %}
  {% endfor %}
</div>