{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set product = args.product %}
{% set cartEnabled = themeProperties.cart.is_enabled %}
{% set possibleCartEffects = safe_get(args.possible_cart_effects, ['open_cart_modal', 'quick_checkout_button']) %}
{% set cartEffect =
  themeProperties.cart.effect
  if cartEnabled and global.request.type != 'checkout' and themeProperties.cart.effect in possibleCartEffects
  else 'none'
%}
{% set isSubscription = product.type === 'SUBSCRIPTION' %}
{% set isLicense = product.licensing_enabled %}
{% set isPayWhatYouWant = product.pay_what_you_want %}

{% set isStatic = args.is_static %}
{% set showPlusMinus = safe_get(args.show_plus_minus, true) %}
{% set reverseOnSmallScreens = safe_get(args.reverse_on_small_screens, true) %}
{% set properties = args.properties %}
{% set bgColor = safe_get(properties.background_color, '') %}
{% set color = safe_get(properties.color, '') %}

{% set globalClass = 'snippet-cart-button-1' %}
{% set localClass = id %}

<style>
  .{{ localClass }} .{{ localClass }}__button {
    background-color: {{ bgColor | get_color }};
    color: {{ color | get_color }}
  }
</style>

{% if isSubscription or product.stock | int === 0 or not cartEnabled or product.on_hold | int !== 0 %}
  {# Do Nothing #}
{% else %}
  {% if not showPlusMinus %}
    <div class="{{ globalClass }} {{ localClass }} {{ globalClass }}__cart-button-only empty {{'static' if isStatic }}">
      <div
        class="{{ globalClass }}__button {{ localClass }}__button unselectable"
        data-cart-product-quantity-button="cart-product-quantity-button"
        data-cart-product-is-group="true"
      >
        <span class="d-none" style="line-height: 0" data-cart-product-first-button="1">
          {% render_snippet 'Icons: Cart add' %}
        </span>
      </div>
    </div>
  {% else %}
    <div class="{{ globalClass }} {{ localClass }} {{ globalClass }}__plus-minus empty {{'static' if isStatic }}">
      <div class="{{ globalClass }}__button {{ localClass }}__button" data-cart-product-minus-button="1">
        <i class="fa-regular fa-minus"></i>
      </div>
      <div
        class="{{ globalClass }}__button {{ localClass }}__button unselectable"
        data-cart-product-quantity-button="cart-product-quantity-button"
        data-cart-product-is-group="true"
      >
        <span class="d-none" style="font-weight: 500" data-cart-product-quantity-value="1"></span>
        <span class="d-none" style="line-height: 0" data-cart-product-first-button="1">
          {% render_snippet 'Icons: Cart add' %}
        </span>
      </div>
      <div class="{{ globalClass }}__button {{ localClass }}__button" data-cart-product-plus-button="1">
        <i class="fa-regular fa-plus"></i>
      </div>

      {% if cartEffect == 'quick_checkout_button' and not isSubscription and not isLicense and not isPayWhatYouWant %}
        <div class="d-none {{ globalClass }}__quick-checkout-container" data-quick-checkout-btn="1">
          {% render_snippet 'Shared: Ripple button',
            button_id=['quick-checkout-btn-', id] | join,
            title=('shop.checkout.title' | t)
          %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <script type='application/javascript'>
    $(document).ready(function () {
      let cart = window.SellixCartStoreFactory.getCart('{{shop.name}}');
      const cartProdComponent = new SellixCartProductComponent(
        '.{{ localClass }}',
        cart,
        '{{ product.uniqid }}',
        '{{ cartEffect }}',
        {{renderOptions | dump | safe}},
      );
      setTimeout(() => cartProdComponent.render(), 0);
    });
  </script>
{% endif %}