<!DOCTYPE html>
<html
  lang="{{ global.locales.language }}"
  style="background-color: var(--backgroundColor);"
  class="scroll-hidden"
>
  <head>
    {% if global.locales.defaultLocale != global.locales.locale %}
      <base id='main-base-tag' href="/{{ global.locales.locale }}/">
    {% else %}
      <base href="/">
    {% endif %}
    <meta charset="utf-8"/>

    <script src='https://cdn-theme.mysellix.io/external-packages/js.cookie.min.js'></script>
    <script src="{{ 'widget-services.js' | asset_url }}"></script>
    {% render_snippet 'App analytics' %}
    {% render_snippet 'Main meta' %}

    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
    <link rel="apple-touch-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="preconnect" href="https://cdn.sellix.io/"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preload" href="{{ 'loader.css' | asset_url }}" as="style"/>
    <link rel="preload" href="{{ 'embed.css' | asset_url }}" as="style"/>

    <link rel="preconnect" href="https://fonts.googleapis.com/"/>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" as="style" >
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% set font = themeProperties.typography.font %}
    {% set backgroundImage = themeProperties.background.background_image %}

    <link href="{{ font.href }}" rel="stylesheet">

    <style>
      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url({{ 'Inter.woff2' | asset_url }}) format("woff2");
      }
      body {
        transition: background 0.9s;
        background-color: #0000;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        font-family: {{ "Inter var" if font.fontFamily == "Inter" else font.fontFamily }},
          {{ font.systemFont if font.systemFont in ["sans-serif", "serif"] else "monospace" }} !important;

        {% if backgroundImage %}
          background-image: url({{ backgroundImage }});
          background-repeat: no-repeat, no-repeat;
          background-position: top;
          background-size: cover;
        {% endif %}
      }
    </style>
    <link rel="stylesheet" href="{{ 'root-styles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'ui-elements.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'fa-icons.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'shop-common-styles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'loader.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'tiny-slider.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'button.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'toastify.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'modal.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'font-awesome.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'badge.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'sellix-text.css' | asset_url }}"/>


    {# Template #}
    <link rel="stylesheet" href="{{ 'template-invoice.css' | asset_url }}"/>

    {# Sections #}
    <link rel="stylesheet" href="{{ 'section-header.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-banner.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-menu.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-product-list.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-product-checkout-invoice-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-contact-form.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-feedback-list.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-feedback.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-terms.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-trust.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-ticket.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-invoice-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-delivery-header.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-delivery-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'section-faq.css' | asset_url }}"/>

    {# Blocks #}
    <link rel="stylesheet" href="{{ 'block-banner-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-banner-stats.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-product-list-filter.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-product-list-items.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-product-relations.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-feedback-items.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-feedback-pagination.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-table-pagination.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-delivery-products-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'block-customer-login.css' | asset_url(rtl) }}"/>

    {# Snippets #}
    <link rel="stylesheet" href="{{ 'snippet-cart.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-text-text-area.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-cards.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-feedback-card.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-addons.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-checkout-product.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-warranty.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-bundles.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-bundle-products.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-purchase-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-price-variants.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-plans.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-invoice-details.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-invoice-track-badge.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-shop-info.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-alert.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'snippet-language-selector.css' | asset_url }}"/>

    {# vDev customized files starts here #}
    <link rel="stylesheet" href="{{ 'snippet-burger-button.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-mobile-sidebar-menu.css' | asset_url(rtl) }}"/>
    {% if global.request.type not in ['invoice', 'product_subscription'] %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    {% endif %}
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}"/>

    {# vDev customized files ends here #}

    {% set theme = global.common.shopInfo.theme %}
    <style>
      {% render_snippet 'Root css variables' %}
      :root {
        --desktopMenuHeight: {{ safe_get(properties.header_height_desktop, 110) }}px;
        --tabletMenuHeight: {{ safe_get(properties.header_height_tablet, 110) }}px;
        --mobileMenuHeight: {{ safe_get(properties.header_height_mobile, 110) }}px;
      }
    </style>

    <link rel="stylesheet" href="https://cdn-theme.mysellix.io/external-packages/select2.min.css"/>
    {% if global.request.type in ['checkout', 'product', 'subscription'] %}
    <link rel="stylesheet" href="{{ 'purchase.css' | asset_url }}" />
    {% endif %}
    {% if global.request.type in ['invoice', 'product_subscription'] %}
      <link rel="stylesheet" href="{{ 'widget-invoice-checkout.css' | asset_url }}" />
    {% endif %}
    <link rel="stylesheet" href="https://cdn-theme.mysellix.io/external-packages/magnific-popup.1.1.0.css" />
    <link rel="stylesheet" href="https://cdn-theme.mysellix.io/external-packages/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn-theme.mysellix.io/external-packages/toastify.css" />
    <link rel="stylesheet" href="https://cdn-theme.mysellix.io/external-packages/tiny-slider.css" />

    <script src="https://cdn-theme.mysellix.io/external-packages/jquery.3.6.0.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/quicklink.umd.js"></script>

    <script>/*jQuery(document).ready(() => {quicklink.listen();});*/</script>
    <style>
      .sellix-card-container {
        border-radius: {{ themeProperties.cards.product_card_border_radius }}rem;
        box-shadow: {{ themeProperties.cards.product_card_shadow }};
      }
    </style>
  </head>

  <body class="{{ 'dark is-dark darkTheme' if global.theme.isDark }}">
    <div id="app">
      <div class="sellix-store">
        {% if global.request.type != 'payment' %}
          {% render_section 'header' %}
        {% endif %}
        <div id="content" class="{{'is-product' if global.request.type == 'product' else ''}}">
          {% render_template 'default' %}
        </div>

        {% if global.request.type != 'payment' %}
          {% render_section 'footer' %}
        {% endif %}
      </div>
    </div>
    <div id="modal"></div>
    {% render_snippet 'Mobile sidebar menu', menu='Main Menu' %}
    <script>
      window.__RENDER_CONTEXT__ = {{ global | dump | safe }};
      window.RECAPTCHA_PUBLIC_KEY = window.__RENDER_CONTEXT__.config.CAPTCHA_SITE_KEY_V3;
      window.RECAPTCHA_PUBLIC_KEY_V2 = window.__RENDER_CONTEXT__.config.RECAPTCHA;
    </script>

    {% if themeProperties.page_loader.enabled %}
      <link rel="stylesheet" href="https://cdn-theme.mysellix.io/external-packages/pace-theme.css"/>

      <style>
        .pace .pace-progress {
          height: {{ themeProperties.page_loader.height }}px;
          background: {{ themeProperties.page_loader.color }};
        }
      </style>
      <script data-pace-options='{"ajax": {"trackWebSockets": false}}' src="https://cdn-theme.mysellix.io/external-packages/pace.min.js"></script>
    {% endif %}

    <script type='application/javascript'>
      (function() {
        $(document).ready(function () {
          setTimeout(function () {
            const html = document.documentElement.classList;
            const $loader = $('#loader');
            if($loader) {
              $loader.remove();
            }
            html.remove('scroll-hidden');
          }, 500);
        });
      })();
    </script>

    {% if global.request.type not in ['invoice', 'product_subscription'] %}
      {% render_snippet 'Social Links' %}
      {% render_snippet 'App crisp chat' %}
      {% render_snippet 'App helpspace' %}
    {% endif %}

    {% render_snippet 'Toastify' %}

    <script type='application/javascript'>
      $(document).ready(function() {
        const name = '{{ global.common.shopInfo.shop.name }}';
        sellixApi.ping(name);
      });
    </script>

    <script async src="https://js.stripe.com/v3/"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{global.config.CAPTCHA_SITE_KEY_V3}}"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/react.production.min.js" crossorigin></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/react-dom.production.min.js" crossorigin></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/prop-types.min.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/crypto-js.min.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/moment.min.js"></script>

    <script src="https://cdn-theme.mysellix.io/external-packages/jsrender.min.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/jquery.modal.min.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/jquery.waitforimages.min.js"></script>

    <script src="https://cdn-theme.mysellix.io/external-packages/toastify.js"></script>

    <script src="https://cdn-theme.mysellix.io/external-packages/tiny-slider.js"></script>

    <script src="https://cdn-theme.mysellix.io/external-packages/copy-to-clipboard.min.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/file-saver.min.js"></script>
    <script src="{{ 'ripple.js' | asset_url }}"></script>
    <script src="{{ 'react-simple-star-rating.js' | asset_url }}"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/select2.min.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/magnific-popup.1.1.0.min.js"></script>
    <script src="https://cdn-theme.mysellix.io/external-packages/ReactPlayer.2.11.0.standalone.js"></script>
    <script src="{{ 'widget-react-code-input.js' | asset_url }}"></script>
    {% if global.request.type in ['checkout', 'product', 'subscription'] %}
      <script src="{{ 'purchase.js' | asset_url }}"></script>
    {% endif %}
    {% if global.request.type in ['invoice', 'product_subscription'] %}
      <script src="{{ 'widget-invoice-checkout.js' | asset_url }}"></script>
    {% endif %}

  <script src="{{ 'sellix-context.js' | asset_url }}"></script>
  <script src="{{ 'sellix-analytics.js' | asset_url }}"></script>
  <script src="{{ 'sellix-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-api.js' | asset_url }}"></script>
  <script src="{{ 'sellix-helper.js' | asset_url }}"></script>
  <script src="{{ 'sellix-cart-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-addons-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-price-variants-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-plans-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-cart-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-cart-product-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-customer-login-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-addons-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-bundle-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-checkout-products-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-checkout-product-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-feedback-pagination.js' | asset_url }}"></script>
  <script src="{{ 'sellix-feedback-pagination-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-invoice-checkout-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-invoice-products-info-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-count-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-price-variants-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-plans-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-purchase-details-component.js' | asset_url}}"></script>
  <script src="{{ 'sellix-invoice-details-component.js' | asset_url}}"></script>
  <script src="{{ 'sellix-contact-form-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-ticket-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-leave-feedback-component.js' | asset_url }}"></script>

  <script src="{{ 'sellix-table-pagination-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-table-pagination.js' | asset_url }}"></script>

  {% render_snippet 'App cookie modal' %}
  {% render_snippet 'I18Next' %}
  {% render_snippet 'Group card modal' %}

  <script type="application/javascript">
    $(document).ready(function () {
      $(document).on($.modal.BLOCK, function() {
        $('body').css('overflow', '');
      });
      $(document).on($.modal.BEFORE_OPEN, () => {
        window.sellixHelper.disableScroll();
      });
      $(document).on($.modal.AFTER_CLOSE, (event, context) => {
        window.sellixHelper.enableScroll();
      });

      $('.sellix-group-card-container').on('click', function () {
        const groupId = $(this).data('group-id');
        console.log('Log #Click');
        $(document).trigger('SellixSetActiveModalGroup', { groupId });
      });
      {% if global.request.type === 'group' and global.request.options.itemId %}
        setTimeout(() => {
          $(document).trigger('SellixSetActiveModalGroup', { groupId: '{{ global.request.options.itemId }}' });
        }, 0);
      {% endif %}
    });
  </script>
  </body>
</html>
