{% set id = args.id or uid() %}

{% set itemsAlign = safe_get(properties.items_align, 'center') %}
{% set contentAlign = safe_get(properties.content_align, 'center') %}

{% set minWidthDesktop = properties.min_width_desktop %}
{% set maxWidthDesktop = properties.max_width_desktop %}
{% set minHeightDesktop = properties.min_height_desktop %}
{% set maxHeightDesktop = properties.max_height_desktop %}
{% set paddingVertDesktop = safe_get(properties.padding_vert_desktop, 130) %}
{% set paddingHorizDesktop = safe_get(properties.padding_horiz_desktop, 400) %}
{% set minWidthTablet = properties.min_width_tablet %}
{% set maxWidthTablet = properties.max_width_tablet %}
{% set minHeightTablet = properties.min_height_tablet %}
{% set maxHeightTablet = properties.max_height_tablet %}
{% set paddingVertTablet = safe_get(properties.padding_vert_tablet, 115) %}
{% set paddingHorizTablet = safe_get(properties.padding_horiz_tablet, 200) %}
{% set minWidthMobile = properties.min_width_mobile %}
{% set maxWidthMobile = properties.max_width_mobile %}
{% set minHeightMobile = properties.min_height_mobile %}
{% set maxHeightMobile = properties.max_height_mobile %}
{% set paddingVertMobile = safe_get(properties.padding_vert_mobile, 96) %}
{% set paddingHorizMobile = safe_get(properties.padding_horiz_mobile, 36) %}

{% set borderRadiusTopLeft = safe_get(properties.border_top_left_radius, 0) %}
{% set borderRadiusTopRight = safe_get(properties.border_top_right_radius, 0) %}
{% set borderRadiusBottomLeft = safe_get(properties.border_bottom_left_radius, 0) %}
{% set borderRadiusBottomRight = safe_get(properties.border_bottom_right_radius, 0) %}
{% set borderRadiusMobile = safe_get(properties.border_radius_mobile, 0) %}

{% set showOnDesktop = safe_get(properties.show_desktop, true) %}
{% set showOnTablet = safe_get(properties.show_tablet, true) %}
{% set showOnMobile = safe_get(properties.show_mobile, true) %}

{% set bgImage = properties.background_image %}
{% set bgColor = properties.background_color %}

{% set localClass = id %}

<style>
  .{{ localClass }} {
    display: flex;
    flex-direction: column;
    justify-content: {{ contentAlign }};
    padding: {{ paddingVertDesktop }}px {{ paddingHorizDesktop }}px;
    justify-self: {{ itemsAlign }};
    border-top-left-radius: {{ borderRadiusTopLeft }}px;
    border-top-right-radius: {{ borderRadiusTopRight }}px;
    border-bottom-left-radius: {{ borderRadiusBottomLeft }}px;
    border-bottom-right-radius: {{ borderRadiusBottomRight }}px;
    
    {% if bgImage %}
      background: url({{bgImage | asset_url}});
      background-repeat: no-repeat, no-repeat;
      background-position: right;
      background-size: cover;
    {% elif bgColor %}
      background-color: {{ bgColor | get_color }};
    {% endif %}

    width: 100%;
    min-width: {{ [minWidthDesktop, 'px'] | join if minWidthDesktop | int > 0 else 'auto' }};
    max-width: {{ [maxWidthDesktop, 'px'] | join if maxWidthDesktop | int > 0 else 'none' }};
    min-height: {{ [minHeightDesktop, 'px'] | join if minHeightDesktop | int > 0 else 'auto' }};
    max-height: {{ [maxHeightDesktop, 'px'] | join if maxHeightDesktop | int > 0 else 'none' }};
  }

  {% if not showOnDesktop %}
    @media (min-width: 768px) {
      .{{ localClass }} {
        display: none; 
      }
    }
  {% endif %}

  @media (max-width: 768px) {
    .{{ localClass }} {
      {% if not showOnTablet %} display: none; {% endif %}
      padding: {{ paddingVertTablet }}px {{ paddingHorizTablet }}px;
      min-width: {{ [minWidthTablet, 'px'] | join if minWidthTablet | int > 0 else 'auto' }};
      max-width: {{ [maxWidthTablet, 'px'] | join if maxWidthTablet | int > 0 else 'none' }};
      min-height: {{ [minHeightTablet, 'px'] | join if minHeightTablet | int > 0 else 'auto' }};
      max-height: {{ [maxHeightTablet, 'px'] | join if maxHeightTablet | int > 0 else 'none' }};
      border-radius: {{ borderRadiusMobile }}px;
    }
  }

  @media (max-width: 640px) {
    .{{ globalClass }} {
      padding: 20px;
    }

    .{{ localClass }} {
      {% if not showOnMobile %} display: none; {% endif %}
      padding: {{ paddingVertMobile }}px {{ paddingHorizMobile }}px;
      min-width: {{ [minWidthMobile, 'px'] | join if minWidthMobile | int > 0 else 'auto' }};
      max-width: {{ [maxWidthMobile, 'px'] | join if maxWidthMobile | int > 0 else 'none' }};
      min-height: {{ [minHeightMobile, 'px'] | join if minHeightMobile | int > 0 else 'auto' }};
      max-height: {{ [maxHeightMobile, 'px'] | join if maxHeightMobile | int > 0 else 'none' }};
    }
  }
</style>
