<!DOCTYPE html>
{% set rtl = global.locales.rtl %}
<html
  lang="{{ global.locales.language }}"
  style="background-color: var(--backgroundColor);"
  {% if rtl %}
    dir="rtl"
  {% else %}
    dir="ltr"
  {% endif %}
>
  <head>
    {% if global.locales.defaultLocale != global.locales.locale %}
      <base id='main-base-tag' href="/{{ global.locales.locale }}/">
    {% else %}
      <base href="/">
    {% endif %}
    <meta charset="utf-8"/>

    <script src='{{ 'js.cookie.min.js' | asset_url }}'></script>
    <script src="{{ 'widget-services.js' | asset_url }}"></script>
    {% render_snippet 'App analytics' %}
    {% render_snippet 'Main meta' %}

    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
    <link rel="apple-touch-icon" href="{{ 'favicon.ico' | asset_url }}"/>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="preconnect" href="https://cdn.sellix.io/"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.googleapis.com/"/>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" as="style" >
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>


    {% set font = themeProperties.typography.font %}
    {% set backgroundImage = themeProperties.page.background_image %}
    {% set backgroundAttachment = themeProperties.page.background_attachment %}

    <link href="{{ font.href }}" rel="stylesheet">

    <style>
      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url({{ 'Inter.woff2' | asset_url }}) format("woff2");
      }

      body {
        transition: background 0.9s;
        background-color: #0000;
        font-size: 0px;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        font-family: {{ font.fontFamily }},
        {{ font.systemFont if font.systemFont in ["sans-serif", "serif"] else "monospace" }} !important;

        {% if backgroundImage %}
          background-image: url({{ backgroundImage }});
          background-attachment: {{ backgroundAttachment }};
          background-repeat: no-repeat, no-repeat;
          background-position: top;
          background-size: cover;
        {% endif %}
      }
    </style>

    <style>
      {% render_snippet 'Root css variables' %}

      :root {
        --desktopMenuHeight: {{ safe_get(properties.header_height_desktop, 60) }}px;
        --tabletMenuHeight: {{ safe_get(properties.header_height_tablet, 60) }}px;
        --mobileMenuHeight: {{ safe_get(properties.header_height_mobile, 60) }}px;
      }
    </style>

    <link rel="stylesheet" href="{{ 'ui-elements.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'fa-icons.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'font-awesome.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'modal.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'root-styles.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'shop.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'sliding-panel.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'swiper.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'toastify.css' | asset_url(rtl) }}"/>

    {# Sections #}
    <link rel="stylesheet" href="{{ 'section-404.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'section-faq.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'section-footer.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'section-footer-menu.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'section-header.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'section-product-list.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'section-main-landing.css' | asset_url(rtl) }}"/>

    {# Blocks #}
    <link rel="stylesheet" href="{{ 'block-cart.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-customer-login.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-feedback-form.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-products-filter.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-products-category-filter.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-products-grid.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-product-light-list.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-shop-statistics.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-ticket-chat.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-ticket-details.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'block-title.css' | asset_url(rtl) }}"/>

    {# Snippets #}
    <link rel="stylesheet" href="{{ 'snippet-cart-button-1.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-cart-button-2.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-checkout-products.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-checkout-product-count.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-code-input.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-currency-selector.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-burger-button.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-feedback-cards.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-feedback-form.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-language-selector.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-loader.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-mobile-sidebar-menu.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-price.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-addons.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-bundles.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-bundle-product.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-cards.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-feedback.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-gallery.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-info.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-list.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-review-stat.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-shortcut.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-share.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-stock.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-product-variants.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-purchase-details.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-shop-message.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-social-links-floating.css' | asset_url(rtl) }}"/>
    <link rel="stylesheet" href="{{ 'snippet-ticket-message.css' | asset_url(rtl) }}"/>

    {% set theme = global.common.shopInfo.theme %}

    <link rel="stylesheet" href="{{ 'select2.css' | asset_url(rtl) }}"/>
    {% if global.request.type in ['main'] %}
      <link rel="stylesheet" href="{{ 'template-main.css' | asset_url(rtl) }}" />
    {% endif %}
    {% if global.request.type in ['checkout', 'product', 'subscription'] %}
      <link rel="stylesheet" href="{{ 'widget-purchase-details.css' | asset_url(rtl) }}" />
    {% endif %}
    {% if global.request.type in ['checkout'] %}
      <link rel="stylesheet" href="{{ 'template-checkout.css' | asset_url(rtl) }}"/>
    {% endif %}
    {% if global.request.type in ['invoice'] %}
      <link rel="stylesheet" href="{{ 'widget-invoice-checkout.css' | asset_url(rtl) }}" />
      <link rel="stylesheet" href="{{ 'template-invoice.css' | asset_url(rtl) }}"/>
    {% endif %}
    <link rel="stylesheet" href="{{ 'magnific-popup.1.1.0.css' | asset_url(rtl) }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />

    <script src="{{ 'jquery.js' | asset_url}}"></script>
  </head>

  {% set layoutId = uid() %}

  <body class="{{ 'dark is-dark darkTheme' if global.theme.isDark }}">
    <div id="app" class="sellix-ui-container {{ 'is-dark' if global.theme.isDark }}">
      {% if settings.sections['Header'].settings.visible %}
        <div class="sellix-header">
          {% render_section 'Header', layoutId=layoutId %}
        </div>
      {% endif %}

      <div class="sellix-store">
        <div id="content" class="template {{ 'height-100vh' if templateProperties.footer_type in ['fullscreen_content'] }}">
          {% render_template 'default' %}
        </div>

        {% if settings.sections['Footer menu'].settings.visible or settings.sections['Footer'].settings.visible %}
          <div class="sellix-footer {{ 'with-border' if global.request.type in ['invoice'] }}">
            {% if settings.sections['Footer menu'].settings.visible %}
              {% render_section 'Footer menu' %}
            {% endif %}

            {% if settings.sections['Footer'].settings.visible %}
              {% render_section 'Footer' %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    <div id="modal"></div>
    {% render_snippet 'Mobile sidebar menu', menu='Modern: Main Menu' %}

    <script>
      window.__RENDER_CONTEXT__ = {{ global | dump | safe }};
      window.RECAPTCHA_PUBLIC_KEY = window.__RENDER_CONTEXT__.config.CAPTCHA_SITE_KEY_V3;
      window.RECAPTCHA_PUBLIC_KEY_V2 = window.__RENDER_CONTEXT__.config.RECAPTCHA;
    </script>

    {% render_snippet 'Page loader' %}
    {% render_snippet 'Toastify' %}
    {% render_snippet 'Heart beat' %}

    {% if global.request.type not in ['invoice'] %}
      {% if themeProperties.common.show_floating_social_links %}
        {% render_snippet 'Social Links: Floating' %}
      {% endif %}
      {% render_snippet 'App crisp chat' %}
      {% render_snippet 'App helpspace' %}
    {% endif %}

    <script async src="https://js.stripe.com/v3/"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{global.config.CAPTCHA_SITE_KEY_V3}}"></script>
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textarea-autosize/0.4.2/jquery.textarea_autosize.min.js" ></script>

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    {% if global.request.type in ['contact'] %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    {% endif %}

    {% if global.request.type in ['product', 'checkout'] %}
      <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    {% endif %}

    <script src="{{ 'copy-to-clipboard.min.js' | asset_url }}"></script>
    <script src="{{ 'file-saver.min.js' | asset_url }}"></script>
    <script src="{{ 'ripple.js' | asset_url }}"></script>
    <script src="{{ 'widget-react-simple-star-rating.js' | asset_url }}"></script>
    <script src="{{ 'widget-react-code-input.js' | asset_url }}"></script>
    <script src="{{ 'select2.js' | asset_url }}"></script>
    <script src="{{ 'magnific-popup.1.1.0.min.js' | asset_url }}"></script>
    <script src="{{ 'react-player.standalone.js' | asset_url }}"></script>
    <script src="{{ 'sharer.min.js' | asset_url }}"></script>
    {% if global.request.type in ['checkout', 'product', 'subscription'] %}
      <script src="{{ 'widget-purchase-details.js' | asset_url }}"></script>
    {% endif %}

    {% if global.request.type in ['invoice'] %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
      <script src="{{ 'widget-invoice-checkout.js' | asset_url }}"></script>
    {% endif %}

  {# Other packages #}

  <script src="{{ 'sellix-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-api.js' | asset_url }}"></script>
  <script src="{{ 'sellix-context.js' | asset_url }}"></script>
  <script src="{{ 'sellix-analytics.js' | asset_url }}"></script>
  <script src="{{ 'sellix-helper.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-filter-store.js' | asset_url }}"></script>

  <script src="{{ 'sellix-cart-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-collapsable-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-addons-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-variants-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-cart-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-customer-login-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-cart-product-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-contact-form-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-checkout-product.js' | asset_url }}"></script>
  <script src="{{ 'sellix-checkout-products.js' | asset_url }}"></script>
  <script src="{{ 'sellix-faq-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-feedback-pagination.js' | asset_url }}"></script>
  <script src="{{ 'sellix-feedback-pagination-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-invoice-checkout-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-leave-feedback-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-addons-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-bundle-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-count-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-variants-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-purchase-details-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-ticket-component.js' | asset_url }}"></script>

  <script src='https://cdn.jsdelivr.net/npm/bignumber.js@9.1.2/bignumber.min.js'></script>

  {% render_snippet 'App cookie modal' %}
  {% render_snippet 'Card: Group modal' %}
  {% render_snippet 'I18Next' %}

  {% if global.request.type in ['main', 'shop', 'group', 'contact', 'terms', 'trust', 'feedbacks', 'feedback', 'category'] %}
    {% render_snippet 'Shop message', container_selector='app' %}
  {% endif %}

  <script type="application/javascript">
    $(document).ready(function () {
      window.Sharer.init();

      $(document).on($.modal.BLOCK, function() {
        $('body').css('overflow', '');
      });
      $(document).on($.modal.BEFORE_OPEN, () => {
        window.sellixHelper.disableScroll();
      });
      $(document).on($.modal.AFTER_CLOSE, (event, context) => {
        window.sellixHelper.enableScroll();
      });
    });
  </script>
</body>
</html>
