{% set id = uid() %}
{% set group = args.group %}
{% set isPlaceholder = not group.image_name %}
{% set image = cdn_link(group.cloudflare_image_id, 'shopItem') %}
{% set colors = themeProperties.current_colors %}
{% set cardsProps = themeProperties.cards %}

<style>
  .sellix-card-container-{{id}} {
    border: {{ "1px solid var(--borderColor)" if cardsProps.product_card_show_border else "none" }};
  }
  .sellix-card-container-{{id}} .sellix-card {
    background: {{ colors[cardsProps.product_card_background_color] }};
  }
  .sellix-card-container-{{id}} .sellix-card .sellix-card-title {
    color: {{ colors[cardsProps.product_card_title_font_color] }};
    font-size: {{ cardsProps.product_card_title_font_size }}px;
    font-weight: {{ cardsProps.product_card_title_font_weight }};
    line-height: {{ cardsProps.product_card_title_line_height }}%;
    justify-content: {{ cardsProps.product_card_title_text_align }} !important;
  }

  .sellix-card-container-{{id}} .sellix-card .sellix-group-card-description {
    color: {{ colors[cardsProps.product_card_description_font_color] }};
    font-size: {{ cardsProps.product_card_description_font_size }}px;
    font-weight: {{ cardsProps.product_card_description_font_weight }};
  }

  .sellix-card-container-{{id}} .sellix-card .sellix-group-card-description .sellix-price {
    color: {{ colors[cardsProps.product_card_price_font_color] }};
    font-size: {{ cardsProps.product_card_price_font_size }}px;
    font-weight: {{ cardsProps.product_card_price_font_weight }};
  }
</style>

<div
  id="sellix-card-container-{{id}}"
  class="sellix-card-container sellix-card-container-{{id}}"
  data-group-id="{{group.uniqid}}"
>
  <div class="sellix-card-badge">{{ 'shop.shared.titles.productType.group' | t }}</div>
  <div class="sellix-card unselectable">
    <div class="sellix-card-image {{'placeholder' if isPlaceholder else ''}}">
      {% if isPlaceholder %}
        <i class="fa-light fa-layer-group"></i>
      {% else %}
        <img src="{{image}}" alt="{{group.title}}" loading="lazy" />
      {% endif %}
    </div>

    <div class="sellix-card-info">
      <div class="sellix-card-title {{'justify-content-center text-center' if args.centerGroup else ''}}">
        {{group.title}}
      </div>

      {% if group.minPriceItem %}
        <span class="sellix-card-tax" style="color: var(--darkFontColor)"></span>
      {% endif %}

      <div class="sellix-group-card-description">
        <span>
          {% if group.minPriceItem %}
            <div class="sellix-group-description-info">
              <span>{{ 'shop.shared.titles.startingAt' | t }}: </span>

              <span class="sellix-price">
                {% render_snippet 'Price', currency=group.minPriceItem.currency, price=group.minPriceItem.price_display %}
              </span>
            </div>
          {% else %}
            <span>{{ 'shop.main.cards.group.outOfProducts' | t }}</span>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    $('#sellix-card-container-{{id}}').on('click', function () {
      const groupId = $(this).data('group-id');
      const items = __RENDER_CONTEXT__.common.shopInfo.items;
      const group = items.find(({uniqid}) => String(uniqid) === String(groupId));

      if (group && group.products_bound.length) {
        $(document).trigger('SellixSetActiveModalGroup', { groupId });
        jQuery('#group-card-modal').modal({
          modalClass: '',
          blockerClass: '',
          showClose: false,
        });
      }
    });

    {% if global.request.type === 'group' and global.request.options.itemId === group.uniqid %}
      setTimeout(function() {
        $('#sellix-card-container-{{id}}').click();
      }, 0);
    {% endif %}
  });
</script>

<script type='application/javascript'>
  $(document).ready(function () {
    const { shopInfo } = window.SellixContext.get('common');
    const ipcountry = Cookies.get('ipcountry') || "BUGO";

    let taxAmount = shopInfo.shop.vat_percentage ? shopInfo.shop.vat_percentage : '';
    if(shopInfo.shop.tax_configuration === "EU" || shopInfo.shop.tax_configuration === "CUSTOM") {
      if(shopInfo.shop.tax_configuration_data && ipcountry) {
        if(shopInfo.shop.tax_configuration_data.find(({ country, type }) => country === ipcountry)) {
          taxAmount = shopInfo.shop.tax_configuration_data.find(({ country, type }) => country === ipcountry).tax_percentage;
        }
      }
    }


    if(shopInfo.shop.display_tax_on_storefront && taxAmount) {
      taxAmount = parseFloat(Number(taxAmount).toFixed(2));
      $('#sellix-card-container-{{ id }} .sellix-card .sellix-card-tax').append(`<span>${taxAmount}% {{ 'shop.main.cards.product.tax' | t }}</span>`);
    }
  });
</script>

