{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set colors = themeProperties.current_colors %}

{% set showBorder = safe_get(properties.show_border, true) %}
{% set backgroundColor = safe_get(properties.background_color, 'background_accent_dark') %}
{% set shadow = safe_get(properties.shadow, 'none') %}

{% set localClass = [globalClass, '-', id] | join %}

<style>
  .{{ localClass }}__dropdown {
    box-shadow: {{ shadow }}!important;
    background: {{ colors[backgroundColor] }};
    border: {{ "1px solid var(--borderColor)" if showBorder else "none" }};
  }
  .{{ localClass }}__dropdown-header-title {
    color: {{ colors[properties.title_font_color] }};
    font-size: {{ properties.title_font_size }}px;
    font-weight: {{ properties.title_font_weight }};
    line-height: {{ properties.title_line_height }}%;
    text-align: {{ properties.title_text_align }};
  }
  .{{ localClass }}__dropdown-header-description {
    margin: 0;
    color: {{ colors[properties.description_font_color] }};
    font-size: {{ properties.description_font_size }}px;
    font-weight: {{ properties.description_font_weight }};
    line-height: {{ properties.description_line_height }}%;
    text-align: {{ properties.description_text_align }};
  }

  .{{ localClass }}__dropdown-body {
    color: {{ colors[properties.item_font_color] }};
    font-size: {{ properties.item_font_size }}px;
    font-weight: {{ properties.item_font_weight }};
  }
</style>

<div class="{{ globalClass }}__container {{ localClass }}__container">
  <div class="box">
    <div class="{{ globalClass }}__cart-icon" data-cart-icon="1">
      {% render_snippet 'Icons: Cart' %}
      <span class="{{ globalClass }}__cart-length" data-cart-length="1"></span>
    </div>
  </div>

  <div class="{{ globalClass }}__dropdown {{ localClass }}__dropdown customFadeIn" data-cart-dropdown="1">
    <div class="{{ globalClass }}__dropdown-header unselectable">
      <h6 class="{{ globalClass }}__dropdown-header-title {{ localClass }}__dropdown-header-title">
        {{ properties.title | t }}
      </h6>

      <p class="{{ globalClass }}__dropdown-header-description {{ localClass }}__dropdown-header-description">
        {{ properties.description | t }}
      </p>
    </div>

    <div class="{{ globalClass }}__dropdown-body {{ localClass }}__dropdown-body" data-cart-dropdown-body="1"></div>

    <div class="{{ globalClass }}__dropdown-footer">
      <button class="back unselectable {{ globalClass }}__clear-button" data-cart-clear-button="1">
        {{ properties.clear_button_label | t }}
      </button>

      <button class="unselectable {{ globalClass }}__checkout-button" data-cart-checkout-button="1">
        {{ properties.checkout_button_label | t }}
      </button>
    </div>
  </div>
</div>

<script id="cart-item-template-{{id}}" type="text/x-jsrender">
    <div id="{% raw %}cart-product-{{:product.uniqid}}{% endraw %}" class="{{ globalClass }}__dropdown-item">
        <div class="{{ globalClass }}__dropdown-item-info">
          {% raw %}
            {{if hasImage }}
              <img src="{{:product.cdn_image_url}}" alt="{{:product.title}}" />
            {{else}}
              <i class="fa-light fa-box-taped"></i>
            {{/if}}

            <span>
              {{:product.title}}
            </span>
          {% endraw %}
        </div>

        <div class="{{ globalClass }}__dropdown-item-buttons unselectable">
          <span
              class="{{ globalClass }}__count-picker unselectable"
              data-product-id="{% raw %}{{:product.uniqid}}{% endraw %}"
              data-cart-remove-button="1"
          >
              <i class="fa-regular fa-minus"></i>
          </span>

          <div class="{{ globalClass }}__product-quantity unselectable" data-cart-product-quantity="1">
              {% raw %}{{:product.quantity}}{% endraw %}
          </div>

          {% raw %}
            {{if !equalQuantity && inStock !== 1 && isValidPlus }}
          {% endraw %}
                <span
                    class="{{ globalClass }}__count-picker unselectable"
                    data-product-id="{% raw %}{{:product.uniqid}}{% endraw %}"
                    data-cart-add-button="1"
                >
                    <i class="fa-regular fa-plus"></i>
                </span>
          {% raw %}
            {{else}}
          {% endraw %}
                <span
                    class="{{ globalClass }}__count-picker unselectable"
                    data-product-id="{% raw %}{{:product.uniqid}}{% endraw %}"
                >
                    <i></i>
                </span>
          {% raw %}
            {{/if}}
          {% endraw %}
        </div>
    </div>
</script>

<script type='application/javascript'>
  $(document).ready(function () {
    const cart = window.SellixCartStoreFactory.getCart('{{shop.name}}');
    const cartComponent = new SellixCartComponent(
      '.{{ localClass }}__container',
      cart,
      '#cart-item-template-{{id}}',
      {{renderOptions | dump | safe}},
    );
    cartComponent.render();
  });
</script>
