{% set slug = global.request.slug %}
{% set colors = themeProperties.current_colors %}
{% set menuProps = themeProperties.menu %}

<style>
  .menu-tab {
    margin-left: 1.25rem;
    color: {{ colors[menuProps.menu_item_font_color] }} !important;
    font-size: {{ menuProps.menu_item_font_size }}px !important;
    font-weight: {{ menuProps.menu_item_font_weight }} !important;
  }
  .menu-tab.active {
    color: {{ colors[menuProps.menu_active_item_font_color] }} !important;
    border-bottom: 2px solid {{ colors[menuProps.menu_active_item_font_color] }};
    font-size: {{ menuProps.menu_active_item_font_size }}px !important;
    font-weight: {{ menuProps.menu_active_item_font_weight }} !important;
    background: {{ colors[menuProps.menu_active_item_background] }};
    border-radius: 0.25rem 0.25rem 0 0;
    position: relative;
  }
</style>

<div class="sellix-menu">
    {% for item in menu.items %}
      {% set active = item.page_slug == slug %}
      {% if item.page_slug != "/" %}
        {% set active = item.page_slug in slug %}
      {% endif %}
      {% if item.page_slug == "/contact" and "/ticket" in slug %}
        {% set active = true %}
      {% endif %}

      {% render_snippet
        'Menu item',
        url=item.page_slug,
        title=item.title,
        is_active=active,
        class='menu-tab'
      %}
    {% endfor %}
</div>
