{% set colors = themeProperties.current_colors %}

:root {
    --brandColor: {{colors.brand_color}};
    --backgroundColor: {{colors.background_main_color}};
    --backgroundAccentLight: {{colors.background_accent_light}};
    --backgroundAccentDark: {{colors.background_accent_dark}};
    --backgroundHover: {{colors.background_hover}};
    --lightFontColor: {{colors.light_font_color}};
    --darkFontColor: {{colors.dark_font_color}};
    --contrastFontColor: {{colors.contrast_font_color}};
    --buttonColor: {{colors.button_color}};
    --borderColor: {{colors.border_color}};
    --linkColor: {{colors.link_color}};
    --menuBackground: {{colors.menu_background}};
    --gridLine: {{colors.grid_line}};
    --thinColor: {{colors.thin_color}};
    --inputBorder: {{colors.input_border}};
    --inputBorderHover: {{colors.input_border_hover}};
    --menuBackgroundHover: {{colors.menu_background_hover}};

    --black9: #121417;
    --black8: #1B1F23;
    --black7: #262A30;
    --black6: #454C56;
    --black5: #555D67;
    --black4: #777F89;
    --black3: #A2AAB4;
    --black2: #DFE5E9;
    --black1: #E8EDF0;
    --black0: #F5F7F8;
    --white: white;

    --purple9: #43248E;
    --purple8: #5129AE;
    --purple7: #6132cf;
    --purple6: #6a3ce2;
    --purple5: #8164ee;
    --purple4: #a191f4;
    --purple3: #c0b9f9;
    --purple2: #dbd8fc;
    --purple1: #eceafd;
    --purple0: #f4f4fe;

    --red9: #381E1D;
    --red8: #60211F;
    --red7: #A53E3E;
    --red6: #D24242;
    --red5: #E85757;
    --red4: #f87171;
    --red3: #fca5a5;
    --red2: #fecaca;
    --red1: #fee2e2;
    --red0: #fef2f2;

    --orange9: #35241E;
    --orange8: #753621;
    --orange7: #BC542A;
    --orange6: #E16727;
    --orange5: #F17C2A;
    --orange4: #F69546;
    --orange3: #FCB871;
    --orange2: #fed7aa;
    --orange1: #F9ECDB;
    --orange0: #fff7ed;

    --green9: #143120;
    --green8: #166534;
    --green7: #15803d;
    --green6: #239F51;
    --green5: #35C068;
    --green4: #66DB91;
    --green3: #8CEDAF;
    --green2: #bbf7d0;
    --green1: #E3F5E9;
    --green0: #f0fdf4;
}
