{% if global.paypal.merchantId %}
  {% set invoice = global.common.invoiceInfo.invoice %}
  {% set product = global.common.productInfo.product %}

  {% set currency = invoice.currency or product.currency %}
  {% set type = invoice.type or ('PRODUCT_SUBSCRIPTION' if product.type === 'SUBSCRIPTION' else product.type) %}

  <script type='application/javascript'>
    $(document).ready(function() {
      if (!window.paypal) {
        const client = '{{ global.paypal.clientId }}';
        const merchantId = '{{ global.paypal.merchantId }}';
        const currency = '{{ currency }}';
        const vault = '{{ type }}' === 'PRODUCT_SUBSCRIPTION' ? 'true' : 'false';

        const script = document.createElement('script');
        script.src = `https://www.paypal.com/sdk/js?client-id=${client}&merchant-id=${merchantId}&components=buttons,funding-eligibility&currency=${currency}&commit=true&vault=${vault}`;
        script.async = true;
        document.body.appendChild(script);
      }
    });
  </script>

{% endif %}
