<a class="track-badge" href="https://sellix.io/track/{{ args.invoiceId }}" target="_blank">
  {% render_snippet 'Track items icon' %}
  <div>
    <div>Invoice Tracking</div>
    <span>Click for more info</span>
  </div>
</a>
