{# onClick={setProductInfo} #}
<div class="track-badge">
  <i class="fa-regular fa-address-card"></i>
  <div>
    <div>{{ 'Cart Info' if args.isCart else 'Product Description' }}</div>
    <span>Click for more info</span>
  </div>
</div>
