{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set product = args.product %}
{% set invoice = global.common.invoiceInfo.invoice %}

<div class="shop-product-info-product-description">
  {% if invoice.developer_invoice %}
    <div class="sellix-text p-3" style="border-radius: .25rem">
      <p>
        You are purchasing a service by {{product.title}}.
        Once your payment is completed and this invoice flagged as paid, you will be redirected back to {{product.title}}'s site.
        If you have any issue, please refer directly to {{product.title}}'s support.
      </p>
    </div>
  {% else %}
    <div class="sellix-text">
      {{product.description | html_sanitize | safe}}
    </div>
  {% endif %}
</div>
