{#
Used to show popup for every user who visit the shop at the first time
#}
{% set shop = global.common.shopInfo.shop %}

{% if shop.popup_message %}
  <style>
    .sellix-toastify.t-shop-message {
          position: absolute!important;
    left: 50%;
    transform: translateX(-50%)!important;
    z-index: 5;
    word-break: break-word;
    border: 0px!important;
    border-radius: 15px!important;
    box-shadow: none;
    width: 100%;
    margin-top: 60px;
    max-height: 290px;
    margin-bottom: -153px;
    }

    .t-shop-message .t-content {
      word-break: break-word;
      white-space: pre-line;
      font-family: Space Grotesk, sans-serif !important;
    }

    .t-shop-message .t-header {
      margin-bottom: 1rem;
      font-weight: 500;
      line-height: 1;
      font-family: Space Grotesk, sans-serif !important;
      font-size: 1rem;
    }

    .t-shop-message .t-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

  </style>
 <script>
    jQuery(document).ready(() => {
      const msg = `{{ shop.popup_message }}`;
      const hash = btoa(encodeURIComponent(msg));
      if (!localStorage.getItem(hash)) {
        setTimeout(() => {
          window._shopMessage = Toastify({
            selector: '{{ containerSelector }}',
            duration: 0,
            className: `sellix-toastify t-shop-message`,
            node: $(`<div>
                      <div class="t-close" onClick="window._shopMessage.removeElement(window._shopMessage.toastElement)"><i class="fas fa-times"></i></div>
                      <div class="t-header">Message from {{ global.common.shopInfo.shop.name }}</div>
                      <div class="t-content">${msg}</div>
                    </div>
              `)[0],
            gravity: "top",
            position: "right",
            callback() {
              localStorage.setItem(hash, 'true');
              delete window._shopMessage;
            },
          }).showToast();
        }, 2000);
      }
    });
  </script>
{% endif %}