{% set colors = themeProperties.current_colors %}
{% set id = uid() %}
{% set colors = themeProperties.current_colors %}
{% set inputsProps = themeProperties.inputs %}

<style>
    .sellix-customer-auth-block .sellix-label {
        color: {{ colors[inputsProps.common_label_font_color] }};
        font-size: {{ inputsProps.common_label_font_size }}px;
        font-weight: {{ inputsProps.common_label_font_weight }};
        line-height: {{ inputsProps.common_label_line_height }}%;
        justify-content: {{ inputsProps.common_label_text_align }};
    }
    .sellix-customer-auth-block .sellix-input {
        height: {{ inputsProps.common_height }}px;
        background: {{ colors[inputsProps.text_field_background] }};
        border: {{ "1px solid var(--borderColor)" if inputsProps.common_show_border else "none" }};
        color: {{ colors[inputsProps.common_font_color] }};
        font-size: {{ inputsProps.common_font_size }}px;
        font-weight: {{ inputsProps.common_font_weight }};
    }
    .sellix-customer-auth-block .sellix-input::placeholder {
        color: {{ colors[inputsProps.common_font_color] }};
        font-size: {{ inputsProps.common_font_size }}px;
        font-weight: {{ inputsProps.common_font_weight }};
    }
    .sellix-customer-auth-block .react-code-input input {
        background-color: {{ colors[inputsProps.text_field_background] }}  !important;
        border: {{ "1px solid var(--borderColor)" if inputsProps.common_show_border else "none" }}  !important;
        color: {{ colors[inputsProps.common_font_color] }} !important;
    }
</style>

<div class="sellix-customer-auth-screen">
    <div class="sellix-customer-auth"
         style="
                 width: {{ properties.customer_auth_size }}%;
                 background: {{ colors[properties.customer_auth_background] }};
                 border: {{ "1px solid var(--borderColor)" if properties.customer_auth_show_border else "none" }};
                 box-shadow: {{ properties.customer_auth_shadow }};
                 border-radius: {{ properties.customer_auth_border_radius }}rem;
             "
    >

        <div id="customer-auth-container"></div>

    </div>
</div>

<script type='application/javascript'>
    $(document).ready(function () {
        const { shopInfo } = window.SellixContext.get('common');
        const isDark = {{ args.isDark if args.isDark is defined else themeProperties.color_schema.dark_mode }};

        const customerAuthComponent = new SellixCustomerAuthComponent({
            selector: '#customer-auth-container',
            selectorCaptchaV2: '#customer-auth-recaptcha-v2',
            config: window.SellixContext.get('config'),
            shop: shopInfo.shop,
            theme: { isDark },
        });
        customerAuthComponent.render();
    });
</script>