<div class="sellix-customer-container">
  {% for block_name in settings.block_order %}
    {%- render_block block_name -%}
  {% endfor%}
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    window.scrollTo({top: 0, behavior: 'smooth'});
  });
</script>