<style>
  .sellix-banner-divider {
    height: 70px;
    border-left: 1px solid var(--borderColor);
    margin: 0 12px;
  }

  @media (max-width: 768px) {
    .sellix-banner-divider {
      display: {{ "none" if not properties.show_on_small_screen }};
      height: 0px;
      width: 100%;
      min-width: 200px;
      border-left: none;
      border-top: 1px solid var(--borderColor);
      margin: 12px 0;
    }
  }
</style>