{% set invoice = global.common.invoiceInfo.invoice %}
{% set isSubscription = invoice.type == 'SUBSCRIPTION'  %}
{% set isDev = (invoice.developer_invoice | int) if invoice else false %}
{% set lang = global.lang.delivery %}
<div>
  {% if isSubscription %}
    {#
    <Button onClick={() => redirectToSubLink( 'dashboard', '/', history)}>
      Go to Dashboard
    </Button>
    #}
  {% elif isDev and invoice.developer_return_url %}
    <a href={{ invoice.developer_return_url }}>
      <button type="button" class="medium primary">
        {{lang.backTo[0]}} <b class="mx-1">{{ invoice.name }}</b>{{lang.backTo[1]}}
      </button>
    </a>
  {% else %}
    <a href="/" style="color: white">
      <button type="button" class="medium primary">
       {{lang.backTo[0]}} <b class="mx-1">{{ invoice.name }}</b>{{lang.backTo[1]}}
      </button>
    </a>
  {% endif %}
</div>
