<style>
.column3 {
  display: inline-block;
  justify-content: space-around;
  align-items: left;
  padding: 130px 25px;

}

.column3 h2 {
  font-size: 22px;
  line-height: 60px;
  display: block;
  font-weight: 900;
  color: #FFF;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #FFFFFF26;
}

.column3 p{
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
}

</style>
<div class="column3">
  <h2>{{ properties.column3_Text_title }}</h2>
  <p>{{ properties.column3_Text_description }}</p>  
  <h2>{{ properties.column3_Text_title2 }}</h2>
  <p>{{ properties.column3_Text_description2 }}</p>
</div>

