{% set shop = global.common.shopInfo.shop %}
{% set feedbacks = global.common.feedbacksInfo.feedbacks %}
{% set offset = args.offset if args.offset else 0 %}
{% set limit = args.limit if args.limit else 12 * (offset + 1) %}
{% set colors = themeProperties.current_colors %}

<div class="sellix-feedback-screen {{'empty' if feedbacks.length === 0 else ''}}"
     style="background: {{ colors[properties.list_items_background_color] }};{#
     #} border: {{ "1px solid var(--borderColor)" if properties.list_items_show_border else "none" }};{#
     #} padding: {{ properties.container_padding_vert }}px {{ properties.container_padding_horiz }}px;{#
     #} box-shadow: {{ properties.container_shadow }};{#
     #} border-radius: {{ properties.container_border_radius }}rem;"
>
  {% if feedbacks.length === 0 %}
    <div class="empty-shop-container">
      {% render_snippet 'Empty feedbacks icon' %}

      <span class="empty-shop-title"><b>{{shop.name}}</b>'s shop has no feedback.</span>
    </div>
  {% endif %}
  {% for item in feedbacks.slice(offset, limit) %}
    {% render_snippet 'Feedback Card', feedback=item %}
  {% endfor %}
</div>
