<style>

.footertext {
  margin-top:150px;
  position: relative;
  height: 100px;
  z-index:2;
  display:flex;
  align-content: flex-end;
  justify-content: center;
  background-image: url({{ properties.footer_background_image }});
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
</style>

<div class="footertext">
  <h2  style="font-size:{{ properties.footer_Text_title_size }}px;{#
      #} text-align: {{ properties.footer_Text_title_alignment }};{#
       #} font-weight:{{ properties.footer_Text_title_thickness }};">
        {{ properties.footer_Text_title654654 }} 
        </h2>
</div>
