<style>
{% if properties.grid_suffix_title %}
  {% if properties.grid_suffix_title_after %}
    .value:after {
    content: "{{ properties.grid_suffix_title }}";
    }
  {% else %}
    .value:before {
    content: "{{ properties.grid_suffix_title }}";
    }
  {% endif %}
{% endif %}
</style>
<div class="gridtextcontent">
   <div class="value" valore="{{ properties.grid_Text_title }}">0</div>
  <h2>{{ properties.grid_Text_description }}</h2>
</div>