<style>
  .sellix-banner-divider {
    width: 1200px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin: 0 12px;
  }

  @media (max-width: 768px) {
    .sellix-banner-divider {
      display: {{ "none" if not properties.show_on_small_screen }};
      width: 100%;
      min-width: 200px;
      border-top: 1px solid var(--borderColor);
      margin: 12px 0;
    }
  }
</style>
<div class="sellix-banner-divider"></div>