<style>
.linkbutton {
  background-color: #7040F2;
  color: #FFF;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-style: solid;
  border-color: #7040F2;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px 5px 5px 5px;
}
.sellix-banner{
  justify-content: center;
}
</style>

<div class=sellix-button2>
<a href="{{ properties.button_link }}" class="linkbutton">{{ properties.button_label }}</a>
</div>