{% set slug = global.request.slug %}
{% set colors = themeProperties.current_colors %}
{% set menuProps = themeProperties.menu %}
{% set guarinoColors = themeProperties.Guarino_Header %}

<style>
  .menu-tab.active {
    font-size: {{ menuProps.menu_active_tab_font_size }}px !important;
    font-weight: 600!important;
    background-color: #ffffff12!important;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    padding: 8 15px;
    border-bottom-color: transparent!important;
  }
</style>

{% if  menuProps.menu_bool %}

<style>

.menu-tab:hover {
    font-size: {{ menuProps.menu_active_tab_font_size }}px !important;
    font-weight: 600!important;
    background-color: #ffffff12!important;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    padding: 8 15px;
    margin: 0 10px;
  }
  .sellix-menu-container {    background: transparent!important;  }
  .sellix-menu  {   justify-content: {{ menuProps.menu_alignment }}; margin-right: 0px!important ; font-weight: 600;       }
</style>

<div class="sellix-menu">
    {% for item in menu.items %}
      {% set active = item.page_slug == slug %}
      {% if item.page_slug != "/" %}
        {% set active = item.page_slug in slug %}
      {% endif %}
      {% if item.page_slug == "/contact" and "/ticket" in slug %}
        {% set active = true %}
      {% endif %}
      <a
        href="{{item.page_slug}}"
        class="menu-tab {{'active' if active else ''}}"
        style="font-size: {{ menuProps.menu_tab_font_size }}px; font-weight: {{ menuProps.menu_tab_font_weight }};margin-top: 20px;"
      >
        {{item.title}}
      </a>
    {% endfor %}
</div>

<div class="divnav" style="height: 80px;    padding-left: 20px;"
    <nav role="navigation">
        <div id="menuToggle" tabindex="1">
            <input type="checkbox" />
            <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      {% for item in menu.items %}
        {% set active = item.page_slug == slug %}
        {% if item.page_slug != "/" %}
          {% set active = item.page_slug in slug %}
        {% endif %}
        {% if item.page_slug == "/contact" and "/ticket" in slug %}
          {% set active = true %}
        {% endif %}
        <a
        href="{{item.page_slug}}"
        class="menu-tab {{'active' if active else ''}}"
        style="font-size: {{ menuProps.menu_tab_font_size }}px; color: {{ guarinoColors.guarino_header_menu_color_inactive }}; font-weight: {{ menuProps.menu_tab_font_weight }};"
        >
          {{item.title}}
        </a>
      {% endfor %}
    </ul>
  </div>
</nav>
</div>
{% endif %}
