{% set id = uid() %}
{% set product = global.common.productInfo.product %}

<div id='price-variants-wrapper-{{ id }}'>
  {% render_snippet 'Price variants', product=product, properties=properties, currency=product.currency %}
</div>

<script type='application/javascript'>
  $(document).on('SellixPurchaseDetailsChangeStep', function(event, eventInfo) {
    if ({{ properties.show_only_on_first_purchase_step }}) {
      if (eventInfo && eventInfo.step === 0) {
        $('#price-variants-wrapper-{{ id }}').removeClass('d-none');
      } else {
        $('#price-variants-wrapper-{{ id }}').addClass('d-none');
      }
    }
  });
</script>
