{% set shop = global.common.shopInfo.shop %}
<div class="Productssold">
      {% if properties.show_real_products %}
      <div class="value" valore="{{ shop.products_sold_count }}">0</div>
      {% else %}
      <div class="value" valore="{{ properties.custom_quantity_products }}">0</div>
      {% endif %}
      <h2>Products Sold</h2>
</div>
