{% set id = uid() %}
{% set shopInfo = global.common.shopInfo %}
{% set shop = shopInfo.shop %}
{% set categories = shopInfo.categories %}
{% set colors = themeProperties.current_colors %}
{% set inputsProps = themeProperties.inputs %}

<style>
@media screen and (min-width: 800px) {

  .sellix-shop-search{
    padding: 0!important;
    margin-right: 13px;
    width: 47.8%!important;
  }
}
  .sellix-shop-search input {
    border-radius: 0.5rem;
    padding: 1rem 2.5rem 1rem 1rem;
    font-size: {{ inputsProps.common_font_size }}px;
    font-weight: {{ inputsProps.common_font_weight }};
    color: {{ colors[inputsProps.common_font_color] }};
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #16132c!important;
    border: {{ "0px solid var(--borderColor)" if inputsProps.common_show_border else "none" }};
    width: 100%;
    height: {{ inputsProps.common_height }}px;
    font-family: inherit;
  }

  .sellix-shop-search input:focus {
    outline: none;
    border: {{ "0px solid var(--brandColor)" if inputsProps.common_show_border else "none" }};
  }

  .sellix-shop-search input::placeholder {
    font-size: {{ inputsProps.common_font_size }}px;
    font-weight: {{ inputsProps.common_font_weight }};
    color: {{ colors[inputsProps.common_font_color] }};
    opacity: 0.7;
  }

  .sellix-shop-search .fas {
    position: absolute;
    right: 3rem;
    font-size: 14px;
    margin-top: 1px;
    color: {{ colors[inputsProps.common_font_color] }} !important;
  }

  .sellix-dropdown .select2-container--sellix .select2-selection--single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: {{ inputsProps.common_height }}px;
    background: #16132c!important;
    border-radius: 0.5rem;
    border: {{ "0px solid var(--borderColor)" if inputsProps.common_show_border else "none" }};
  }

  .sellix-dropdown .select2-container--sellix .select2-selection__rendered {
    padding-left: 1rem !important;
    color: {{ colors[inputsProps.common_font_color] }};
    font-size: {{ inputsProps.common_font_size }}px;
    font-weight: {{ inputsProps.common_font_weight }};
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    max-width: 90%;
  }

  .sellix-dropdown .select2-container--sellix .select2-selection__arrow b:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid var(--thinColor);
    border-top: 0.2em solid var(--thinColor);
    transform: rotate(135deg);
    margin-right: 0.5em;
  }

  .select2-container--sellix .select2-dropdown {
    border: {{ "0px solid var(--borderColor)" if inputsProps.show_dropdown_border else "none" }} !important;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: none;
    border-radius: 4px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #16132c !important;
    color: #5f40e5!important;
     }

  .select2-container--sellix .select2-results__option {
    font-size: {{ inputsProps.dropdown_option_font_size }}px !important;
    font-weight: {{ inputsProps.dropdown_option_font_weight }};
    color: {{ colors[inputsProps.dropdown_option_font_color] }} !important;
    padding: 0 1rem !important;
    display: flex !important;
    align-items: center;
    height: {{ inputsProps.common_height }}px;
  }

  .select2-container--sellix .select2-results__option.select2-results__option--highlighted {
    background-color: transparent!important;
  }

  .select2-container--sellix .select2-results__option[aria-selected='true'] {
    background-color: transparent!important;
    color: #5f40e5!important;
  }


</style>

<div
  class="sellix-product-list-header"
  style="{% if properties.container_background_color %}background: {{colors[properties.container_background_color]}};justify-content: {{ properties.justify_content_alignment }};{% endif %}{#
       #}{% if properties.show_border %}border: 0px solid var(--borderColor);{% else %}border: none;{% endif %}{#
       #} box-shadow: {{ properties.container_shadow }};{#
       #} border-radius: {{ properties.container_border_radius }}rem;{#
       #}{% if properties.container_padding %}padding: {{ properties.container_padding }}px;{% endif %}"
>
  {% if shop.search_enabled %}
    <label for="shop-search-{{id}}" class="sellix-shop-search">
      <i class="fa-regular fas fa-search"></i>
      <input
        type="text"
        id="shop-search-{{id}}"
        value=""
        placeholder="Search for a product..."
      />
    </label>
  {% endif %}

  {% if categories | length %}
    <div class="sellix-dropdown sellix-categories-select">
      <select id="category-select-{{id}}" class="category-select" style="background: {{ colors[inputsProps.select_background] }} "></select>
    </div>
  {% endif %}

  {% if shop.sort_enabled %}
    <div class="sellix-dropdown sellix-sort-select">
      <select id="sort-select-{{id}}" class="sort-select">
        <option value="DEFAULT">Default</option>
        <option value="PRICE">Price</option>
        <option value="NAME">Name</option>
        <option value="TYPE">Type</option>
        <option value="STOCK">Stock</option>
      </select>
    </div>
  {% endif %}
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    const categories = __RENDER_CONTEXT__.common.shopInfo.categories;

    let search = '', category = 'all', sort = 'DEFAULT';

    $('.empty-shop-container button').on('click', () => {
      $('#shop-search-{{id}}').val('').trigger('keyup');
    });

    $('#shop-search-{{id}}').on('keyup', function (e) {
      search = e.target.value;
      $(document).trigger('SellixProductListFilterChangeEvent', { search, category, sort });
    });

      $('#category-select-{{id}}').select2({
        data: [
          {
            text: "All categories",
            id: "all",
          },
          {% for category in categories %}
            {% if not category.unlisted %}
            {
              text: "{{category.title}}",
              id: "{{category.uniqid}}"
            },
            {% endif %}
          {% endfor %}
        ],
        minimumResultsForSearch: -1,
        theme: 'sellix',
      }).on('change', (e) => {
        category = e.target.value;
        $(document).trigger('SellixProductListFilterChangeEvent', { search, category, sort });
      });

      $('#sort-select-{{id}}').select2({
        templateSelection: (state) => {
          if (state.id) {
            return `Index By: ${state.text}`;
          }
          return state.text;
        },
        minimumResultsForSearch: -1,
        theme: 'sellix',
      }).on('change', (e) => {
        sort = e.target.value;
        $(document).trigger('SellixProductListFilterChangeEvent', { search, category, sort });
      });
  });
</script>