<div class="sellix-grid-socials">

  {% if properties.sellix_socials_footer_twitter %}
    <div>
      <a href="{{ properties.sellix_socials_footer_twitter }}">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>
  {% endif %}

  {% if properties.sellix_socials_footer_facebook %}
    <div>
      <a href="{{ properties.sellix_socials_footer_facebook }}">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  {% endif %}

  {% if properties.sellix_socials_footer_instagram %}
    <div>
      <a href="{{ properties.sellix_socials_footer_instagram }}">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  {% endif %}

  {% if properties.sellix_socials_footer_tiktok %}
    <div>
      <a href="{{ properties.sellix_socials_footer_tiktok }}">
        <i class="fa-brands fa-tiktok"></i>
      </a>
    </div>
  {% endif %}

  {% if properties.sellix_socials_footer_youtube %}
    <div>
      <a href="{{ properties.sellix_socials_footer_youtube }}">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  {% endif %}

  {% if properties.sellix_socials_footer_discord %}
    <div>
      <a href="{{ properties.sellix_socials_footer_discord }}">
        <i class="fa-brands fa-discord"></i>
      </a>
    </div>
  {% endif %}

</div>