<!DOCTYPE html>
<html
  lang="{{ global.locales.language }}"
  style="background-color: var(--backgroundColor);"
  class="scroll-hidden"
>
<head>
  {% if global.locales.defaultLocale != global.locales.locale %}
    <base id='main-base-tag' href="/{{ global.locales.locale }}/">
  {% else %}
    <base href="/">
  {% endif %}
  <meta charset="utf-8"/>

  <script src='{{ 'js.cookie.min.js' | asset_url }}'></script>
  {% render_snippet 'App google analytics' %}
  {% render_snippet 'Main meta' %}

  <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}"/>
  <link rel="icon" href="{{ 'favicon.ico' | asset_url }}"/>
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="apple-touch-icon" href="{{ 'favicon.ico' | asset_url }}"/>
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="preconnect" href="https://cdn.sellix.io/"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel="preconnect" href="https://fonts.googleapis.com/"/>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" as="style" >
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  {% set font = themeProperties.typography.font %}
  {% set backgroundImage = themeProperties.page.background_image %}

  <link href="{{ font.href }}" rel="stylesheet">

  <style>
    @font-face {
      font-family: "Inter var";
      font-weight: 100 900;
      font-display: swap;
      font-style: normal;
      font-named-instance: "Regular";
      src: url({{ 'Inter.woff2' | asset_url }}) format("woff2");
    }

    body {
      transition: background 0.9s;
      background-color: #0000;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      font-family: {{ font.fontFamily }},
      {{ font.systemFont if font.systemFont in ["sans-serif", "serif"] else "monospace" }} !important;

      {% if backgroundImage %}
        background-image: url({{ backgroundImage }});
        background-repeat: no-repeat, no-repeat;
        background-position: top;
        background-size: cover;
      {% endif %}
    }
  </style>

  <style>
    {% render_snippet 'Root css variables' %}
  </style>

  <link rel="stylesheet" href="{{ 'ui-elements.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'fa-icons.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'font-awesome.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'modal.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'root-styles.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'shop.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'toastify.css' | asset_url }}"/>

  {# Sections #}
  <link rel="stylesheet" href="{{ 'section-faq.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'section-header.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'section-product-list.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'section-title.css' | asset_url }}"/>

  {# Blocks #}
  <link rel="stylesheet" href="{{ 'block-cart.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'block-products-filter.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'block-products-grid.css' | asset_url }}"/>

  {# Snippets #}
  <link rel="stylesheet" href="{{ 'snippet-cart-button-1.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-cart-button-2.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-checkout-products.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-checkout-product-count.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-language-selector.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-mobile-sidebar-menu.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-addons.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-bundles.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-bundle-product.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-cards.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-description.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-gallery.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-info.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-list.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-review-stat.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-variants.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-product-warranty.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-purchase-details.css' | asset_url }}"/>
  <link rel="stylesheet" href="{{ 'snippet-tag.css' | asset_url }}"/>

  {% set theme = global.common.shopInfo.theme %}

  <link rel="stylesheet" href="{{ 'select2.css' | asset_url }}"/>
  {% if global.request.type in ['checkout', 'product', 'subscription'] %}
    <link rel="stylesheet" href="{{ 'purchase.css' | asset_url }}" />
  {% endif %}
  {% if global.request.type in ['invoice'] %}
    <link rel="stylesheet" href="{{ 'invoice.css' | asset_url }}" />
  {% endif %}
  <link rel="stylesheet" href="{{ 'magnific-popup.1.1.0.css' | asset_url }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />

  <script src="{{ 'jquery.js' | asset_url}}"></script>
</head>

{% set layoutId = uid() %}

<body>
  <div id="app">
    <div class="sellix-store">
      {% render_section 'header', layoutId=layoutId %}

      <div id="content" class="template">
        {% render_template 'default' %}
      </div>

      {% render_section 'footer' %}
    </div>
  </div>

  <div id="modal"></div>
  {% render_snippet 'Mobile sidebar menu', menu='Main Menu' %}

  <script>
    window.__RENDER_CONTEXT__ = {{ global | dump | safe | replace('\u003c', '<') }};
    window.RECAPTCHA_PUBLIC_KEY = window.__RENDER_CONTEXT__.config.CAPTCHA_SITE_KEY_V3;
    window.RECAPTCHA_PUBLIC_KEY_V2 = window.__RENDER_CONTEXT__.config.RECAPTCHA;
  </script>

  {% render_snippet 'Page loader' %}
  {# {% render_snippet 'Social Links' %} #}
  {% render_snippet 'Toastify' %}
  {% render_snippet 'Heart beat' %}
  {% render_snippet 'App crisp chat' %}
  {% render_snippet 'App helpspace' %}

  <script src="https://www.google.com/recaptcha/api.js?render={{global.config.CAPTCHA_SITE_KEY_V3}}"></script>
  <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.8.1/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/textarea-autosize/0.4.2/jquery.textarea_autosize.min.js" ></script>

  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  {% if global.request.type in ['contact'] %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  {% endif %}

  {% if global.request.type in ['product', 'checkout'] %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
  {% endif %}

  <script src="{{ 'copy-to-clipboard.min.js' | asset_url }}"></script>
  <script src="{{ 'file-saver.min.js' | asset_url }}"></script>
  <script src="{{ 'ripple.js' | asset_url }}"></script>
  <script src="{{ 'react-simple-star-rating.js' | asset_url }}"></script>
  <script src="{{ 'select2.js' | asset_url }}"></script>
  <script src="{{ 'magnific-popup.1.1.0.min.js' | asset_url }}"></script>
  <script src="{{ 'react-player.standalone.js' | asset_url }}"></script>
  {% if global.request.type in ['checkout', 'product', 'subscription'] %}
    <script src="{{ 'purchase.js' | asset_url }}"></script>
  {% endif %}
  {% if global.request.type in ['invoice'] %}
    <script src="{{ 'invoice.js' | asset_url }}"></script>
  {% endif %}

  {# Other packages #}

  <script src="{{ 'sellix-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-api.js' | asset_url }}"></script>
  <script src="{{ 'sellix-context.js' | asset_url }}"></script>
  <script src="{{ 'sellix-helper.js' | asset_url }}"></script>

  <script src="{{ 'sellix-cart-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-addons-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-variants-store.js' | asset_url }}"></script>
  <script src="{{ 'sellix-cart-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-cart-product-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-contact-form-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-checkout-product.js' | asset_url }}"></script>
  <script src="{{ 'sellix-checkout-products.js' | asset_url }}"></script>
  <script src="{{ 'sellix-faq-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-feedback-pagination.js' | asset_url }}"></script>
  <script src="{{ 'sellix-feedback-pagination-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-addons-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-bundle-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-count-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-product-variants-component.js' | asset_url }}"></script>
  <script src="{{ 'sellix-purchase-details-component.js' | asset_url }}"></script>

  {% render_snippet 'App cookie modal' %}
  {% render_snippet 'Card: Group modal' %}
  {% render_snippet 'I18Next' %}

  {% if global.request.type in ['main', 'shop', 'group', 'contact', 'terms', 'trust', 'feedbacks', 'feedback', 'category'] %}
    {% render_snippet 'Shop message', container_selector=["sellix-header-", layoutId] | join %}
  {% endif %}
</body>
</html>
