{% set id = uid() %}
{% set product = args.product %}
{% set dark = args.dark %}
{% set type = product.type or 'UNDEFINED' %}

{% if product.isGroup %}
  <div style="color: {{ '#454C56' if dark else '#E9EDF0' }};">
    {% render_snippet 'Icons: No image Group', dark=dark %}
  </div>
{% elif type == 'FILE' %}
  {% render_snippet 'Icons: No image File' %}
{% elif type == 'INFO_CARD' %}
  {% render_snippet 'Icons: No image Default' %}
{% elif type == 'SERIALS' %}
  {% render_snippet 'Icons: No image Serials' %}
{% elif type == 'SERVICE' %}
  {% render_snippet 'Icons: No image Service' %}
{% elif type == 'SUBSCRIPTION'%}
  {% render_snippet 'Icons: No image Subscription' %}
{% else %}
  {% render_snippet 'Icons: No image Default' %}
{% endif %}
