{% set id = uid() %}
{% set product = args.product %}
{% set dark = args.dark %}
{% set type = product.type or 'UNDEFINED' %}

{% if type == 'FILE' %}
  {% render_snippet 'Icons: No image File' %}
{% elif type == 'INFO_CARD' %}
  {% render_snippet 'Icons: No image Default' %}
{% elif type == 'SERIALS' %}
  {% render_snippet 'Icons: No image Serials' %}
{% elif type == 'SERVICE' %}
  {% render_snippet 'Icons: No image Service' %}
{% elif type == 'SUBSCRIPTION'%}
  {% render_snippet 'Icons: No image Subscription' %}
{% else %}
  {% if dark %}
    {% render_snippet 'Icons: No image Default' %}
  {% else %}
    {% render_snippet 'Icons: No image Default' %}
  {% endif %}
{% endif %}
