{% set id = uid() %}
{% set product = args.product %}
{% set properties = args.properties %}
{% set colors = themeProperties.current_colors %}

{% set bgColor = safe_get(properties.container_background_color, 'background_accent_dark') %}
{% set showBorder = safe_get(properties.container_show_border, true) %}
{% set borderRadius = safe_get(properties.container_border_radius, 8) %}
{% set shadow = safe_get(properties.container_shadow, 'none') %}
{% set paddingHoriz = safe_get(properties.container_padding_horiz, 16) %}
{% set paddingVert = safe_get(properties.container_padding_vert, 16) %}

{% set globalClass = 'snippet-product-terms' %}
{% set localClass = id %}

<style>
  .{{ localClass }} {
    border: {{ '1px solid var(--borderColor)' if showBorder else 'none' }};
    background: {{ colors[bgColor] }};
    border-radius: {{ borderRadius }}px;
    box-shadow: {{ shadow }};
    padding: {{ paddingVert }}px {{ paddingHoriz }}px;
  }
  .{{ localClass }}__empty {
    padding: 1rem 0;
  }
</style>

<div class="{{ globalClass }} {{ localClass }}">
  {% if true or not product.terms_of_service %}
    <div class="empty-message-container {{ globalClass }}__empty {{ localClass }}__empty">
      {% render_snippet 'Icons: Empty feedback' %}
      <span class="empty-message-title {{ globalClass }}__empty-title {{ localClass }}__empty-title">
        Product <b>{{ product.title }}</b> has no Terms of Service.
      </span>
    </div>
  {% else %}
    <div class="sellix-text">
      {{product.terms_of_service | html_sanitize | safe}}
    </div>
  {% endif %}
</div>
