{% set id = uid() %}
{% set product = args.product %}
{% set isFree = product.price_display | float === 0 %}

{% set priceFontColor = safe_get(properties.price_font_color, 'dark_font_color') %}
{% set priceFontSize = safe_get(properties.price_font_size, 14) %}
{% set priceFontWeight = safe_get(properties.price_font_weight, 500) %}
{% set priceLineHeight = safe_get(properties.title_price_height, 20) %}

{% set initialPriceFontColor = safe_get(properties.initial_price_font_color, 'dark_font_color') %}
{% set initialPriceFontSize = safe_get(properties.initial_price_font_size, 14) %}
{% set initialPriceFontWeight = safe_get(properties.initial_price_font_weight, 500) %}
{% set initialPriceLineHeight = safe_get(properties.initial_price_line_height, 20) %}

{% set priceProperties = {
  price_font_color: priceFontColor,
  price_font_size: priceFontSize,
  price_font_weight: priceFontWeight,
  price_line_height: priceLineHeight,
  initial_price_font_color: initialPriceFontColor,
  initial_price_font_size: initialPriceFontSize,
  initial_price_font_weight: initialPriceFontWeight,
  initial_title_price_height: initialPriceLineHeight
} %}

{% set globalClass = ['snippet-product-price'] %}
{% set localClass = id %}

<style>
  .{{ localClass }} {
    color: {{ priceFontColor | get_color }}!important;
    font-size: {{ priceFontSize }}px;
    font-weight: {{ priceFontWeight }};
    line-height: {{ priceLineHeight }}px;
  }
  .{{ localClass }} span {
    color: {{ initialPriceFontColor | get_color }}!important;
    font-size: {{ initialPriceFontSize }}px;
    font-weight: {{ initialPriceFontWeight }};
    line-height: {{ initialPriceLineHeight }}px;
  }
</style>


<span class="{{ globalClass }} {{ localClass }}">
  {% if isFree%}
    {{ 'shop.shared.titles.free' | t }}
  {% else %}
    {% render_snippet
      'Shared: Price',
      currency=product.currency,
      price=product.min_price,
      show_image=true,
      show_initial_price='last',
      properties=priceProperties
    %}
  {% endif %}
</span>
