{% set id = uid() %}
{% set button_id = args.button_id if args.button_id else (["ripple-button-", id] | join) %}
{% set disabled = args.disabled or false %}
{% set bgColor = args.bg_color or 'button_color' %}
{% set labelColor = args.label_color or 'button_text_color' %}

<button
  id='{{button_id}}'
  type="{{args.type if args.type else 'button'}}"
  style="{{args.style if args.style else ''}}"
  class="button {{args.class if args.class else ''}}"
  {{ 'disabled' if disabled }}
>
  <div class="ripple-button-loader d-none">
    {% render_snippet
      'Shared: Loader',
      properties={
        background_color: bgColor,
        color: labelColor
      }
    %}
  </div>

  <div class="ripple-button-label">
    {% if args.plus %}
      <i class="fa-solid fa-plus mr-2"></i>
    {% endif %}
    {% if args.icon %}
      <div class="mr-3">
        {% render_snippet args.icon %}
      </div>
    {% endif %}
    {{args.title}}
  </div>
</button>

<script type='application/javascript'>
  $(document).ready(function () {
    new ripple('#{{button_id}}');
  });
</script>
