.section-product-list__container {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.section-product-list__container .infinite-scroll-component__outerdiv > div {
  display: flex;
  flex-wrap: wrap;
}

.section-product-list__not-found {
  margin: 1.5rem 0;
  width: 100%;
  color: var(--lightFontColor);
}

.section-product-list__container button {
  min-width: 170px;
  padding: 0 20px !important;
  margin-bottom: 5px;
}