.snippet-product-review-stat {
  display: flex;
  align-items: center;

  color: var(--darkFontColor);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.snippet-product-review-stat__score .reviews-count {
  opacity: 0.6;
}

.snippet-product-review-stat__stars {
  line-height: initial;
  margin-right: 0.5rem;
}