.template-invoice {
  height: 100%;
}

.template-invoice .block-invoice-checkout {
  width: 100%;
}

.sellix-footer .section-footer-menu__container {
  padding: 1.25rem 1rem;
}

@media (max-width: 768px) {
  .sellix-footer .section-footer-menu__container {
    padding: 1.25rem 1rem;
  }
}

.sellix-widget-invoice-checkout--wrapper {
  max-height: 100%;
}

.template-invoice .section-container--simple__container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.sellix-section {
  height: 100%;
}

.section-container--simple__container {
  height: 100%;
}

.snippet-invoice-checkout {
  height: 100%;
}

.snippet-invoice-checkout__container {
  height: 100%;
}