{% set product = args.product or global.common.productInfo.product %}
{% set warranty = product.warranty | int %}

<div id="product-warranty-modal" class="sellix-modal" style="display: none">
  <div class="sellix-modal-header pb-4">
    {{ 'shop.shared.titles.productWarranty' | t }}
    <div class="sellix-modal-close" >
      <i class="fa-light fa-times" style="color: var(--darkFontColor); font-size:1.25rem;"></i>
    </div>
  </div>
  <div class="sellix-modal-body">
    {% render_snippet
      'Product: Warranty text',
      product=product
    %}
  </div>
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    $('#product-warranty-modal .sellix-modal-close').on('click', function () {
      $.modal.close();
    });
  });
</script>
