{% set id = uid() %}
{% set currentUrl = global.common.currentUrl %}

<a href="/customer/dashboard" class="{{'active' if currentUrl == '/customer/dashboard' else ''}}" style="border-top: 1px solid var(--borderColor);">
    {% render_snippet 'Customer Dashboard Icon' %}
    Dashboard
</a>
<a href="/customer/affiliate-links" class="{{'active' if currentUrl == '/customer/affiliate-links' else ''}}">
    {% render_snippet 'Customer Affiliate Icon' %}
    Affiliate Links
</a>
<a href="/customer/payouts" class="{{'active' if currentUrl == '/customer/payouts' else ''}}" style="border-bottom: none;">
    {% render_snippet 'Customer Payouts Icon' %}
    Payouts
</a>