{% set id = uid() %}
{% set properties = args.properties %}

{% set colors = themeProperties.current_colors %}

{% set bgColor = safe_get(properties.background_color, 'dark_font_color') %}
{% set label = properties.label %}
{% set labelColor = properties.label_color %}
{% set labelFontSize = properties.label_font_size %}
{% set labelFontWeight = properties.label_font_weight %}
{% set url = properties.url %}

{% set localClass = ['section-multi-columns-', id, '__column-item-button'] | join %}

<style>
  .{{ localClass }} .button {
    color: {{ colors[labelColor] }};
    background-color: {{ colors[bgColor] }};
    font-size: {{ labelFontSize }}px;
    font-weight: {{ labelFontWeight }} !important;
  }
</style>

<div class="{{ localClass }}">
  <a href="{{ url }}" class="button">
    <span class="mr-2">{{ label }}</span>
    {% render_snippet 'Icons: Arrow right 1' %}
  </a>
</div>
