{% set id = uid() %}
{% set properties = args.properties %}

{% set colors = themeProperties.current_colors %}

{% set backgroundColor = safe_get(properties.background_color, 'dark_font_color') %}
{% set labelColor = properties.label_color %}
{% set label = properties.label %}
{% set url = properties.url %}

{% set localClass = ['section-multi-columns-', id, '__column-item-button'] | join %}

<style>
  .{{ localClass }} {
  }

  .{{ localClass }} a {
    background-color: {{ colors[backgroundColor] }};
    padding: 14px 20px;
    border-radius: 18px;

    display: flex;
    align-items: center;
    color: {{ colors[labelColor] }};
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .{{ localClass }} a span {
    margin-right: 8px;
  }
</style>

<div class="{{ localClass }}">
  <a href="{{ url }}">
    <span>{{ label }}</span>
    {% render_snippet 'Icons: Arrow right 1' %}
  </a>
</div>
