{% set id = uid() %}
{% set properties = args.properties %}

{% set globalClass = 'section-multi-columns' %}
{% set localClass = id %}

<style>
  .{{ localClass }} {
    width: {{ properties.size }};
    height: {{ properties.size }};
  }
</style>

<div>
  <img class="{{ localClass }}" src='{{properties.url | asset_url}}' alt=''>
</div>
