{% set sectionId = args.sectionId or id() %}
{% set columnIndex = args.columnIndex %}

{% if properties.column_index | int === columnIndex %}
  {% set properties = args.properties %}

  {{ properties.url}}
{% endif %}
