{% set id = uid() %}
{% set properties = args.properties %}

{% set localClass = ['multi-columns-', id, '__column-item-image'] | join %}

<style>
  .{{ localClass }} {
    width: {{ properties.size }};
    height: {{ properties.size }};
  }
</style>

<div>
  <img class="{{ localClass }}" src='{{properties.url | asset_url}}' alt=''>
</div>
