{% set id = uid() %}
{% set properties = args.properties %}

{% set colors = themeProperties.current_colors %}

{% set contentAlignDesktop = safe_get(properties.content_align_desktop, 'center') %}
{% set contentAlignTablet = safe_get(properties.content_align_tablet, 'center') %}
{% set contentAlignMobile = safe_get(properties.content_align_mobile, 'center') %}
{% set fontColor = safe_get(properties.font_color, 'dark_font_color') %}
{% set fontSize = safe_get(properties.font_size, 14) %}
{% set fontWeight = safe_get(properties.font_weight, 400) %}
{% set lineHeight = safe_get(properties.line_height, 28) %}

{% set localClass = ['section-multi-columns-', id, '__column-item-text'] | join %}

<style>
  .{{ localClass }} {
    width: 100%;
    text-align: {{ contentAlignDesktop }};
    color: {{ colors[fontColor] }};
    font-size: {{ fontSize }}px;
    font-weight: {{ fontWeight }};
    line-height: {{ lineHeight }}px;
  }
  @media (max-width: 768px) {
    .{{ localClass }} {
      text-align: {{ contentAlignTablet }};
    }
  }

  @media (max-width: 640px) {
    .{{ localClass }} {
      text-align: {{ contentAlignMobile }};
    }
  }
</style>

<div class="{{ localClass }}">
  {{ properties.content }}
</div>
