{% set id = uid() %}
{% set colors = themeProperties.current_colors %}

{% set shop = global.common.shopInfo.shop %}
{% set average_score = shop.average_score if shop.average_score else 0 %}

{% set align = safe_get(properties.align, 'center') %}
{% set alignMap = {'left': 'start', 'center': 'center', 'right': 'end'} %}

{% set valueFontColor = safe_get(properties.value_font_color, 'dark_font_color') %}
{% set valueFontSize = safe_get(properties.value_font_size, 24) %}
{% set valueFontWeight = safe_get(properties.value_font_weight, 500) %}
{% set valueLineHeight = safe_get(properties.value_line_height, 29) %}

{% set labelContent = safe_get(properties.label_content, 'shop.shared.banner.stats.productQuality') %}
{% set labelFontColor = safe_get(properties.label_font_color, 'light_font_color') %}
{% set labelFontSize = safe_get(properties.label_font_size, 14) %}
{% set labelFontWeight = safe_get(properties.label_font_weight, 500) %}
{% set labelLineHeight = safe_get(properties.label_line_height, 20) %}

{% set rootClass = ['shop-statistics-', id, '__product_quality'] | join %}

<style>
  .{{ rootClass }} {
    display: flex;
    flex-direction: column;
    align-items: {{ alignMap[align] }};
  }
  .{{ rootClass }}__value {
    display: flex;
    align-items: center;
    color: {{ colors[valueFontColor] }};
    font-size: {{ valueFontSize }}px;
    font-weight: {{ valueFontWeight }};
    line-height: {{ valueLineHeight }}px;
  }
  .{{ rootClass }}__label {
    color: {{ colors[labelFontColor] }};
    font-size: {{ labelFontSize }}px;
    font-weight: {{ labelFontWeight }};
    line-height: {{ labelLineHeight }}px;
  }
</style>

<div class="{{ rootClass }}">
  <div class="{{ rootClass }}__value">
    {% render_snippet 'Rating star', rating=average_score, iconsCount=1 %}
    <div>
      {% if average_score | float >= 4.95 %}
        5
      {% else %}
        {{ average_score | float | round(1) }}
      {% endif%}
    </div>
  </div>
  <div class="{{ rootClass }}__label">
    {{ labelContent | t }}
  </div>
</div>
