{% set id = uid() %}
{% set theme = global.common.theme %}
{% set colors = themeProperties.current_colors %}
{% set affiliateItems = global.common.shopInfo.affiliateItems %}
{% set backgroundColor = properties.customer_affiliate_table_background_color if properties.customer_affiliate_table_background_color is defined else 'background_accent_dark' %}
{% set secondaryBackgroundColor = properties.customer_affiliate_table_secondary_background_color if properties.customer_affiliate_table_secondary_background_color is defined else 'background_accent_dark' %}
{% set colors = themeProperties.current_colors %}

<style>

  .sellix-customer-table {
    background: {{ colors[backgroundColor] }};
    box-shadow: {{ properties.customer_affiliate_table_shadow }};
    border-radius: {{ properties.customer_affiliate_table_border_radius }}rem;
    border: {{ "1px solid var(--borderColor)" if properties.customer_affiliate_table_show_border else "none" }};
  }

  .sellix-customer-table thead {
    background: {{ colors[secondaryBackgroundColor] }};
  }

</style>

{% if affiliateItems.length === 0 %}
  <div class="empty-shop-container empty-search" {% if items and affiliateItems.length > 0 %}style="display:none;"{% endif %}>

    <div class="empty-sales-list">
      {% render_snippet 'Customer Empty Affiliate Icon' %}
      <span class="empty-sales-list-title">
        {{ 'customer.affiliateLinks.isEmpty.title' | t }}
      </span>
      <span class="empty-sales-list-description">
        {{ 'customer.affiliateLinks.isEmpty.message' | t }}
      </span>
    </div>

  </div>
{% else %}

  <table class="sellix-customer-table mt-4" cellspacing="0" cellpadding="0">

    <thead data-product-id="{{item.uniqid}}" class="sellix-customer-table-head">
      <tr>
        <th>{{ 'customer.affiliateLinks.columns.product' | t }}</th>
        <th>{{ 'customer.affiliateLinks.columns.commission' | t }}</th>
        <th>{{ 'customer.affiliateLinks.columns.price' | t }}</th>
        <th>{{ 'customer.affiliateLinks.columns.link' | t }}</th>
      </tr>
    </thead>

    <tbody data-product-id="{{item.uniqid}}" class="sellix-customer-table-body">
      {% for item in affiliateItems %}
        {% if (item.isProduct or item.isSubscription) and not ((item.price_display | float === 0) and not (item.pay_what_you_want | int === 1)) %}
          {% render_snippet 'Customer Affiliate Table Row', product=item, theme=theme, isSubscription=item.isSubscription %}
        {% endif %}
      {% endfor %}
    </tbody>

  </table>

{% endif %}
