{% set id = uid() %}
{% set shopInfo = global.common.shopInfo %}
{% set shop = shopInfo.shop %}
{% set theme = global.common.theme %}
{% set customerInfo = global.common.customerInfo %}

{% set currencyList = global.config.CURRENCY_LIST %}

{% set revenueTotal = customerInfo.customer.affiliate_revenue %}
{% set revenueCurrency = customerInfo.customer.affiliate_revenue_currency %}

{% set totalEarned = customerInfo.total_earned %}
{% set totalEarnedCurrency = customerInfo.total_earned_currency %}

{% set totalReferrals = customerInfo.total_referrals %}
{% set shopPercentageTotal = customerInfo.shop.affiliate_revenue_percent %}

<style>
  .sellix-customer-info-blocks > div {
    width: calc({{ 100 / properties.customer_dashboard_analytic_items_per_row_wide | int }}% - .5rem);
  }

  @media (max-width: 768px) {
    .sellix-customer-info-blocks > div {
      width: calc({{ 100 / properties.customer_dashboard_analytic_items_per_row_normal | int }}%);
    }
  }

  @media (max-width: 640px) {
    .sellix-customer-info-blocks > div {
      width: calc({{ 100 / properties.customer_dashboard_analytic_items_per_row_narrow | int }}%);
    }
  }
</style>

<div class="sellix-customer-info-blocks">
  {% render_snippet 'Customer Dashboard Analytic Item', properties=properties, title="Total Commission", value=([currencyList[totalEarnedCurrency], totalEarned] | join) %}
  {% render_snippet 'Customer Dashboard Analytic Item', properties=properties, title="Total Referrals", value=totalReferrals %}
  {% render_snippet 'Customer Dashboard Analytic Item', properties=properties, title="Commission Balance", value=([currencyList[revenueCurrency], revenueTotal] | join) %}
  {% render_snippet 'Customer Dashboard Analytic Item', properties=properties, title="Revenue Percentage", value=([shopPercentageTotal, '%'] | join) %}
</div>

