{% set id = uid() %}
{% set shopInfo = global.common.shopInfo %}
{% set theme = global.common.theme %}
{% set customerInfo = global.common.customerInfo.customer %}
{% set paddingVert = properties.customer_payouts_padding_vert if properties.customer_payouts_padding_vert is defined else '16' %}
{% set paddingHoriz = properties.customer_payouts_padding_horiz if properties.customer_payouts_padding_horiz is defined else '16' %}
{% set backgroundColor = properties.customer_payouts_background if properties.customer_payouts_background is defined else 'background_accent_dark' %}
{% set colors = themeProperties.current_colors %}

{#{{properties | dump | safe}}#}
<div class="sellix-payouts-block" style="
        width: calc({{ properties.customer_payouts_size }}%);
        background-color: {{ colors[backgroundColor] }};
        border: {{ "1px solid var(--borderColor)" if properties.customer_payouts_show_border else "none" }};
        box-shadow: {{ properties.customer_payouts_shadow }};
        border-radius: {{ properties.customer_payouts_border_radius }}rem;
        padding: {{ paddingVert }}px {{ paddingHoriz }}px!important;
  ">
  <div class="sellix-payouts-block-title">Manual Payouts</div>
  <span class="sellix-payouts-block-description">Get in touch with the merchant for a manual payout of commission balance.</span>

  <a href="contact" target="_blank">
    {% render_snippet 'Ripple button', title='Contact Merchant', icon='Customer Menu Email Icon' %}
  </a>
</div>
