{% set id = uid() %}
{% set shopInfo = global.common.shopInfo %}
{% set theme = global.common.theme %}
{% set customerInfo = global.common.customerInfo.customer %}

<div class="sellix-payouts-block">
  <div class="sellix-payouts-block-title">Manual Payouts</div>
  <span class="sellix-payouts-block-description">Get in touch with the merchant for a manual payout of commission balance.</span>
  <a href="/contact" target="_blank">
    <button class="sellix-payouts-block-button" type="button">
      {% render_snippet 'Customer Menu Email Icon' %}
      Contact Merchant
    </button>
  </a>
</div>
