{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set product = args.product %}
{% set invoice = args.invoice %}
{% set properties = args.properties %}
{% set colors = themeProperties.current_colors %}

{% set collapsable = safe_get(properties.collapsable, true) %}
{% set warranty = product.warranty | int %}

{% set warrnatyBodyProps = {
  "padding_vert": properties.body_padding_vert,
  "padding_horiz": properties.body_padding_horiz,
  "font_color": properties.body_font_color,
  "font_size": properties.body_font_size,
  "font_weight": properties.body_font_weight,
  "line_height": properties.body_line_height
} %}

{% set titleFontColor = safe_get(properties.title_font_color, 'dark_font_color') %}
{% set titleFontSize = safe_get(properties.title_font_size, 16) %}
{% set titleFontWeight = safe_get(properties.title_font_weight, 500) %}
{% set titleLineHeight = safe_get(properties.title_line_height, 24) %}

{% set bodyFontColor = safe_get(properties.body_font_color, 'dark_font_color') %}
{% set bodyFontSize = safe_get(properties.body_font_size, 14) %}
{% set bodyFontWeight = safe_get(properties.body_font_weight, 400) %}
{% set bodyLineHeight = safe_get(properties.body_line_height, 20) %}

{% set globalClass = ['snippet-product-warranty-collapsable'] %}
{% set localClass = [globalClass, '-', id] | join %}

<style>
  .{{ localClass }}__header {
    color: {{ colors[titleFontColor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
  }

  .{{ localClass }}__body {
    color: {{ colors[bodyFontColor] }};
    font-size: {{ bodyFontSize }}px;
    font-weight: {{ bodyFontWeight }};
    line-height: {{ bodyLineHeight }}px;
  }
</style>

<div class="{{ globalClass }} {{ localClass }}">
  <div class="{{ globalClass }}__header {{ localClass }}__header">
    <span>
      {{ 'shop.shared.titles.productWarranty' | t }}
    </span>

    <span class="chevron {{ 'd-none' if not collapsable }}">
      {% render_snippet 'Icons: Chevron up' %}
    </span>

    <span class="chevron d-none">
      {% render_snippet 'Icons: Chevron down' %}
    </span>
  </div>

  <div class="{{ globalClass }}__body {{ localClass }}__body {{ 'd-none' if collapsable }}">
    {% if warranty %}
      {% render_snippet 'Product: Warranty text', properties=warrnatyBodyProps, product=product %}
    {% else %}
      {{ 'shop.shared.titles.noProductWarranty' | t }}
    {% endif %}
  </div>
</div>

<script type="application/javascript">
  $(document).ready(function() {
    const collapsable = {{ collapsable }};
    if (collapsable) {
      $('.{{ localClass }}__header').on('click', function() {
        $('.{{ localClass }}__header .chevron').toggleClass('d-none');
        $('.{{ localClass }}__body').toggleClass('d-none');
      });
    }
  });
</script>
