{% set properties = args.properties %}
{% set colors = themeProperties.current_colors %}

{% set id = uid() %}
{% set product = args.product or global.common.productInfo.product %}

{% set warranty = product.warranty | int %}
{% set title = product.title %}
{% set name = product.name %}
{% set warrantyText = product.warrantyText %}

{% set paddingVert = safe_get(properties.padding_vert, 20) %}
{% set paddingHoriz = safe_get(properties.padding_horiz, 24) %}
{% set fontColor = safe_get(properties.font_color, 'dark_font_color') %}
{% set fontSize = safe_get(properties.font_size, 14) %}
{% set fontWeight = safe_get(properties.font_weight, 400) %}
{% set lineHeight = safe_get(properties.line_height, 20) %}

{% set globalClass = ['snippet-product-warranty-text'] %}
{% set localClass = [globalClass, '-', id] | join %}

<style>
  .{{ localClass }} {
    padding: {{ paddingVert }}px {{ paddingHoriz or '0' }}px;
    color: {{ colors[fontColor] }}!important;
    font-size: {{ fontSize }}px!important;
    font-weight: {{ fontWeight }}!important;
    line-height: {{ lineHeight }}px;
    min-height: 5rem!important;
    white-space: normal!important;
  }
</style>

<div class="{{ globalClass }} {{ localClass }}">
  <div>
    <b>{{title}}</b> by <b>{{name}}</b>
    {% if warranty == -1 %}
      has an unlimited warranty.
    {% else %}
      has {{warranty | seconds_to_dhms}} limited warranty.
    {% endif %}
  </div>

  {% if warrantyText %}
    <div>
      This warranty, as described by the seller, covers:
      <br/>
      <div class="w-100 warranty-text" style="white-space: pre-line;">
        {{warrantyText}}
      </div>
    </div>
  {% endif %}

  <p>
    {% if warrantyText %}
      Unless stated otherwise in the Terms of Service.
    {% else %}
      This warranty, as described by the seller, covers any type of occasions unless stated otherwise in the Terms of Service.
    {% endif %}
  </p>
</div>
