{% set id = uid() %}

{% set shop = global.common.shopInfo.shop %}
{% set colors = themeProperties.current_colors %}
{% set product = args.product %}
{% set invoice = args.invoice %}
{% set currency = args.currency %}

{% set properties = args.properties %}
{% set bgColor = safe_get(properties.container_background_color, 'background_accent_light') %}
{% set showBorder = safe_get(properties.container_show_border, true) %}
{% set shadow = safe_get(properties.container_shadow, 'none') %}
{% set borderRadius = safe_get(properties.container_border_radius, 8) %}
{% set paddingVert = safe_get(properties.container_padding_vert, 20) %}
{% set paddingHoriz = safe_get(properties.container_padding_horiz, 16) %}
{% set titleFontColor = safe_get(properties.title_font_color, 'dark_font_color') %}
{% set titleFontSize = safe_get(properties.title_font_size, 14) %}
{% set titleFontWeight = safe_get(properties.title_font_weight, 400) %}
{% set titleLineHeight = safe_get(properties.title_line_height, 20) %}
{% set bodyFontColor = safe_get(properties.body_font_color, 'dark_font_color') %}
{% set bodyFontSize = safe_get(properties.body_font_size, 14) %}
{% set bodyFontWeight = safe_get(properties.body_font_weight, 500) %}
{% set bodyLineHeight = safe_get(properties.body_line_height, 20) %}

{% set isInvoice = global.request.type == 'invoice' %}

{% if isInvoice %}
  {% set addons = invoice.addons[product.uniqid] or [] %}
{% else %}
  {% set addons = product.addons %}
{% endif %}

{% set globalClass = ['snippet-product-addons'] %}
{% set localClass = [globalClass, '-', id] | join %}

<style>
  .{{ localClass }} {
    background: {{ colors[bgColor] }};
    border: {{ '1px solid var(--borderColor)' if showBorder else 'none' }};
    box-shadow: {{ shadow }};
    border-radius: {{ borderRadius }}px;
    padding: {{ paddingVert }}px {{ paddingHoriz }}px;
  }
  .{{ localClass }}__title {
    color: {{ colors[titleFontColor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
  }


  .{{ localClass }}__description {
    color: {{ colors[bodyFontColor] }};
    font-size: {{ bodyFontSize }}px;
    font-weight: {{ bodyFontWeight }};
    line-height: {{ bodyLineHeight }}px;
  }
</style>

{% if product.type === "SUBSCRIPTION" and product.trial_period %}
  {# Do nothing #}
{% else %}
  <div class="{{ globalClass }} {{ localClass }}">
    {% for addon in addons %}
      <div class="{{ globalClass}}__addon {{ localClass }}__addon">
        <div class="{{ globalClass}}__wrapper">
          <div
            class="{{ globalClass}}__title {{ localClass}}__title"
            data-addon-id="{{ addon.uniqid }}"
            data-addon-title="1"
          >
            <div class="{{ globalClass }}__title-text">
              <span>{{ addon.title }}</span>
              {% if addon.description %}
                <i class="fa-solid fa-chevron-down"></i>
              {% endif %}
            </div>
            <div class="{{ globalClass }}__price">
              {% render_snippet 'Price', currency=currency, price=addon.price_conversions[currency], digits=2 %}
            </div>
          </div>

          <div class="{{ globalClass }}__button">
            {% if not isInvoice %}
              <button
                type="button"
                class="button small"
                data-addon-id="{{ addon.uniqid }}"
                data-addon-button="1"
              >
                ...
              </button>
            {% endif %}
          </div>
        </div>

        <div
          class="{{ globalClass }}__collapsable-wrapper"
          style="height: 0; overflow: hidden;"
          data-addon-id="{{ addon.uniqid }}"
          data-collapsable-wrapper="1"
        >
          <div class="{{ globalClass }}__description {{ localClass }}__description" data-addon-description="1">
            {{addon.description | html_sanitize | safe}}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <script type="application/javascript">
    $(document).ready(function() {
      const productId = '{{ product.uniqid }}';
      const component = new SellixProductAddonsComponent(
        `.{{ localClass }}`,
        '{{ shop.name }}',
        productId,
        {{ (product.addons or []) | dump | safe }},
      );
      component.render();

      {% if addons | length and global.builder %}
        $('{{ localClass}} .{{ localClass }}__title[data-addon-id="{{ addons[0].uniqid }}"]').click();
      {% endif %}
    });
  </script>
{% endif %}
