{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set product = args.product %}
{% set subscription = global.common.shopInfo.subscription %}
{% set cartEnabled = global.common.cartEnabled %}
{% set isFree = product.price_display | float === 0 %}

{% set globalClass = 'snippet-cart-button-2' %}
{% set localClass = id %}

{% if product.stock | int === 0 or not cartEnabled or product.on_hold | int !== 0 %}
  {# Do Nothing #}
{% else %}
  <div class="{{ globalClass }} {{ localClass }} empty {{'static' if args.isGroup else ''}} d-none">
    <div class="{{ globalClass }}__container">
      <div class="{{ globalClass }}__button" data-cart-product-minus-button="1">
        {% render_snippet 'Icons: Minus' %}
      </div>
      <div class="{{ globalClass }}__button unselectable" data-cart-product-quantity-button="1">
        <span class="d-none" data-cart-product-quantity-value="1">...</span>
        <span class="d-none" data-cart-product-first-button="cart-product-first-button">
          {% if isFree %}
            {{ 'shop.shared.titles.getIt' | t }}
          {% else %}
            {{ 'shop.shared.titles.buy' | t }}
          {% endif %}
        </span>
      </div>
      <div class="{{ globalClass }}__button" data-cart-product-plus-button="1">
        {% render_snippet 'Icons: Plus' %}
      </div>
    </div>
  </div>

  <script type='application/javascript'>
    $(document).ready(async function () {
      $('.{{ localClass  }}').removeClass('d-none');

      const product = await SellixContext.getShopProduct('{{ product.uniqid }}');
      let cart = window.SellixCartStoreFactory.getCart('{{shop.name}}');
      const cartProdComponent = new SellixCartProductComponent(
        '.{{ localClass }}',
        cart,
        product,
        {{args.redirectToCheckout | default(false)}},
        {{renderOptions | dump | safe}},
      );
      setTimeout(() => cartProdComponent.render(), 0);
    });
  </script>
{% endif %}
