{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set product = args.product %}
{% set subscription = global.common.shopInfo.subscription %}
{% set cartEnabled = global.common.cartEnabled %}
{% set isFree = product.price_display | float === 0 %}

{% set globalClass = 'snippet-cart-button-2' %}
{% set localClass = [globalClass, '-', id] | join %}

{% if product.stock | int === 0 or not cartEnabled or product.on_hold | int !== 0 %}
  {# Do Nothing #}
{% else %}
  <div id="cart-button-{{id}}" class="{{ globalClass }} empty {{'static' if args.isGroup else ''}} d-none">
    <div class="{{ globalClass }}__container">
      <div class="{{ globalClass }}__button cart-product-minus-button">
        {% render_snippet 'Icons: Minus' %}
      </div>
      <div class="{{ globalClass }}__button cart-product-quantity-button unselectable">
        <span class="cart-product-quantity hidden">...</span>
        <span class="cart-product-first-button hidden">
          {% if isFree %}
            {{ 'shop.shared.titles.getIt' | t }}
          {% else %}
            {{ 'shop.shared.titles.buy' | t }}
          {% endif %}
        </span>
      </div>
      <div class="{{ globalClass }}__button cart-product-plus-button">
        {% render_snippet 'Icons: Plus' %}
      </div>
    </div>
  </div>

  <script type='application/javascript'>
    $(document).ready(function () {
      $('#cart-button-{{id}}').removeClass('d-none');

      const product = {{
        {
          'uniqid': product.uniqid,
          'currency': product.currency,
          'name': product.name,
          'title': product.title,
          'type': product.type,
          'quantity_min': product.quantity_min,
          'quantity_max': product.quantity_max,
          'on_hold': product.on_hold,
          'stock': product.stock
        } | dump | safe
      }};

      let cart = window.SellixCartStoreFactory.getCart('{{shop.name}}');
      const cartProdComponent = new SellixCartProductComponent(
        '#cart-button-{{id}}',
        cart,
        product,
        {{args.redirectToCheckout | default(false)}},
        {{renderOptions | dump | safe}},
      );
    });
  </script>
{% endif %}
