.sellix-product-list-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
  width: calc(100% + 1.5rem);
}

.sellix-shop-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;
  width: 50%;
  margin-bottom: 0;
  padding: 0 0.75rem;
}

.sellix-product-list-header .sellix-dropdown {
  width: 25%;
  padding: 0 0.75rem;
}
.sellix-product-list-header .sellix-dropdown:last-child {
  margin-right: 0;
}

.sellix-product-list-header .sellix-sort-select {
  width: 25%;
}

.sellix-dropdown .select2-container--sellix {
  width: 100% !important;
  cursor: pointer;
}

.sellix-dropdown .select2-container--sellix .select2-selection__arrow b {
  margin-right: 8px;
}

.sellix-dropdown .select2-container--sellix .select2-selection--single[aria-expanded='true'] {
  border-color: var(--brandColor) !important;
}

@media (max-width: 768px) {
  .sellix-product-list-header {
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .sellix-shop-search {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .sellix-shop-search .fas {
    right: 1.5rem !important;
  }

  .sellix-product-list-header .sellix-dropdown {
    width: 50%;
    margin-bottom: 0.75rem;
  }

  .sellix-product-list-header .sellix-sort-select {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .sellix-product-list-header .sellix-dropdown {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .sellix-product-list-header .sellix-sort-select {
    width: 100%;
  }
}