.sellix-product-relations {
  position: relative;
  margin-bottom: 1rem;
}

.sellix-product-relations .tabs {
  display: flex;
  align-items: flex-start;
  margin: 0 auto 1rem;
  font-size: 18px;
  background: var(--backgroundAccentLight);
  position: relative;
  overflow-x: scroll;
  justify-content: space-around;
}

.sellix-product-relations .tabs .tab {
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0.5rem 0.5rem 0 0;
  display: inline-flex;
  justify-content: center;
  color: var(--darkFontColor);
}

.sellix-product-relations .tabs .tab.active {
  color: var(--brandColor);
}

.sellix-product-relations .tab-content {
  max-height: 300px;
  overflow-y: scroll;
  padding: 0.1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
