@media screen and (min-width: 800px) {

  .sellix-header {
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .Noncapiscotuttiquesticontainer:has(.sellix-block):first-child {
    display: grid !important;
    max-width: 1150px;
    grid-template-columns: auto auto;
    column-gap: 15px !important;
    row-gap: 15px !important;
    justify-content: center !important;
  }

  canvas {
    display: none;
  }

  .sellix-header-in {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .sellix-input {
    border: 0px !important;
    background: #32285b !important;

  }

  .sellix-template {
    background: linear-gradient(269deg, #000000 0%, #160e2c 100%) !important;
  }
}

.sellix-grid {
  justify-content: center;
  width: 100%;
  display: flex;
  z-index: 2;
  position: relative;
}

.sellix-grid>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.sellix-grid-socials {
  justify-content: center !important;
  width: 100%;
  display: flex;
  column-gap: 50px;
  z-index: 2;
  color: white;
  position: relative;
}

.sellix-grid-socials>div {
  text-align: center;
  padding: 20px 0;
  font-size: 6em;
}

.sellix-grid-socials a {
  color: white;
}

.sellix-grid-socials a:hover {
  color: #32285c;
}

.divnav {
  display: none;
}

.sellix-discord-button {
  width: 585px;
  margin-top: 20px;
}

.sellix-discord-button>img {
  max-width: 250px;
  padding: 10px;
}

.feedbackaverage {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.feedbackaverage h2 {
  margin-top: 25px;
  align-items: center;
  font-size: 24px;
}

.Productssold {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.Productssold h2 {
  align-items: center;
  font-size: 24px;
}

.valueofproductssold {
  font-size: 44px;
  display: block;
  font-weight: 900;
}

.gridtextcontent {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.gridtextcontent h2 {
  align-items: center;
  font-size: 24px;
}

.value {
  font-size: 44px;
  display: block;
  font-weight: 900;
}

/* 
Header section colors: 
Background:
    --guarinoHeaderFirstGradient
    --guarinoHeaderSecondGradient

Menu:
    --guarinoHeaderMenuActive
    --guarinoHeaderMenuHover
    --guarinoHeaderMenuInactive

Cart:
    --guarinoHeaderCartInactive
    --guarinoHeaderCartHover

ShopMessage:
    --guarinoHeaderShopMessageBackground
    --guarinoHeaderShopMessageTitle
    --guarinoHeaderShopMessageContent
*/

header {
  background: linear-gradient(90deg, var(--guarinoHeaderFirstGradient) 0%, var(--guarinoHeaderSecondGradient) 100%) !important;
  height: 100px !important;
}

.menu-tab.active {
  color: var(--guarinoHeaderMenuActive);
}

.menu-tab:hover {
  color: var(--guarinoHeaderMenuHover);
}

.sellix-menu a {
  color: var(--guarinoHeaderMenuInactive);
}

.cart-icon svg {
  fill: var(--guarinoHeaderCartInactive);
}

.cart-icon svg:hover {
  fill: var(--guarinoHeaderCartHover);
}

div.Toastify {
  background: var(--guarinoHeaderShopMessageBackground);
}

.t-shop-message .t-header {
  color: var(--guarinoHeaderShopMessageTitle);
}

.t-shop-message .t-content {
  color: var(--guarinoHeaderShopMessageContent);
}

/* 
Content section colors: 
Banner text:
    --guarinoContentBannerH2Color
    --guarinoContentBannerPColor
    
Sellix grid text:
    --guarinoContentSellixGridValueColor
    --guarinoContentSellixGridH2Color
  
Product filters:
    --guarinoContentProductFilterShopSearchBackground
    --guarinoContentProductFilterShopSearchTextColor

    --guarinoContentProductFilterShopDropdownBackground
    --guarinoContentProductFilterShopDropdownTextColor
    --guarinoContentProductFilterShopDropdownActiveColor
    --guarinoContentProductFilterShopDropdownActiveBackground
*/

.bannertext h2 {
  color: var(--guarinoContentBannerH2Color);
}

.bannertext p {
  -webkit-text-stroke-color: var(--guarinoContentBannerPColor);
}

.sellix-grid div {
  color: var(--guarinoContentSellixGridValueColor);
}

.sellix-grid h2 {
  color: var(--guarinoContentSellixGridH2Color);
}

.productlisttext {
  color: var(--guarinoContentProductListTextColor);
}

.sellix-shop-search input{
  background: var(--guarinoContentProductFilterShopSearchBackground);
  color: var(--guarinoContentProductFilterShopSearchTextColor);
}

.sellix-shop-search input::placeholder {
  color: var(--guarinoContentProductFilterShopSearchTextColor);
}

.sellix-shop-search .fas {
  color: var(--guarinoContentProductFilterShopSearchTextColor);
}

.sellix-dropdown .select2-container--sellix .select2-selection--single{
  background-color: var(--guarinoContentProductFilterShopDropdownBackground);
}
.sellix-dropdown .select2-container--sellix .select2-selection__rendered{
  color: var(--guarinoContentProductFilterShopDropdownTextColor);
}

.select2-container--sellix .select2-dropdown {
  background-color: var(--guarinoContentProductFilterShopDropdownBackground);
}
.select2-container--sellix .select2-results__option {
  color: var(--guarinoContentProductFilterShopDropdownTextColor);
}
.select2-container--sellix .select2-results__option[aria-selected='true'] {
  background-color: var(--guarinoContentProductFilterShopDropdownActiveColor);
  color: var(--guarinoContentProductFilterShopDropdownActiveColor);
}
.select2-container--sellix .select2-results__option.select2-results__option--highlighted {
  background-color: var(--guarinoContentProductFilterShopDropdownActiveColor);
  color: var(--guarinoContentProductFilterShopDropdownActiveColor);
}
