@media screen and (min-width: 800px) {

  .sellix-header {
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .Noncapiscotuttiquesticontainer:has(.sellix-block):first-child {
    display: grid !important;
    max-width: 1150px;
    grid-template-columns: auto auto;
    column-gap: 15px !important;
    row-gap: 15px !important;
    justify-content: center !important;
  }

  canvas {
    display: none;
  }

  .sellix-header-in {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .sellix-input {
    border: 0px !important;
    background: #32285b !important;

  }

  header {
    background: linear-gradient(-90deg, #000000 0%, #160e2c 100%) !important;
    height: 100px !important;
  }

  .sellix-template {
    background: linear-gradient(269deg, #000000 0%, #160e2c 100%) !important;
  }
}

.sellix-grid {
  justify-content: center;
  width: 100%;
  display: flex;
  z-index: 2;
  position: relative;
}

.sellix-grid>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.sellix-grid-socials {
  justify-content: center !important;
  width: 100%;
  display: flex;
  column-gap: 50px;
  z-index: 2;
  color: white;
  position: relative;
}

.sellix-grid-socials>div {
  text-align: center;
  padding: 20px 0;
  font-size: 6em;
}

.sellix-grid-socials a {
  color: white;
}

.sellix-grid-socials a:hover {
  color: #32285c;
}

.divnav {
  display: none;
}

.sellix-discord-button {
  width: 585px;
  margin-top: 20px;
}

.sellix-discord-button>img {
  max-width: 250px;
  padding: 10px;
}

.feedbackaverage {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.feedbackaverage h2 {
  margin-top: 25px;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.Productssold {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.Productssold h2 {
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.valueofproductssold {
  font-size: 44px;
  display: block;
  font-weight: 900;
  color: #7040F2;
}

.gridtextcontent {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.gridtextcontent h2 {
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.value {
  font-size: 44px;
  display: block;
  font-weight: 900;
  color: #7040F2;
}