@supports (-webkit-touch-callout: none) {
  .sellix-card-image{

    height: 550px!important;
}
}
@media only screen and (max-width: 600px) {
    .sellix-menu{
        display: none!important;
    }
    h2{
        font-size: 2.6em!important;
    }
    header{
        background: linear-gradient(-90deg, #000000 0%, #160e2c 100%)!important;
    }
    
    canvas{
        display: none!important;
    }

    .sellix-template{
        background: linear-gradient(-90deg, #000000 0%, #160e2c 100%)!important;
    }
    
    .bannertext h2 {
        margin-top: 2em;
        font-size: 5em !important;
    }

    .bannertext p {
        font-size: 4em !important;
        line-height: 1em;
    }
    
    .sellix-product-list-header {
        justify-content: center!important;
    }

    .sellix-product-list-header .sellix-dropdown{
        padding: 0 0 0 0!important;
        margin-right: 1.4rem!important;

    }
    .sellix-shop-search{
        width: 100%!important;
        padding:0px!important;
        margin-right: 1.4rem!important;
    }
    .sellix-shop-search .fas{
        display: none!important;
    }
    .sellix-shop-search input{
        margin-top: 100px;
    }
    .fa-brands{
        font-size: 30px;
    }
    
    .sellix-grid-socials{
        margin-top: 1.5em!important;
        flex-wrap: wrap;
        padding: 0px 70px;
    }   
    .sellix-footer-v2{
        height: 100%!important;
    }
    .footertext{
        margin-top: 30px!important;
    }
    .sellix-menu3{
        margin-left: 0px!important;
    }
    .sellix-info{
        height: 100%!important;
        grid-template-columns: auto!important;
    }
    .column1{
        padding: 30px 20px!important;
    }
    .column2{
        padding: 30px 20px!important;
    }
    .column3{
        padding: 30px 20px!important;
    }
    canvas{
        height: 4000px!important;
    }
    .bannertext{
        top: 30%!important;
    }
    .sellix-terms-screen{
        margin-top: 7em;
    }
    .sellix-feedback-screen-wrapper {
    margin-top: 7em!important;
    }

    #menu a {
        text-decoration: none;
        color: #1e1e23!important;
        opacity: 1;
        font-size: 3em!important;
        font-weight: 900;
        transition: 200ms;
    }

    #menu a:hover {
        opacity: 0.5;
    }

    #menu ul {
        padding: 0;
        list-style-type: none;
    }

    .divnav{
            display: block!important;

    }
    
    nav {
        height: 65px;
        z-index: 2;
        margin-left: 30px;
        display: flex!important;
        background: linear-gradient(-90deg, #000000 0%, #160e2c 100%)!important;
    }

    .sellix-text p{
        margin-right:0px!important;
    }

    .carousel-root {
    position: relative;
    width: 100%!important;
    height: 100%!important;
}

    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        text-align: right;
        z-index: 3;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 4;
    }

    #menuToggle span {
        display: flex;
        width: 40px;
        height: 5px;
        margin-bottom: 6px;
        position: relative;
        background: #ffffff;
        
        z-index: 3;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        z-index: 4;
        background: #36383F;
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
    height: 100%;
    box-shadow: 0 0 10px #85888c;
    margin: -50px 0 0 -135px;
    padding: 50px 30px 500px 60px;
        z-index:3;
        padding-top: 125px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        transition-delay: 2s;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }
}