.sellix-modal.group-modal .group-header-small {
  font-weight: 300;
  font-size: 0.85rem;
}

.group-option-image{
  border: 1px solid #FFFFFF26!important;
}
.group-modal {
  max-width: 750px;
  overflow: hidden;
}
.sellix-cart-icon.static{
  margin-top: 2px!important;
}
.group-option-buttons>a:last-child>div{
  background: #31274B!important;
    font-family: Space Grotesk, sans-serif !important;
}
.blocker.current {
  text-align: inherit !important;
  z-index: 2147483647 !important;
  background-color: #030a16c4;
}

.sellix-modal {
  width: 100%;
  max-width: 640px;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #16132c!important;
  border-radius: 0.5rem;
  position: absolute;
  max-height: 90vh;
  overflow: auto;
  outline: none;
  text-align: initial;

}

.sellix-modal:hover {
  outline: none;
}

.sellix-modal.visible {
  overflow: visible;
}

@media (max-width: 768px) {
  .sellix-modal {
    width: calc(100% - 2rem);
    transform: translate(-50%, 0%);
    top: 1rem;
  }
}

.sellix-modal.confirm {
  max-width: 450px;
  overflow: hidden;
}

.sellix-modal-header {
  padding: 1.25rem 1.6rem;
  border-width: medium;
  border-bottom: 1px solid #FFFFFF26!important;
  color: white!important;
  font-family: inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

}

.sellix-modal-close {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  cursor: pointer;
}

.sellix-modal-close svg {
  fill: gray;
}

.sellix-modal-body {
  padding: 1.5rem;
  min-height: 5rem;
  color: var(--lightFontColor);
}

.sellix-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-top: 1px solid var(--borderColor);
}

.sellix-modal .sellix-text {
  color: var(--lightFontColor);
}

.sellix-modal .sellix-text h1 {
  font-size: 1.6rem;
  line-height: 3rem;
}

.sellix-modal .sellix-text h2 {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.sellix-modal .sellix-text h3 {
  font-size: 1.3rem;
  line-height: 2.4rem;
}

.sellix-modal .sellix-text h4 {
  font-size: 1.1rem;
  line-height: 2rem;
}

.sellix-modal .sellix-text h6 {
  font-weight: 500;
}

.sellix-modal .sellix-text p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  color: #FFF!important;
}

.sellix-modal .sellix-text input[type='checkbox'] {
  width: 30px;
  height: 20px;
  cursor: pointer;
  font-size: 21px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem -2rem;
  transform: scale(1.25);
}

.sellix-modal .sellix-text input[type='checkbox']:after {
  content: ' ';
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  color: #221d3e;
  width: 17px;
  height: 17px;
  visibility: visible;
  border: 2px solid #181432;
  padding-left: 3px;
  border-radius: 5px;
}

.sellix-modal .sellix-text input[type='checkbox']:checked:after {
  content: 'x';
  font-weight: bold;
  font-size: 0.8rem;
  color: #181432;
  position: relative;
  padding-bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.sellix-modal .sellix-text pre {
  padding: 1rem;
  border-radius: 3px;
  margin-top: 1rem;
  overflow: auto;
  display: block;
  line-height: 1rem;
}

.sellix-modal .sellix-text ul,
.sellix-modal .sellix-text ol {
  line-height: 1.5rem;
  padding-left: 1.5rem;
}

.sellix-modal .sellix-text img {
  max-width: 100%;
  border-radius: 5px;
}