@media screen and (min-width: 800px) {
  nav{
    display: none;
  }
}

html {
  width: 100vw;
  margin-left: 0;
  background-color: #fff;
  overflow-x: hidden;
}
.sellix-store-screen #canvas{
height: 3000px;
}

.d
html.embed {
  background-color: transparent !important;
}


.button{
  background-color: #ffffff12!important;
  border: 0px!important;
}

html.embed #app {
  background-color: transparent !important;
}

.dg.ac{
  display: none;
}

canvas{
  height: 2827px;
  width: 100%;
  top: -100px;
  position: absolute;
  z-index: 1
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1rem;
}

hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--borderColor);
}

label {
  margin-bottom: 0.5rem;
}

small {
  font-size: 80%;
  font-weight: 400;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  background-color: #0000;
}

a:hover {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}