.sellix-banner-container {
  max-width: 1140px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.sellix-banner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: auto;
  border-radius: 0.5rem;
  margin: 2rem auto;
  padding: 12px;
}

@media (max-width: 768px) {
  .sellix-banner {
    flex-direction: column;
    margin-top: 1rem;
  }
}

.checkout-details-item-info .sellix-banner-feedback-star {
  display: flex;
  align-items: center;
  height: 1rem;
  margin-top: 0.5rem;
}

.checkout-details-item-info .sellix-banner-feedback-star > span {
  font-size: 13px;
}

.checkout-details-item-info .sellix-banner-feedback-star > div {
  display: flex;
  align-items: center;
}

.checkout-details-item-info .sellix-banner-feedback-star > div > span {
  align-items: center;
}

.checkout-details-item-info .sellix-banner-feedback-star > div > span > span {
  width: 15px !important;
  height: 15px !important;
}

.checkout-details-item-info .sellix-banner-feedback-star > div i {
  font-size: 11px;
  height: 15px;
  line-height: 15px;
}
.sellix-banner-subscription.business{
  color: #8a72ef!important;
}

.sellix-banner-verified-badge {
  display: none;
}

.sellix-banner-verified:hover .sellix-banner-verified-tooltip {
  display: flex;
}

.sellix-banner-verified-tooltip {
  position: absolute;
  top: 100%;
  left: 2rem;
  transform: translateY(-50%);
  font-size: 14px;
  display: none;
  max-width: 200px;
  min-width: 170px;
  line-height: 1.4;
  padding: 0.5rem 0.75rem;
  color: #fff;
  background-color: #000;
  border-radius: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.sellix-banner-name {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--lightFontColor);
}

@media (max-width: 768px) {
  .sellix-banner-name {
    font-size: 1.4rem;
    padding-right: 5.5rem;
    width: 100%;
    display: flex;
  }
}

.sellix-banner-navs {
  display: flex;
  align-items: flex-start;
  margin: 0 auto 1.5rem;
  position: relative;
}

.sellix-banner-navs:before {
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: var(--borderColor);
  z-index: 0;
}

@media (max-width: 768px) {
  .sellix-banner-navs {
    margin-bottom: 1rem;
  }
}

.sellix-banner-navs > div {
  width: 50%;
  padding: 0.5rem 0 0 0;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .sellix-banner-navs > div {
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    margin-top: -1rem;
    justify-content: space-between;
  }
}

.sellix-banner-navs > div a {
  color: var(--lightFontColor) !important;
  border-bottom: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0.5rem 0.5rem 0 0;
  display: inline-flex;
}

@media (max-width: 768px) {
  .sellix-banner-navs > div a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    font-size: 0.8rem;
    padding: 0.75rem 0.5rem;
    width: 16%;
    min-width: 16%;
  }

  .sellix-banner-navs > div a > span {
    display: none;
  }
}

.sellix-banner-navs > div a[data-tooltip]:hover {
  border-bottom: 2px solid transparent;
}

@media (max-width: 768px) {
  .sellix-banner-navs > div a[data-tooltip]:hover {
    border-bottom: 1px solid transparent;
  }
}

.sellix-banner-navs > div a:last-child {
  margin-right: 0;
}

.sellix-banner-navs > div a:hover {
  border-bottom-color: var(--borderColor);
}

.sellix-banner-navs > div a.active {
  color: var(--buttonColor) !important;
  border-bottom-color: var(--buttonColor);
  background: var(--backgroundAccentLight);
  border-radius: 0.25rem 0.25rem 0 0;
  position: relative;
}

@media (max-width: 768px) {
  .sellix-banner-navs > div a.active {
    border-radius: 0.125rem 0.125rem 0 0;
  }
}