.sellix-delivery-screen {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto 5rem;
  min-height: 30rem;
  position: relative;
  padding: 0 1rem;
}
.sellix-delivery-body {
  display: flex;
}
@media (max-width: 768px) {
  .sellix-delivery-body {
    flex-wrap: wrap;
  }
}
.sellix-delivery-back {
  display: none;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .sellix-delivery-back {
    display: block;
    width: 100%;
  }
}

.sellix-delivery-details {
  width: 30%;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .sellix-delivery-details {
    width: 100%;
    margin-top: 1rem;
  }
}
.sellix-delivery-feedback {
  background: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  margin: 1.5rem 0 2rem 0;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.sellix-delivery-feedback-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
.sellix-delivery-feedback-title p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--darkFontColor);
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  overflow-wrap: break-word;
  line-height: 1.5rem;
}
.sellix-delivery-feedback-title h3 {
  white-space: nowrap;
  font-weight: 600;
  margin: 0;
  color: var(--lightFontColor);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.sellix-delivery-feedback-rating {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--lightFontColor);
  font-weight: 600;
}
.sellix-delivery-success {
  width: 100%;
  border: 0px solid var(--borderColor);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: var(--backgroundColor);
}
.sellix-delivery-success-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}
.sellix-delivery-success-header svg {
  background: green;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0.35rem;
  margin-right: 0.5rem;
}
.sellix-delivery-success-title {
  position: relative;
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  overflow-wrap: break-word;
  color: var(--lightFontColor);
}
.sellix-delivery-success-info {
  justify-content: center;
  margin: 0;
  color: var(--darkFontColor);
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  overflow-wrap: break-word;
  line-height: 1.5rem;
}


.sellix-delivery-digital {
  border: 1px solid var(--borderColor);
  background: var(--backgroundAccentDark);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  margin-top: 0;
  color: var(--darkFontColor);
}
.sellix-delivery-digital-button {
  width: 9.25rem;
  min-height: 40px;
  max-height: 40px;
}
.sellix-delivery-digital-title {
  margin-top: 1rem;
}
.sellix-delivery-digital-buttons {
  display: flex;
}
@media (max-width: 768px) {
  .sellix-delivery-digital-buttons {
    flex-wrap: wrap;
  }
  .sellix-delivery-digital-buttons span.cursor-pointer {
    width: 100% !important;
  }
  .sellix-delivery-digital-buttons button {
    margin-top: 1rem;
    width: 100% !important;
  }
}