.sellix-delivery-header-section {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1.5rem;
}

.sellix-delivery-header {
  text-align: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .sellix-delivery-header {
    padding: 1.5rem 0;
  }
}
.sellix-delivery-header-title {
  width: 100%;
}
@media (max-width: 768px) {
  .sellix-delivery-header-title {
    width: 100%;
    margin-right: 0;
  }
}
.sellix-delivery-header-title-text {
  display: flex;
  line-height: 1.8rem;
  text-align: center;
  font-weight: 500;
  color: var(--lightFontColor);
  margin: 0 0 0.5rem 0;
  font-size: 1.4rem;
}
.sellix-delivery-header-title-text b {
  margin: 0 0.25rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .sellix-delivery-header-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.6rem;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .sellix-delivery-header-title-text b {
    font-weight: 600;
  }
}
.sellix-delivery-header-title-uniqid {
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.75rem;
  color: var(--lightFontColor);
}
@media (max-width: 550px) {
  .sellix-delivery-header-title-uniqid {
    margin-top: 1rem !important;
  }
}
.sellix-delivery-header-title-uniqid button {
  width: 11rem;
  min-height: 40px;
  max-height: 40px;
  margin-top: -1rem;
}
.sellix-delivery-header-title-uniqid.is-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 550px) {
  .sellix-delivery-header-title-uniqid.is-cart {
    flex-direction: column;
    align-items: center;
  }
  .sellix-delivery-header-title-uniqid.is-cart button {
    margin-top: 1rem;
  }
}
.sellix-delivery-header-title-uniqid b {
  display: flex;
  font-weight: 600;
  margin: 0 0.5rem;
}
@media (max-width: 768px) {
  .sellix-delivery-header-title-uniqid {
    margin-top: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }
}
.sellix-delivery-header-button {
  width: 30%;
}
.sellix-delivery-header-button button {
  width: 100%;
}
@media (max-width: 768px) {
  .sellix-delivery-header-button {
    width: 100%;
    display: none;
  }
}
@media (max-width: 768px) {
  .sellix-delivery-header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    margin: 0;
  }
}

.sellix-delivery-header-title-uniqid > span {
  position: relative;
}