.sellix-product-screen {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 2rem;
  padding: 0 1rem;
  min-height: 200px;
  position: relative;
}

@media (max-width: 768px) {
  .sellix-product-screen {
    margin: 1rem auto !important;
  }
}

.sellix-product-screen.excavator-exit {
  display: none;
}

.sellix-product-screen.hide-excavator-exit {
  display: none;
}

.shop-product-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  transition: transform 0.5s ease;
  z-index: 2;
  position: relative;
}
@media (max-width: 768px) {
  .shop-product-container {
    flex-direction: column-reverse;
    min-height: 500px;
    margin-bottom: 1.5rem;
  }
}

.shop-product-info {
  display: flex;
  position: relative;
  width: 100%;
  column-gap: 50px;
  border-radius: 0 0.2rem 0.2rem 0.2rem;
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

@media (max-width: 1024px) {
  .shop-product-info {
    width: calc(100% - 340px - 1.5rem);
  }
}

@media (max-width: 768px) {
  .shop-product-info {
    width: 100%;
    margin: 0 0 2rem 0;
    flex-direction: column;
  }
}

.shop-product-info-description {
  width: 100%;
}
.shop-product-info-description.with-image {
  width: 100%;
}
@media (max-width: 1024px) {
  .shop-product-info-description.with-image {
    width: 100%;
  }
}

.shop-product-card {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  min-height: 300px;
  z-index: 9;
  transition: transform 0.5s ease;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .shop-product-card {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
}
.shop-product-card .sticky-inner-wrapper {
  transition: transform 0.35s ease;
}

.shop-product-info .player-wrapper {
  width: 100%;
  height: 100%;
}

.shop-product-info .player-wrapper > div {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.shop-product-info .player-wrapper > div > div {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.shop-product-info .carousel-root {
  width: 50%;
  margin-right: 1rem;
}

.shop-product-info .carousel-status {
  margin-right: 0.6rem;
  background: var(--backgroundAccentLight);
  border-radius: 3px;
  margin-top: 0.5rem;
  text-shadow: none !important;
  font-size: 0.8rem !important;
  font-weight: 600;
  color: var(--darkFontColor) !important;
}

.shop-product-info .carousel-root.isOne .carousel-status,
.shop-product-info .carousel-root.isOne .control-dots {
  display: none;
}
@media (max-width: 768px) {
  .shop-product-info .carousel-root {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.shop-product-info .carousel-root .slide img {
  border-radius: 0.5rem;
}
.shop-product-info .carousel-root iframe {
  width: 100% !important;
  margin: 0 !important;
}
.shop-product-info .carousel-root ~ div.shop-product-info-product-description {
  width: 50%;
}
@media (max-width: 768px) {
  .shop-product-info .carousel-root ~ div.shop-product-info-product-description {
    width: 100%;
  }
}

.shop-product-info-image {
  width: 100%;
  height: auto;
  margin-right: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}
.shop-product-info-image > img + p {
  display: none;
}
@media (max-width: 768px) {
  .shop-product-info-image {
    display: flex;
    width: 100%;
  }
}