.dark .reply-screen-send-form + i {
  color: white;
}
.reply-screen {
  height: 100%;
  position: relative;
}
.reply-screen.shop {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}
.reply-screen .container {
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .reply-screen {
    padding-bottom: 6rem;
  }
}
.reply-screen-message-container {
  width: 100%;
  min-height: 100px;
  padding: 2rem;
  border-bottom: 1px solid var(--gridLine);
  flex: 1;
}
@media (max-width: 768px) {
  .reply-screen-message-container {
    padding: 2rem 1rem;
  }
}
.reply-screen-container {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .reply-screen-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
}
.reply-screen .screen-title-container {
  width: 100%;
  justify-content: space-between;
}
.reply-screen .screen-title-container > div {
  display: flex;
}
.reply-screen .screen-title-ticket-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reply-screen .screen-title-ticket-button .button {
  width: 70px !important;
  text-align: center !important;
  padding: 0 !important;
  min-height: auto !important;
  height: 35px;
  font-size: 13px;
}
.reply-screen .reply-screen-send-form {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .reply-screen-send-form {
    margin-bottom: 0 !important;
  }
}
.reply-screen-send-form textarea {
  background: var(--backgroundAccentLight) !important;
  border-radius: 0.25rem;
  border: none;
  padding: 1rem 4rem 1rem 1rem !important;
}
.reply-screen-send-form-container {
  position: relative;
  padding: 2rem 2rem 2rem 2rem;
}
@media (max-width: 768px) {
  .reply-screen-send-form-container {
    padding: 1rem;
  }
}
.reply-screen-send-form-container i {
  position: absolute;
  top: 50%;
  right: 3rem;
  color: var(--buttonColor);
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}
.reply-screen-invoice {
  border: 1px solid var(--borderColor);
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  width: 30%;
  padding: 2rem;
}
@media (max-width: 768px) {
  .reply-screen-invoice {
    border-radius: 0.5rem;
    width: calc(100% - 2rem);
    border: 1px solid var(--borderColor);
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }
}
.reply-screen-invoice h6 {
  font-size: 16px;
  color: var(--lightFontColor);
}
.reply-screen-invoice h6 + div > div {
  margin-bottom: 0.75rem;
}
.reply-screen-invoice p {
  color: var(--thinColor);
  word-break: break-word;
}
@media (max-width: 768px) {
  .reply-screen-invoice p {
    margin-bottom: 0.5rem;
  }
}
.reply-screen-invoice p b {
  font-weight: 400;
  color: var(--lightFontColor);
}
.reply-screen-form {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gridLine);
  border-radius: 0.5rem;
  background: var(--backgroundAccentDark);
}
.reply-screen-form.invoice {
  border-radius: 0 0.5rem 0.5rem 0;
}
.reply-screen-form.w-70 {
  width: 70%;
}
@media (max-width: 768px) {
  .reply-screen-form.w-70 {
    width: 100%;
  }
}
.reply-screen-message {
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  display: flex;
}
.reply-screen-message.you {
  justify-content: flex-end;
}
.reply-screen-message.you > div {
  background: var(--backgroundAccentLight)!important;
}
.reply-screen-message.you .reply-screen-message-item-date {
  text-align: right;
}
.reply-screen-message-item {
  justify-content: flex-start;
  font-size: 14px;
  padding: 0.75rem;
  width: auto;
  min-width: 13rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  max-width: 90%;
  color: var(--darkFontColor);
  background: var(--backgroundAccentLight)!important;
  border: 1px solid var(--gridLine);
}
.reply-screen-message-item > div {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.reply-screen-message-item > div + span {
  white-space: pre-line;
}
.reply-screen-message-item-title {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0.5rem;
  color: var(--textWhite);
}
.reply-screen-message-item-date {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 300;
  color: var(--darkFontColor);
  text-align: left;
  display: block;
  width: 100%;
}
.reply-screen-message-container {
  width: 100%;
  min-height: 100px;
  padding: 2rem;
  border-bottom: 1px solid var(--borderColor);
  flex: 1;
}
@media (max-width: 768px) {
  .reply-screen-message-container {
    padding: 2rem 1rem;
  }
}

.screen-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: var(--lightFontColor);
  white-space: nowrap;
  font-weight: 500;
  height: 43px;
  align-items: center;
  display: flex;
  margin-right: 1.5rem;
  width: auto;
}

.screen-title + div {
  width: auto;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .screen-title {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.screen-title-container {
  display: flex;
}

@media (max-width: 768px) {
  .screen-title-container {
    flex-wrap: wrap;
  }
}

.screen-title.back {
  padding-left: 1rem;
}