.sellix-label {
  font-size: 14px;
  color: var(--darkFontColor);
  margin-bottom: 0.75rem;
  font-weight: 500;
  display: flex;
}

.sellix-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--borderColor);
  border-radius: 0.25rem;
  font-size: 14px;
  width: 100%;
  padding: 0 1rem;
  color: var(--darkFontColor);
  transition: border 0.3s ease;
  height: 48px;
  outline: none;
  background: transparent;
  font-family: inherit;
}

.sellix-input.textarea {
  height: auto;
  padding: 1rem;
}

.sellix-input.is-invalid {
  border: 1px solid #f86c6b !important;
}

.sellix-input.is-invalid:hover {
  border-color: #f86c6b !important;
}

.sellix-input.is-invalid:focus {
  border-color: #f86c6b !important;
}

.sellix-input:active {
  border-color: var(--borderColor);
}

.sellix-input:focus {
  border-color: var(--brandColor) !important;
}

.sellix-input:hover {
  border-color: var(--inputBorderHover) !important;
}

.sellix-input::placeholder {
  color: var(--thinColor);
}

.sellix-input[disabled] {
  background: var(--backgroundAccentDark);
  border-color: var(--borderColor);
}

.sellix-input[disabled]:focus {
  border-color: #f9f9fa;
}

.sellix-note {
  color: var(--darkFontColor);
  font-size: 0.7rem;
  line-height: 1rem;
  display: flex;
  align-items: end;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.subscription-tooltip {
  border: 1px solid var(--borderColor);
  opacity: 0.95;
  background: var(--backgroundAccentLight);
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 14px;
  color: var(--darkFontColor);
  line-height: 22px;
  width: 100%;
  max-width: 250px;
}

.subscription-tooltip:after {
  border-top-color: var(--backgroundAccentLight) !important;
}

.sellix-label .subscription-tooltip {
  border: 1px solid var(--borderColor);
  opacity: 0.95;
  background: var(--backgroundAccentLight);
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 14px;
  color: var(--darkFontColor);
  line-height: 22px;
  width: 100%;
  max-width: 250px;
}

.sellix-label .subscription-tooltip:after {
  border-top-color: var(--backgroundAccentLight) !important;
}

.sellix-input-prefix {
  position: absolute;
  height: 48px;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
  color: var(--darkFontColor);
  top: 33px;
}

.sellix-input-prefix + div input {
  padding-left: 2.5rem;
}

.coupon-form .sellix-input::placeholder {
  color: var(--darkFontColor);
  font-size: 14px;
}

.sellix-store .sellix-input {
  border-color: var(--borderColor);
}
