.alert {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 2px solid var(--orange6);
    border-radius: 0.5rem;
    text-align: left;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    display: none;
    background: var(--orange0);
}
.alert svg * {
    stroke: var(--orange6);
}
.alert a {
    color: var(--purple6) !important;
}
.alert b {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--orange6);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: inline;
}
@media (max-width: 768px) {
    .alert b {
        font-size: 12px;
        line-height: 17px;
    }
}
.alert b svg {
    margin-right: 0.5rem;
}
.alert span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--orange8);
}
@media (max-width: 768px) {
    .alert span {
        font-size: 12px;
        line-height: 17px;
    }
}
.alert.preline {
    white-space: pre-line;
}
.alert.red {
    border: 2px solid var(--red6);
    background: var(--red0);
}
.alert.red svg * {
    stroke: var(--red6);
}
.alert.red b {
    color: var(--red6);
}
.alert.red span {
    color: var(--red8);
}
.alert.blue {
    border: 2px solid var(--orange6);
    background: var(--orange0);
}
.alert.blue svg * {
    stroke: var(--orange6);
}
.alert.blue b {
    color: var(--orange6);
}
.alert.blue span {
    color: var(--orange6);
}
.alert.show {
    display: flex;
}
.alert.small {
    padding: 0.75rem;
    border-radius: 0.5rem;
}
.alert.small b {
    margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
    .alert {
        padding: 1rem;
        line-height: 1.3rem;
    }
}
