.invoice-waiting-alert {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  background: #5f40e5;
  flex-direction: column;
  color: var(--darkFontColor);
  font-size: 12px;
  line-height: 16px;
  padding: 1rem 0.75rem;
  border: 2px solid var(--buttonColor);
  display: none;
}
.invoice-waiting-alert.light .sk-circle-fade-dot:before {
  background-color: var(--buttonColor) !important;
}
.invoice-waiting-alert .sk-circle-fade-dot:before {
  background-color: white !important;
}
@media (max-width: 768px) {
  .invoice-waiting-alert {
    padding: 1rem;
    line-height: 1.3rem;
  }
}
.invoice-waiting-alert b {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--lightFontColor);
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
.invoice-waiting-alert b div {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
}
.sellix-invoice-details {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 340px;
  border-radius: 0.5rem;
  border: 0px solid var(--borderColor);
  background: var(--backgroundColor);
  transition: height 1s ease, min-height 1s ease, max-height 1s ease;
}
@media (max-width: 640px) {
  .sellix-invoice-details {
    max-width: 100%;
  }
}
.sellix-invoice-title {
  display: flex;
  width: 100%;
  line-height: 1.5rem;
  align-items: center;
  font-size: 18px;
  color: var(--lightFontColor);
  margin-bottom: 1.5rem;
  white-space: nowrap;
  height: 18px;
}
.sellix-invoice-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0;
  width: 100%;
}
.sellix-invoice-info {
  overflow: hidden;
}
.sellix-invoice-info span {
  font-size: 14px;
}
.sellix-invoice-info .sk-spinner-pulse {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 5px;
}
@keyframes scalePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes toolTipAnimation {
  0% {
    opacity: 0 !important;
    top: 229px;
  }
  100% {
    opacity: 1 !important;
    top: 200px;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ef476f;
  }
  75% {
    box-shadow: 0 0 0 5px transparent;
  }
}
@keyframes showCopied {
  from {
    transition: all 0.25s ease;
    transform: scale(1);
  }
  to {
    transition: all 0.25s ease;
    transform: scale(1.05);
  }
}