div.Toastify {
  margin: 0;
  padding: 1.25rem;
  border-radius: 8px;
  min-height: auto;
  border: 1px solid var(--borderColor);
  box-shadow: none;
  font-family: sans-serif;
  width: 400px;
}

div.Toastify-icon {
  display: none
}

div.Toastify-body {
  padding: 0
}

div.Toastify--success {
  box-shadow: none;
  color: #fff
}

div.Toastify--error {
  box-shadow: none;
  color: #fff
}

div.Toastify-container {
  padding: 0;
  top: 70px;
  border-radius: .5rem;
}

div.Toastify-container.small .Toastify-container-title {
  font-size: 1rem;
  margin-bottom: 0
}

div.Toastify-container.small .Toastify-container-title i {
  width: 1rem;
  height: 1rem;
  max-width: 1rem;
  min-width: 1rem;
  font-size: .8rem;
  margin-right: .5rem
}

div.Toastify-container.small .Toastify-container-note {
  display: none
}

div.Toastify-container-title {
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--darkFontColor);
  margin-bottom: .5rem;
  line-height: 1.5rem
}

div.Toastify-container-title.success i {
  background: #1ea83f;
  color: #fff
}

div.Toastify-container-title.error i {
  background: #dc3545;
  color: #fff
}

div.Toastify-container-title i {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  max-width: 1.5rem;
  min-width: 1.5rem;
  margin-right: .5rem;
  padding: .35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px
}

div.Toastify-container-note {
  font-size: 14px;
  line-height: 21px;
  margin-left: 2rem;
  color: var(--darkFontColor);
  opacity: .7
}

div.Toastify button {
  display: none
}

@media (max-width: 768px) {
  div.Toastify {
    margin-top: .5rem
  }

  div.Toastify--success {
    box-shadow: none
  }

  div.Toastify-container {
    width: calc(100vw - 2rem) !important;
    max-width: 100%;
    right: 0;
    left: 1rem;
    top: 0 !important
  }
}
