<div class="test">
{% render_snippet 'Shared: Link button',
  properties={
    'background_color': 'green',
    'label': properties.label,
    'url': properties.button_url,
    'button_style': properties.color_style,
    'button_size': properties.button_size,
    'icon_image': properties.icon_image
}
%}
</div>