<h5 class="glass-footer-heading">{{ menu.title }}</h5>
<ul class="glass-footer-menu">
  {% for item in menu.items %}
    <li>
      <a href="{{ item.page_slug }}" class="glass-footer-menu-item">
        {{ item.title | t({ keyPrefix: 'menu' }) }}
      </a>
    </li>
  {% endfor %}
</ul>
