{% set id = uid() %}
{% set localClass = id %}

<style>
  .block-custom-text__{{ localClass }}{
    font-size: {{ properties.font_size_2 }}px;
    text-align: {{ properties.text_align }};
    color: {{ properties.text_color }};

    {% if properties.text_style >= 300 %}
      font-weight: {{ properties.text_style }};
    {% else %}
      font-style: italic;
    {% endif %}
  }
</style>

<div class="block-custom-text__{{ localClass }}">
  {{ properties.text_content }}
</div>