<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="0 0 128 128" width="512px" class="{{args.class}}" style="{{args.style}}">
  <g>
    <g>
      <circle cx="64" cy="64" fill="#a2faf3" r="45.877" data-original="#A2FAF3" class="active-path" style="fill:var(--brandColor)" data-old_color="#a2faf3"/>
      <circle cx="64" cy="64" fill="#6cf7ec" r="37.794" data-original="#6CF7EC" class="" style="fill:var(--brandColor)" data-old_color="#6cf7ec"/>
      <path d="m59.524 81.447a4.473 4.473 0 0 1 -3.212-1.359l-14.548-14.988a4.476 4.476 0 1 1 6.424-6.234l11.223 11.562 20.3-22.4a4.477 4.477 0 0 1 6.636 6.01l-23.5 25.942a4.481 4.481 0 0 1 -3.247 1.467z" fill="#fff" data-original="#FFF" class="" data-old_color="#fff" style="fill:#FFFFFF"/>
    </g>
  </g>
</svg>
