<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="8" fill="#AAFDB1"/>
<path d="M4 7.68619L6.35294 10.5097L12 5.33325" stroke="#02362A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>