{% id = uid() %}

{% set shopInfo = global.common.shopInfo %}
{% set shop = shopInfo.shop %}
{% set products = args.products %}

{% set globalClass =  'snippet-product-light-list' %}
{% set localClass = id %}

<div class="{{ globalClass }}">
  {% for product in products %}
  {% endfor %}
</div>
