{% set id = uid() %}
{% set colors = themeProperties.current_colors %}

{% set paddingVertDesktop = safe_get(properties.padding_vert_desktop, 32) %}
{% set paddingHorizDesktop = safe_get(properties.padding_horiz_desktop, 0) %}
{% set paddingVertTablet = safe_get(properties.padding_vert_tablet, 24) %}
{% set paddingHorizTablet = safe_get(properties.padding_horiz_tablet, 0) %}
{% set paddingVertMobile = safe_get(properties.padding_vert_mobile, 16) %}
{% set paddingHorizMobile = safe_get(properties.padding_horiz_mobile, 0) %}

{% set title = properties.title %}
{% set titleFontColor = safe_get(properties.title_font_color, 'dark_font_color') %}
{% set titleFontSize = safe_get(properties.title_font_size, 40) %}
{% set titleFontWeight = safe_get(properties.title_font_weight, 500) %}
{% set titleLineHeight = safe_get(properties.title_line_height, 48) %}
{% set bgColor = properties.background_color %}

{% set crumbFontColor = safe_get(properties.crumb_font_color, 'gray_shade_4') %}
{% set crumbFontSize = safe_get(properties.crumb_font_size, 40) %}
{% set crumbFontWeight = safe_get(properties.crumb_font_weight, 500) %}
{% set crumbLineHeight = safe_get(properties.crumb_line_height, 48) %}
{% set bgColor = properties.background_color %}

{% set rootClass = ['section-breadcrumbs-', id] | join %}

<style>
  .sellix-section.section-breadcrumbs {
    background-color: {{ colors[bgColor] }};
  }

  .{{ rootClass }} {
    background-color: {{ colors[bgColor] }};
    padding: {{ paddingVertDesktop }}px {{ paddingHorizDesktop }}px;
  }

  .{{ rootClass }}__title {
    color: {{ colors[titleFontColor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
  }

  .{{ rootClass }}__crumbs {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .{{ rootClass }}__link-crumb {
    display: flex;
    align-items: center;
    color: {{ colors[crumbFontColor] }};
    font-size: {{ crumbFontSize }}px;
    font-weight: {{ crumbFontWeight }};
    line-height: {{ crumbLineHeight }}px;
  }

  .{{ rootClass }}__link-crumb a {
    color: {{ colors[crumbFontColor] }};
    text-decoration: none;
    margin-right: 0.625rem;
  }

  .{{ rootClass }}__link-crumb span {
    margin-right: 0.75rem;
  }

  @media (max-width: 768px) {
    .{{ rootClass }} {
      padding: {{ paddingVertTablet }}px {{ paddingHorizTablet }}px;
    }
  }

  @media (max-width: 640px) {
    .{{ rootClass }} {
      padding: {{ paddingVertMobile }}px {{ paddingHorizMobile }}px;
    }
  }
</style>

{% set lastItemIdx = 0 %}
{% for idx in safe_range(1, 11) %}
  {% set crumbLabel = properties[['crumb_label_', idx] | join] %}
  {% if crumbLabel %}
    {% set lastItemIdx = idx %}
  {% endif %}
{% endfor %}

<div class="{{ rootClass }} {{ 'full-width' if properties.fullwidth else 'content-width' }}">
  <div class="{{ rootClass }}__crumbs">
    {% for idx in safe_range(1, 11) %}
      {% set crumbLabel = properties[['crumb_label_', idx] | join] %}
      {% set crumbUrl = properties[['crumb_url_', idx] | join] %}

      {% if crumbLabel %}
        {% if idx != lastItemIdx %}
          <div class="{{ rootClass }}__link-crumb">
            <a href="{{ crumbUrl }}">
              <span>{{ crumbLabel }}</span>
            </a>
            <span>
              {% render_snippet 'Icons: Arrow right 2' %}
            </span>
          </div>
        {% else %}
          <div>
            {{ crumbLabel }}
          </div>
        {% endif %}
      {% endif %}

    {% endfor %}
  </div>
  <div class="{{ rootClass }}__title">
    {{ title }}
  </div>
</div>
