{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set products = global.common.checkoutInfo.products %}
{% set colors = themeProperties.current_colors %}

{% set title = safe_get(properties.title, 'dark_font_color') %}
{% set titleFontColor = safe_get(properties.title_font_color, 'dark_font_color') %}
{% set titleFontSize = safe_get(properties.title_font_size, 14) %}
{% set titleFontWeight = safe_get(properties.title_font_weight, 500) %}
{% set titleLineHeight = safe_get(properties.title_line_height, 48) %}

{% set subtitleFontColor = safe_get(properties.subtitle_font_color, 'dark_font_color') %}
{% set subtitleFontSize = safe_get(properties.subtitle_font_size, 14) %}
{% set subtitleFontWeight = safe_get(properties.subtitle_font_weight, 400) %}
{% set subtitleLineHeight = safe_get(properties.subtitle_line_height, 20) %}

{% set localClass = id %}

<style>
  .{{ localClass }}__title {
    color: {{ colors[titleFontColor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
  }

  .{{ localClass }}__subtitle {
    color: {{ colors[subtitleFontColor] }};
    font-size: {{ subtitleFontSize }}px;
    font-weight: {{ subtitleFontWeight }};
    line-height: {{ subtitleLineHeight }}px;
  }
</style>

<div class="{{ globalClass }}__container {{ localClass }}__container">
  <div class="{{ globalClass }}__title {{ localClass }}__title">
    {{ title | t({count: products | length}) }}
  </div>

  <div class="{{ globalClass }}__subtitle {{ localClass }}__subtitle">
    {{ 'shop.checkout.subtitle' | t({count: products | length}) }}
  </div>
</div>
