{% set feedback = global.common.feedbackInfo.feedback.score if global.common.feedbackInfo.feedback %}
{% render_snippet 'Feedback form', feedbackId=global.request.options.itemId, feedback=feedback, properties=properties %}
