.section-404 {
  padding: 120px 0;
}

.section-404,
.section-404__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-404__wrapper .snippet-link-button .link-button-side-icon-left,
.section-404__wrapper .snippet-link-button .link-button-side-icon-right {
  display: none;
}

.section-404__wrapper .link-button-label {
  height: 50px;
  padding: 1.5rem;
}

.section-404__wrapper svg {
  width: 160px;
  height: 160px;
  margin-bottom: 1.75rem;
}

.section-404__error-title, .section-404__error-description {
  padding-bottom: 1rem;
  text-align: center;
  line-height: normal;
}

@media (max-width: 768px) {
  .section-404 {
    padding: 60px 0;
  }
}

@media (max-width: 640px) {
  .section-404__wrapper {
    max-width: 400px;
  }

  .section-404__error-title {
    font-size: 20px;
  }
  .section-404__error-description {
    font-size: 14px;
  }
}
