:root {
  --menuPadding: 2.35rem;
  --font-size: 16px;
  --font-weight: 700;
  --line-height: 20px;
  --transition-speed: 0.3s;
  --black2: #000000;
}

.header__container {
  display: flex;
  min-height: var(--desktopMenuHeight);
  align-items: center;
  justify-content: space-between;
}

.sidebar-toggler {
  display: none;
  cursor: pointer;
  margin-right: 1.25rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-center {
  width: 100%;
  text-align: center;
}

.menu-block {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .header__container {
    flex-wrap: wrap;
    min-height: var(--mobileMenuHeight);
  }

  .header-left {
    width: 50%;
  }

  .section-header__logo,
  .menu-block {
    display: none;
  }
  
  .sidebar-toggler {
    display: flex;
    margin-right: 0.75rem;
  }

  .header-center {
    width: 100%;
    order: 3;
    display: none;
  }

  .header-right {
    width: 50%;
    justify-content: flex-end;
  }
}
