{% set colors = themeProperties.current_colors %}

{% if properties.portfolio_competences_main %}
<h3 style="
    color: {{ colors[properties.portfolio_competences_main_font_color] }}; 
    font-size: {{properties.portfolio_competences_main_font_size }}px; 
    font-weight: {{ properties.portfolio_competences_main_text_weight }};">

    {{ properties.portfolio_competences_main }}

</h3>
{% endif %}

<ul>
                
    <li>
        {% if properties.portfolio_competences_first_pre_header %}
        <p  class="date" style="
            color: {{ colors[properties.portfolio_competences_first_pre_header_font_color] }}; 
            font-size: {{properties.portfolio_competences_first_pre_header_font_size }}px; 
            font-weight: {{ properties.portfolio_competences_first_pre_header_text_weight }};">

            {{ properties.portfolio_competences_first_pre_header }}

        </p>
        {% endif %}

        {% if properties.portfolio_competences_first_header %}
        <h2 style="
            color: {{ colors[properties.portfolio_competences_first_header_font_color] }}; 
            font-size: {{properties.portfolio_competences_first_header_font_size }}px; 
            font-weight: {{ properties.portfolio_competences_first_header_text_weight }};">

            {{ properties.portfolio_competences_first_header }}

        </h2>
        {% endif %}

        {% if properties.portfolio_competences_first_sub_header %}
        <p  class="type" style="
            color: {{ colors[properties.portfolio_competences_first_sub_header_font_color] }}; 
            font-size: {{properties.portfolio_competences_first_sub_header_font_size }}px; 
            font-weight: {{ properties.portfolio_competences_first_sub_header_text_weight }};">

            {{ properties.portfolio_competences_first_sub_header }}

        </p>
        {% endif %}

    </li>

    <li>
        {% if properties.portfolio_competences_second_pre_header %}
        <p  class="date" style="
            color: {{ colors[properties.portfolio_competences_second_pre_header_font_color] }}; 
            font-size: {{properties.portfolio_competences_second_pre_header_font_size }}px; 
            font-weight: {{ properties.portfolio_competences_second_pre_header_text_weight }};">

            {{ properties.portfolio_competences_second_pre_header }}

        </p>
        {% endif %}

        {% if properties.portfolio_competences_second_header %}
        <h2 style="
            color: {{ colors[properties.portfolio_competences_second_header_font_color] }}; 
            font-size: {{properties.portfolio_competences_second_header_font_size }}px; 
            font-weight: {{ properties.portfolio_competences_second_header_text_weight }};">

            {{ properties.portfolio_competences_second_header }}

        </h2>
        {% endif %}

        {% if properties.portfolio_competences_second_sub_header %}
        <p  class="type" style="
            color: {{ colors[properties.portfolio_competences_second_sub_header_font_color] }}; 
            font-size: {{properties.portfolio_competences_second_sub_header_font_size }}px; 
            font-weight: {{ properties.portfolio_competences_second_sub_header_text_weight }};">

            {{ properties.portfolio_competences_second_sub_header }}

        </p>
        {% endif %}

    </li>
</ul>
