<div class="clients d-flex gap-24 mt-2">

    {% if properties.show_first_counter%}
    <div class="client-item">
        {% if properties.portfolio_c2astats_box_value_custom_text%}
            <h1 style="
                color: {{ colors[properties.portfolio_c2astats_box_value_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_value_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_value_font_weight }};">

                {{ properties.portfolio_c2astats_box_value_custom_text }}

            </h1>
        {% endif %}

        {% if properties.portfolio_c2astats_box_caption_custom_text%}
            <p style="
                color: {{ colors[properties.portfolio_c2astats_box_caption_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_caption_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_caption_font_weight }};">

                {{ properties.portfolio_c2astats_box_caption_custom_text }}

            </p>
        {% endif %}
    </div>
    {% endif %}

    {% if properties.show_second_counter%}
    <div class="client-item">
        {% if properties.portfolio_c2astats_box_value2_custom_text%}
            <h1 style="
                color: {{ colors[properties.portfolio_c2astats_box_value2_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_value2_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_value2_font_weight }};">

                {{ properties.portfolio_c2astats_box_value2_custom_text }}

            </h1>
        {% endif %}

        {% if properties.portfolio_c2astats_box_caption2_custom_text%}
            <p  style="
                color: {{ colors[properties.portfolio_c2astats_box_caption2_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_caption2_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_caption2_font_weight }};">

                {{ properties.portfolio_c2astats_box_caption2_custom_text }}

            </p>
        {% endif %}
    </div>
    {% endif %}

    {% if properties.show_third_counter%}
    <div class="client-item">
        {% if properties.portfolio_c2astats_box_value3_custom_text%}
            <h1 style="
                color: {{ colors[properties.portfolio_c2astats_box_value3_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_value3_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_value3_font_weight }};">

                {{ properties.portfolio_c2astats_box_value3_custom_text }}

            </h1>
        {% endif %}

        {% if properties.portfolio_c2astats_box_caption3_custom_text%}
            <p style="
                color: {{ colors[properties.portfolio_c2astats_box_caption3_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_caption3_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_caption3_font_weight }};">

                {{ properties.portfolio_c2astats_box_caption3_custom_text }}

            </p>
        {% endif %}
    </div>
    {% endif %}

    {% if properties.show_fourth_counter%}
    <div class="client-item">
        {% if properties.portfolio_c2astats_box_value4_custom_text%}
            <h1 style="
                color: {{ colors[properties.portfolio_c2astats_box_value4_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_value4_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_value4_font_weight }};">

                {{ properties.portfolio_c2astats_box_value4_custom_text }}

            </h1>
        {% endif %}

        {% if properties.portfolio_c2astats_box_caption4_custom_text%}
            <p style="
                color: {{ colors[properties.portfolio_c2astats_box_caption4_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_caption4_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_caption4_font_weight }};">

                {{ properties.portfolio_c2astats_box_caption4_custom_text }}

            </p>
        {% endif %}
    </div>
    {% endif %}

    {% if properties.show_fifth_counter%}
    <div class="client-item">
        {% if properties.portfolio_c2astats_box_value5_custom_text%}
            <h1 style="
                color: {{ colors[properties.portfolio_c2astats_box_value5_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_value5_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_value5_font_weight }};">

                {{ properties.portfolio_c2astats_box_value5_custom_text }}

            </h1>
        {% endif %}

        {% if properties.portfolio_c2astats_box_caption5_custom_text%}
            <p style="
                color: {{ colors[properties.portfolio_c2astats_box_caption5_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_caption5_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_caption5_font_weight }};">

                {{ properties.portfolio_c2astats_box_caption5_custom_text }}

            </p>
        {% endif %}
    </div> 
    {% endif %}

    {% if properties.show_sixth_counter%}
    <div class="client-item">
        {% if properties.portfolio_c2astats_box_value6_custom_text%}
            <h1 style="
                color: {{ colors[properties.portfolio_c2astats_box_value6_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_value6_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_value6_font_weight }};">

                {{ properties.portfolio_c2astats_box_value6_custom_text }}

            </h1>
        {% endif %}

        {% if properties.portfolio_c2astats_box_caption6_custom_text%}
            <p style="
                color: {{ colors[properties.portfolio_c2astats_box_caption6_font_color] }}; 
                font-size: {{properties.portfolio_c2astats_box_caption6_font_size }}px; 
                font-weight: {{ properties.portfolio_c2astats_box_caption6_font_weight }};">

                {{ properties.portfolio_c2astats_box_caption6_custom_text }}

            </p>
        {% endif %}
    </div>    
    {% endif %}                           
</div>