{% set colors = themeProperties.current_colors %}

<div class="marquee">
  <div>
      <span style=" color: {{ colors[properties.portfolio_scrolling_text_font_color] }}; 
            font-size: {{ properties.portfolio_scrolling_text_font_size }}px; 
            font-weight: {{ properties.portfolio_scrolling_text_font_weight }};">

                  {{ properties.portfolio_scrolling_text_custom_text }}

      </span>
  </div>
</div>