{% set colors = themeProperties.current_colors %}

<{{  properties.portfolio_text_tag  }} 
  style=" color: {{ colors[properties.portfolio_text_font_color] }}; 
          font-size: {{ properties.portfolio_text_font_size }}px; 
          font-weight: {{ properties.portfolio_text_font_weight }};
          text-align: {{ properties.portfolio_text_align }};
          ">

    {{ properties.portfolio_text }}

</{{  properties.portfolio_text_tag  }}>