<div class="sellix-delivery-header-section">

  <div class="sellix-delivery-header">
    {% for block_name in settings.block_order %}
      {% render_block block_name %}
    {% endfor %}
  </div>

</div>
