{% set id = uid() %}
{% set colors = themeProperties.current_colors %}

{% set isInvoice = renderOptions['templateName'] == 'Invoice/Invoice' %}

<style>
  .shop-info-{{ id }} {
    margin-top: 2rem;
    opacity: {{ 0 if isInvoice else 1 }};
    pointer-events: {{ 'none' if isInvoice else 'initial' }};
  }
</style>

<div>
  {% render_snippet 'Shop info',
    colors=colors,
    properties=properties,
    classes=['sellix-product-screen shop-product-info-shop', ' ', 'shop-info-', id] | join
  %}
</div>
