.snippet-product-feedback__btn-view-more {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--darkFontColor);
  background: var(--backgroundAccentDark)!important;
}
.snippet-product-feedback__feedback-card {
  display: flex;
}
.snippet-product-feedback__empty {
  padding: 3.75rem 0;
  border-radius: 0.5rem;
}

.is-dark .snippet-product-feedback__empty {
  color: var(--white);
}
