{% set shop = global.common.shopInfo.shop %}
{% set colors = themeProperties.current_colors %}
{% set currentContext = context() %}

{% set shopName = safe_get(properties.shop_name, null) or shop.name %}
{% set logoImage = safe_get(properties.logo_image, null) %}
{% set logoImageHeight = safe_get(properties.logo_image_height, 30) %}
{% set shopNameFontColor = safe_get(properties.shop_name_font_color, 'dark_font_color') %}
{% set shopNameFontSize = safe_get(properties.shop_name_font_size, 18) %}
{% set shopNameFontWeight = safe_get(properties.shop_name_font_weight, 700) %}
{% set shopNameLineHeight = safe_get(properties.shop_name_line_height, 20) %}

{% set menuTitleFontColor = safe_get(properties.menu_title_font_color, 'gray_shade_4r') %}
{% set menuTitleFontSize = safe_get(properties.menu_title_font_size, 14) %}
{% set menuTitleFontWeight = safe_get(properties.menu_title_font_weight, 500) %}
{% set menuTitleLineHeight = safe_get(properties.menu_title_line_height, 20) %}

{% set menuItemFontColor = safe_get(properties.menu_item_font_color, 'dark_font_color') %}
{% set menuItemFontSize = safe_get(properties.menu_item_font_size, 14) %}
{% set menuItemFontWeight = safe_get(properties.menu_item_font_weight, 400) %}
{% set menuItemLineHeight = safe_get(properties.menu_item_line_height, 20) %}

{% set fullWidth = safe_get(properties.fullwidth, false) %}
{% set bgColor = properties.background_color %}
{% set marginTopDesktop = safe_get(properties.margin_top_desktop, 0) %}
{% set marginBottomDesktop = safe_get(properties.margin_bottom_desktop, 120) %}
{% set paddingTopDesktop = safe_get(properties.padding_top_desktop, 0) %}
{% set paddingBottomDesktop = safe_get(properties.padding_bottom_desktop, 0) %}
{% set paddingHorizDesktop = safe_get(properties.padding_horiz_desktop, 0) %}
{% set marginTopTablet = safe_get(properties.margin_top_tablet, 0) %}
{% set marginBottomTablet = safe_get(properties.margin_bottom_tablet, 60) %}
{% set paddingHorizTablet = safe_get(properties.padding_horiz_tablet, 0) %}
{% set paddingTopTablet = safe_get(properties.padding_top_tablet, 0) %}
{% set paddingBottomTablet = safe_get(properties.padding_bottom_tablet, 0) %}
{% set marginTopMobile = safe_get(properties.margin_top_mobile, 0) %}
{% set marginBottomMobile = safe_get(properties.margin_bottom_mobile, 60) %}
{% set paddingHorizMobile = safe_get(properties.padding_horiz_mobile, 130) %}
{% set paddingTopMobile = safe_get(properties.padding_top_mobile, 400) %}
{% set paddingBottomMobile = safe_get(properties.padding_bottom_mobile, 400) %}

{% set localClass = id %}

<style>
  .sellix-section.{{ globalClass}}-global-{{ id }} {
    background-color: {{ colors[bgColor] }};
  }

  .{{ localClass }}__container {
    margin-top: {{ marginTopDesktop }}px;
    margin-bottom: {{ marginBottomDesktop }}px;
    padding: {{ paddingTopDesktop }}px {{ paddingHorizDesktop }}px {{ paddingBottomDesktop }}px {{ paddingHorizDesktop }}px;
  }

  @media (max-width: 768px) {
    .{{ localClass }}__container {
      padding: {{ paddingTopTablet }}px {{ paddingHorizTablet }}px {{ paddingBottomTablet }}px {{ paddingHorizTablet }}px;
      margin-top: {{ marginTopTablet }}px;
      margin-bottom: {{ marginBottomTablet }}px;
    }
  }

  @media (max-width: 640px) {
    .{{ localClass }}__container {
      padding: {{ paddingTopMobile }}px {{ paddingHorizMobile }}px {{ paddingBottomMobile }}px {{ paddingHorizMobile }}px;
      margin-top: {{ marginTopMobile }}px;
      margin-bottom: {{ marginBottomMobile }}px;
    }
  }

  .{{ localClass }}__shop-name a {
    color: {{ colors[shopNameFontColor] }};
    font-size: {{ shopNameFontSize }}px;
    font-weight: {{ shopNameFontWeight }};
    line-height: {{ shopNameLineHeight }}px;
  }
  .{{ localClass }}__logo-image img {
    max-height: {{ logoImageHeight }}px;
  }

  .{{ localClass }}__menu-title {
    color: {{ colors[menuTitleFontColor] }};
    font-size: {{ menuTitleFontSize }}px;
    font-weight: {{ menuTitleFontWeight }};
    line-height: {{ menuTitleLineHeight }}px;
  }
  .{{ localClass }}__menu-items a{
    color: {{ colors[menuItemFontColor] }};
    font-size: {{ menuItemFontSize }}px;
    font-weight: {{ menuItemFontWeight }};
    line-height: {{ menuItemLineHeight }}px;
  }
</style>

<div class="{{ globalClass }}__container {{ localClass }}__container menus-count-{{ menusCount}} {{ 'full-width' if fullWidth else 'content-width' }}">
  <div class="{{ globalClass }}__logo">
    {% if properties.logo_image %}
      <a href="">
        <div class="{{ globalClass }}__logo-image {{ localClass }}__logo-image">
          <img
            src="{{ logoImage }}"
            alt="{{ shop.name }}"
          >
        </div>
      </a>
    {% endif %}

    <div class="{{ globalClass }}__shop-name {{ localClass }}__shop-name">
      <a href="">{{ shopName }}</a>
    </div>
  </div>

  <div class="{{ globalClass }}__menus">
    {% for idx in safe_range(1, 6) %}
      {% set menu = context()[['menu', idx] | join] %}
      {% if menu %}
        <div class="{{ globalClass }}__menu">
          <div class="{{ globalClass }}__menu-title {{ localClass }}__menu-title">
            {{ properties[['menu', idx, '_title'] | join] | t }}
          </div>
          <div class="{{ globalClass }}__menu-items {{ localClass }}__menu-items">
            {% for item in menu.items %}
              {% render_snippet
                'Menu item',
                url=item.page_slug,
                title=item.title,
                class='...'
              %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="{{ globalClass }}__signup">
    <div class="{{ globalClass }}__signup-title">
      Stay in the Loop
    </div>
    <div class="{{ globalClass }}__signup-subtitle">
      Sign up to receive email updates, on new products & more.
    </div>
    <div class="{{ globalClass }}__signup-widget">
      {% render_snippet 'Shared: Text',
        name='signup-input',
        placeholder='Email Address',
        icon_name='Icons: Arrow right 1',
        icon_on_click=['onSignup_', id] | join
      %}
    </div>
  </div>
</div>

<script type='application/javascript'>
  function onSignup_{{ id }}(email) {
    console.log('onSignup_{{ id }}', email);
  }
</script>
