{% set id = args.layoutId or uid() %}
{% set menuProps = themeProperties.mobile_menu %}
{% set shop = global.common.shopInfo.shop %}
{% set subscription = global.common.shopInfo.subscription %}
{% set colors = themeProperties.current_colors %}

{% set backgroundColor = properties.background_color
  if properties.background_color is defined
  else 'background_main_color'
%}

<style>
  .header {
    position: relative;
    z-index: 1000;
    box-shadow: {{ properties.shadow }};
  }
  .header-{{ id }} {
    background-color: {{ colors[backgroundColor] }};
  }
  .sellix-header-{{ id }} .sellix-header__shop-name {
    text-align: {{ properties.shop_name_text_align }};
    {% if properties.shop_name_text_align == 'center' %}
      left: 0;
      position: absolute;
    {% endif %}
  }
  .sellix-header-{{ id }} .sellix-header__shop-name > a > span {
    color: {{ colors[properties.shop_name_font_color] if properties.shop_name_font_color else 'inherit' }};
    font-size: {{ properties.shop_name_font_size }}px;
    font-weight: {{ properties.shop_name_font_weight }};
  }
  .sellix-header-{{ id }} .sidebar-toggler {
    color: {{ colors[properties.shop_name_font_color] if properties.shop_name_font_color else 'inherit' }};
  }
</style>

<header class="header-{{ id }} {{ 'full-width' if properties.fullwidth else 'content-width' }}">
  <div class="sellix-header sellix-header-{{ id }}">
    <div class="sellix-header__logo">
      <div class="sidebar-toggler">
        {% render_snippet
          'Burger button',
          rootClass=['sellix-header-', id] | join,
          properties={
            'color': menuProps.menu_icon_font_color
          }
        %}
      </div>

      {% if properties.logo_image %}
        <a href="">
          <div class="sellix-header__logo-image">
            <img
              style="max-height: {{ properties.logo_image_height }}px;"
              src="{{ properties.logo_image }}"
              alt="{{ shop.name }}"
            >
          </div>
        </a>
      {% endif %}

      <div class="sellix-header__shop-name">
        <a href="">
          <span>
            {% if properties.shop_name %}
              {{ properties.shop_name }}
            {% else %}
              {{shop.name}}
            {% endif %}
          </span>
        </a>
      </div>
    </div>

    <div class="sellix-header__main-menu">
      {% render_block 'Menu' %}
    </div>

    <div class="sellix-header__language-selector">
      {% render_snippet 'Language selector', properties=properties %}
    </div>

    <div class="sellix-header__cart">
      {% if global.common.cartEnabled %}
        {% render_block 'Cart' %}
      {% endif %}
    </div>
  </div>
</header>

<script>
  $(document).ready(function() {
    $('.header-{{ id }} .sidebar-toggler').click(function() {
      const $mobileMenu = $('.mobile-sidebar-menu');
      const $toggler = $('.sidebar-toggler');
      if ($mobileMenu.hasClass('open')) {
        $mobileMenu.removeClass('open');
        $toggler.removeClass('open');
        $('html').removeClass('no-scroll');
      } else {
        $mobileMenu.addClass('open');
        $toggler.addClass('open');
        $('html').addClass('no-scroll');
      }
    });
  });
</script>
