{% set id = uid() %}
{% set globalClass = 'section-product-list' %}
{% set rootClass = [globalClass, '-', id] | join %}

<style>
  .{{ globalClass }}__container {

  }
</style>

<div class="{{ globalClass }}__container {{ rootClass }} {{ 'full-width' if properties.fullwidth else 'content-width' }}">
  {% for block_name in settings.block_order %}
    {%- render_block block_name -%}
  {% endfor%}

  {% render_snippet 'Group card modal' %}
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    window.scrollTo({top: 0, behavior: 'smooth'});
  });
</script>
