{% set colors = themeProperties.current_colors %}

{% set fullWidth = safe_get(properties.fullwidth, false) %}
{% set bgColor = safe_get(properties.background_color, 'background_accent_light') %}

{% set titleFontColor = safe_get(properties.title_font_color, 'dark_font_color') %}
{% set titleFontSize = safe_get(properties.title_font_size, 14) %}
{% set titleFontWeight = safe_get(properties.title_font_weight, 400) %}
{% set titleLineHeight = safe_get(properties.title_line_height, 28) %}

{% set subtitleFontColor = safe_get(properties.subtitle_font_color, 'dark_font_color') %}
{% set subtitleFontSize = safe_get(properties.subtitle_font_size, 14) %}
{% set subtitleFontWeight = safe_get(properties.subtitle_font_weight, 400) %}
{% set subtitleLineHeight = safe_get(properties.subtitle_line_height, 28) %}

{% set marginTopDesktop = safe_get(properties.margin_top_desktop, 0) %}
{% set marginBottomDesktop = safe_get(properties.margin_bottom_desktop, 0) %}
{% set paddingHorizDesktop = safe_get(properties.padding_horiz_desktop, 0) %}
{% set paddingTopDesktop = safe_get(properties.padding_top_desktop, 0) %}
{% set paddingBottomDesktop = safe_get(properties.padding_bottom_desktop, 0) %}
{% set marginTopTablet = safe_get(properties.margin_top_tablet, 0) %}
{% set marginBottomTablet = safe_get(properties.margin_bottom_tablet, 0) %}
{% set paddingHorizTablet = safe_get(properties.padding_horiz_tablet, 0) %}
{% set paddingTopTablet = safe_get(properties.padding_top_tablet, 0) %}
{% set paddingBottomTablet = safe_get(properties.padding_bottom_tablet, 0) %}
{% set marginTopMobile = safe_get(properties.margin_top_mobile, 0) %}
{% set marginBottomMobile = safe_get(properties.margin_bottom_mobile, 0) %}
{% set paddingHorizMobile = safe_get(properties.padding_horiz_mobile, 0) %}
{% set paddingTopMobile = safe_get(properties.padding_top_mobile, 0) %}
{% set paddingBottomMobile = safe_get(properties.padding_bottom_mobile, 0) %}

{% set localClass = [globalClass, '-', id] | join %}

<style>
  .sellix-section.{{ globalClass}}-global-{{ id }} {
    background-color: {{ colors[bgColor] }};
  }

  .{{ localClass }} {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: {{ paddingTopDesktop }}px {{ paddingHorizDesktop }}px {{ paddingBottomDesktop }}px {{ paddingHorizDesktop }}px;
    margin-top: {{ marginTopDesktop }}px;
    margin-bottom: {{ marginBottomDesktop }}px;
  }

  @media (max-width: 768px) {
    .{{ localClass }} {
      grid-template-columns: 1fr;
      padding: {{ paddingTopTablet }}px {{ paddingHorizTablet }}px {{ paddingBottomTablet }}px {{ paddingHorizTablet }}px;
      margin-top: {{ marginTopTablet }}px;
      margin-bottom: {{ marginBottomTablet }}px;
    }
  }

  @media (max-width: 640px) {
    .{{ localClass }} {
      padding: {{ paddingTopMobile }}px {{ paddingHorizMobile }}px {{ paddingBottomMobile }}px {{ paddingHorizMobile }}px;
      margin-top: {{ marginTopMobile }}px;
      margin-bottom: {{ marginBottomMobile }}px;
    }
  }

  .{{ localClass }}__title {
    display: flex;
    justify-content: start;
    align-items: center;
    color: {{ colors[titleFontColor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
  }

  @media (max-width: 768px) {
    .{{ localClass }}__title {
      justify-content: space-around;
      margin-bottom: 8px;
    }
  }

  .{{ localClass }}__title::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1px;
    background-color: var(--black2);
    margin-left: 1.5rem;
  }

  @media (max-width: 768px) {
    .{{ localClass }}__title::after {
      display: none;
    }
  }

  .{{ localClass }}__subtitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1.5rem;
    color: {{ colors[subtitleFontColor] }};
    font-size: {{ subtitleFontSize }}px;
    font-weight: {{ subtitleFontWeight }};
    line-height: {{ subtitleLineHeight }}px;
  }

  @media (max-width: 768px) {
    .{{ localClass }}__subtitle {
      justify-content: space-around;
      padding: 0;
    }
  }
</style>

<div class="{{ localClass }} {{ 'full-width' if fullWidth else 'content-width' }}">
  <div class="{{ localClass }}__title">
    {{ properties.title_content }}
  </div>
  <div class="{{ localClass }}__subtitle">
    {{ properties.subtitle_content }}
  </div>
</div>
