{% set colors = themeProperties.current_colors %}

{% set fullWidth = safe_get(properties.fullwidth, false) %}
{% set bgColor = safe_get(properties.background_color, 'background_accent_light') %}

{% set titleFontColor = safe_get(properties.title_font_color, 'dark_font_color') %}
{% set titleFontSize = safe_get(properties.title_font_size, 14) %}
{% set titleFontWeight = safe_get(properties.title_font_weight, 400) %}
{% set titleLineHeight = safe_get(properties.title_line_height, 28) %}

{% set subtitleFontColor = safe_get(properties.subtitle_font_color, 'dark_font_color') %}
{% set subtitleFontSize = safe_get(properties.subtitle_font_size, 14) %}
{% set subtitleFontWeight = safe_get(properties.subtitle_font_weight, 400) %}
{% set subtitleLineHeight = safe_get(properties.subtitle_line_height, 28) %}

{% set marginTopDesktop = safe_get(properties.margin_top_desktop, 0) %}
{% set marginBottomDesktop = safe_get(properties.margin_bottom_desktop, 0) %}
{% set paddingHorizDesktop = safe_get(properties.padding_horiz_desktop, 0) %}
{% set paddingTopDesktop = safe_get(properties.padding_top_desktop, 0) %}
{% set paddingBottomDesktop = safe_get(properties.padding_bottom_desktop, 0) %}
{% set marginTopTablet = safe_get(properties.margin_top_tablet, 0) %}
{% set marginBottomTablet = safe_get(properties.margin_bottom_tablet, 0) %}
{% set paddingHorizTablet = safe_get(properties.padding_horiz_tablet, 0) %}
{% set paddingTopTablet = safe_get(properties.padding_top_tablet, 0) %}
{% set paddingBottomTablet = safe_get(properties.padding_bottom_tablet, 0) %}
{% set marginTopMobile = safe_get(properties.margin_top_mobile, 0) %}
{% set marginBottomMobile = safe_get(properties.margin_bottom_mobile, 0) %}
{% set paddingHorizMobile = safe_get(properties.padding_horiz_mobile, 0) %}
{% set paddingTopMobile = safe_get(properties.padding_top_mobile, 0) %}
{% set paddingBottomMobile = safe_get(properties.padding_bottom_mobile, 0) %}

{% set localClass = id %}

<style>
  .sellix-section.{{ globalClass}}-global-{{ id }} {
    background-color: {{ colors[bgColor] }};
  }

  .{{ localClass }}__container {
    padding: {{ paddingTopDesktop }}px {{ paddingHorizDesktop }}px {{ paddingBottomDesktop }}px {{ paddingHorizDesktop }}px;
    margin-top: {{ marginTopDesktop }}px;
    margin-bottom: {{ marginBottomDesktop }}px;
  }

  @media (max-width: 768px) {
    .{{ localClass }}__container {
      padding: {{ paddingTopTablet }}px {{ paddingHorizTablet }}px {{ paddingBottomTablet }}px {{ paddingHorizTablet }}px;
      margin-top: {{ marginTopTablet }}px;
      margin-bottom: {{ marginBottomTablet }}px;
    }
  }

  @media (max-width: 640px) {
    .{{ localClass }}__container {
      padding: {{ paddingTopMobile }}px {{ paddingHorizMobile }}px {{ paddingBottomMobile }}px {{ paddingHorizMobile }}px;
      margin-top: {{ marginTopMobile }}px;
      margin-bottom: {{ marginBottomMobile }}px;
    }
  }

  .{{ localClass }}__title {
    color: {{ colors[titleFontColor] }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
  }

  .{{ localClass }}__subtitle {
    color: {{ colors[subtitleFontColor] }};
    font-size: {{ subtitleFontSize }}px;
    font-weight: {{ subtitleFontWeight }};
    line-height: {{ subtitleLineHeight }}px;
  }
</style>

<div class="{{ globalClass }}__container {{ localClass }}__container {{ 'full-width' if fullWidth else 'content-width' }}">
  <div class="{{ globalClass }}__title {{ localClass }}__title">
    {{ properties.title_content | t }}
  </div>
  <div class="{{ globalClass }}__subtitle {{ localClass }}__subtitle">
    {{ properties.subtitle_content | t }}
  </div>
</div>
