{% set layoutId = args.layoutId or uid() %}
{% set menuProps = themeProperties.mobile_menu %}
{% set shop = global.common.shopInfo.shop %}
{% set subscription = global.common.shopInfo.subscription %}
{% set colors = themeProperties.current_colors %}

{% set fullWidth = safe_get(properties.fullwidth, false) %}
{% set bgColor = safe_get(properties.background_color, 'background_main_color') %}

{% set fullWidth = safe_get(properties.fullwidth, false) %}
{% set shadow = safe_get(properties.shadow, 'none') %}
{% set logoImage = safe_get(properties.logo_image, null) %}
{% set logoImageHeight = safe_get(properties.logo_image_height, 30) %}
{% set shopName = safe_get(properties.shop_name, null) or shop.name %}
{% set shopNameFontColor = safe_get(properties.shop_name_font_color, 'dark_font_color') %}
{% set shopNameFontSize = safe_get(properties.shop_name_font_size, 18) %}
{% set shopNameFontWeight = safe_get(properties.shop_name_font_weight, 700) %}
{% set shopNameLineHeight = safe_get(properties.shop_name_line_height, 20) %}

{% set localClass = id %}

<style>
  .{{ globalClass }} {
    box-shadow: {{ shadow }};
  }
  .{{ localClass }} {
    background-color: {{ colors[bgColor] }};
  }
  .{{ localClass }} .sellix-header__shop-name > a > span {
    color: {{ colors[shopNameFontColor] }};
    font-size: {{ shopNameFontSize }}px;
    font-weight: {{ shopNameFontWeight }};
    line-height: {{ shopNameLineHeight }}px;
  }
  .{{ localClass }} .sidebar-toggler {
    color: {{ colors[shopNameFontColor] }};
  }
  .{{ localClass }} .sellix-header__logo-image img {
    max-height: {{ logoImageHeight }}px;
  }
</style>

<header class="{{ localClass }} {{ 'full-width' if fullWidth else 'content-width' }}">
  <div id="sellix-header-{{ layoutId }}" class="sellix-header {{ localClass }}">
    <div class="sellix-header__logo">
      <div class="sidebar-toggler">
        {% render_snippet
          'Burger button',
          localClass=['sellix-header-', id] | join,
          properties={
            'color': menuProps.menu_icon_font_color
          }
        %}
      </div>

      {% if properties.logo_image %}
        <a href="">
          <div class="sellix-header__logo-image">
            <img
              src="{{ logoImage }}"
              alt="{{ shop.name }}"
            >
          </div>
        </a>
      {% endif %}

      <div class="sellix-header__shop-name">
        <a href="">
          <span>
            {{ shopName }}
          </span>
        </a>
      </div>
    </div>

    <div class="sellix-header__main-menu">
      {% render_block 'Menu' %}
    </div>

    <div class="sellix-header__language-selector">
      {% render_snippet 'Language selector', properties=properties %}
    </div>

    <div class="sellix-header__cart">
      {% if global.common.cartEnabled %}
        {% render_block 'Cart' %}
      {% endif %}
    </div>
  </div>
</header>

<script>
  $(document).ready(function() {
    $('.{{ globalClass }}-global-{{ id }} .sidebar-toggler').click(function() {
      const $mobileMenu = $('.snippet-mobile-sidebar-menu');
      const $toggler = $('.sidebar-toggler');
      if ($mobileMenu.hasClass('open')) {
        $mobileMenu.removeClass('open');
        $toggler.removeClass('open');
        $('html').removeClass('no-scroll');
      } else {
        $mobileMenu.addClass('open');
        $toggler.addClass('open');
        $('html').addClass('no-scroll');
      }
    });
  });
</script>
