{% set sectionId = args.sectionId or id() %}
{% set colors = themeProperties.current_colors %}

{% set contentAlign = properties.item_content_align or 'center' %}
{#{% set fixedWidth = properties.column_fixed_width %}#}
{% set paddingVert = properties.item_padding_vert or 0 %}
{% set paddingHoriz = properties.item_padding_horiz or 0 %}
{% set marginBottom = properties.item_margin_bottom or 0 %}
{% set backgroundColor = properties.item_background_color or 'transparent' %}

{% set rootClass = ['multi-columns-', id, '__column-item'] | join %}

<style>
  .{{ rootClass }} {
    display: flex;
    {% if contentAlign === 'left' %}
      justify-content: flex-start;
    {% elif contentAlign === 'right' %}
      justify-content: flex-end;
    {% else %}
      justify-content: space-around;
    {% endif %}
    align-items: center;
    background-color: {{ colors[backgroundColor] }};
    padding: {{ paddingVert }}px {{ paddingHoriz }}px;
    margin: 0 auto {{ marginBottom }}px auto;
    {% if fixedWidth %}
      max-width: {{ fixedWidth }}px;
    {% endif %}
  }
</style>

<div class="{{ rootClass }}">
  {% if properties.item_type === 'text' %}
    {% render_snippet
      'Column item: Text',
      sectionId=id,
      properties={
        'content_align': properties.item_content_align,
        'content': properties.text_content,
        'font_color': properties.text_font_color,
        'font_size': properties.text_font_size,
        'line_height': properties.text_line_height,
        'font_weight': properties.text_font_weight
      }
    %}
  {% elif properties.item_type === 'image' %}
    {% render_snippet
      'Column item: Image',
      sectionId=id,
      properties={
        'content_align': properties.item_content_align,
        'url': properties.image_url,
        'size': properties.image_size
      }
    %}
  {% elif properties.item_type === 'button' %}
    {% render_snippet
      'Column item: Button',
      sectionId=id,
      properties={
        'content_align': properties.item_content_align,
        'background_color': properties.button_background_color,
        'label_color': properties.button_label_color,
        'label': properties.button_label,
        'url': properties.button_url
      }
    %}
  {% elif properties.item_type === 'link' %}
    {% render_snippet
      'Column item: Link',
      sectionId=id,
      properties={
        'content_align': properties.item_content_align,
        'background_color': properties.button_background_color,
        'label_color': properties.button_label_color,
        'label': properties.button_label,
        'url': properties.button_url
      }
    %}
  {% else %}
    Unknown column item type: {{ properties.item_type }}
  {% endif %}

</div>
