{% set id=uid() %}
{% set feedbacks = global.common.feedbacksInfo.feedbacks %}
{% set pageLimit = 10 %}
{% set currentPage = 1 %}
{% set colors = themeProperties.current_colors %}

{% set localClass = id %}

{% if feedbacks.length > 12 %}
  <style>
    .{{ localClass }}__container {
      margin: {{ properties.container_margin_y }}px auto;
      background: {{ colors[properties.background_color] }};
      border: {{ "1px solid var(--borderColor)" if properties.show_border else "none" }};
      box-shadow: {{ properties.shadow }};
      border-radius: {{ properties.border_radius }}rem;
    }
  </style>
  <div class="{{ globalClass }}__container {{ localClass }}__container"">
    <button class="prev">
      <i class="fa-solid fa-chevron-left" style="color: var(--lightFontColor); font-size: 16px;"></i>
    </button>

    <button class="next">
      <i class="fa-solid fa-chevron-right" style="color: var(--lightFontColor); font-size: 16px;"></i>
    </button>
  </div>

  <script type='application/javascript'>
    $(document).ready(function () {
      let feedbackPaginationInstance = new window.SellixFeedbackPagination(
        {{currentPage}},
        {{pageLimit}},
        {{feedbacks.length}},
      );
      const feedbackComponent = new SellixFeedbackPaginationComponent(
        '.{{ localClass }}__container',
        feedbackPaginationInstance,
        '{{id}}',
        {{renderOptions | dump | safe}},
      );
    });
  </script>
{% endif %}
