{% set shop = global.common.shopInfo.shop %}
{% set feedbacks = global.common.feedbacksInfo.feedbacks %}
{% set offset = args.offset if args.offset else 0 %}
{% set limit = safe_get(args.limit, safe_get(properties.page_size, 12)) %}
{% set colors = themeProperties.current_colors %}
{% set isEmpty = feedbacks | length == 0 %}

{% set bgColor = safe_get(properties.background_color, 'background_accent_ligth') %}
{% set showBorder = safe_get(properties.show_border, false) %}
{% set paddingVert = safe_get(properties.padding_vert, 0) %}
{% set paddingHoriz = safe_get(properties.padding_horiz, 0) %}
{% set shadow = safe_get(properties.shadow, 'none') %}
{% set borderRadius = safe_get(properties.border_radius, 0) %}

{% set itemsPerRowDesktop = safe_get(properties.items_per_row_desktop, 4) | int %}
{% set itemsPerRowTablet = safe_get(properties.items_per_row_tablet, 2) | int %}
{% set itemsPerRowMobile = safe_get(properties.items_per_row_mobile, 1) | int %}

{% set localClass = id %}

<style>
  .{{ localClass }}__container {
    background: {{ colors[bgColor] }};
    border: {{ "1px solid var(--borderColor)" if showBorder else "none" }};
    padding: {{ paddingVert }}px {{ paddingHoriz }}px;
    box-shadow: {{ shadow }};
    border-radius: {{ borderRadius }}px;

    display: grid;
    grid-template-columns: repeat({{ itemsPerRowDesktop }}, minmax(50px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
  @media (max-width: 768px) {
    .{{ localClass }}__container {
      grid-template-columns: repeat({{ itemsPerRowTablet }}, minmax(50px, 1fr));
    }
  }
  @media (max-width: 640px) {
    .{{ localClass }}__container {
      grid-template-columns: repeat({{ itemsPerRowMobile }}, minmax(50px, 1fr));
    }
  }
</style>

<div class="{{ globalClass }}__container {{ localClass }}__container">
  {% if feedbacks.length === 0 %}
    <div class="empty-message-container {{ globalClass }}__empty {{ localClass }}__empty">
      {% render_snippet 'Icons: Empty feedback' %}

      <span class="empty-message-title {{ globalClass }}__empty-title {{ localClass }}__empty-title">
        {{ 'shop.feedback.noFeedbacks' | t({shopName: ['<b>', shop.name, '</b>'] | join('')}) | safe }}
      </span>
    </div>
  {% endif %}

  {% for item in feedbacks.slice(offset, limit) %}
    {% render_snippet 'Feedback: Card', feedback=item %}
  {% endfor %}
</div>
