{% set id = uid() %}
{% set product=global.common.productInfo.product %}
{% set colors=themeProperties.current_colors %}

{% set termsVisible = properties.terms_visible == 'show'
  or (properties.terms_visible == 'not_empty' and product.terms_of_service) %}

{% set feedbackVisible = properties.feedback_visible == 'show'
  or (properties.feedback_visible == 'not_empty' and product.feedback.list | length > 0) %}

{% if feedbackVisible %}
  {% set activeTab = 'feedback' %}
{% elif termsVisible %}
  {% set activeTab = 'terms' %}
{% endif %}

{% set backgroundColor = properties.container_background_color if properties.container_background_color is defined else 'background_accent_dark' %}
{% set showBorder = properties.container_show_border if properties.container_show_border is defined else true %}
{% set borderRadius = properties.container_border_radius if properties.container_border_radius is defined else 0.5 %}
{% set shadow = properties.container_shadow if properties.container_shadow is defined else 'none' %}
{% set paddingVert = properties.container_padding_vert if properties.container_padding_vert is defined else '16' %}
{% set paddingHoriz = properties.container_padding_horiz if properties.container_padding_horiz is defined else '16' %}

{% if termsVisible or feedbackVisible %}
  <style>
    .sellix-product-relations-{{ id }} {
      border: {{ '1px solid var(--borderColor)' if showBorder else 'none' }}!important;
      background: {{ colors[backgroundColor] }}!important;
      border-radius: {{ borderRadius }}rem!important;
      box-shadow: {{ shadow }}!important;
      padding: {{ paddingVert }}px {{ paddingHoriz }}px!important;
    }
  </style>

  <div class="sellix-product-relations-{{ id }} sellix-product-relations">
    <div class="tabs">
      {% if feedbackVisible %}
      <a class="tab {{ 'active' if activeTab == 'feedback' else '' }}" href="javascript:void(0);" data-tab-name="feedback">
        {{ 'shop.product.relations.feedback.title' | t }}
      </a>
      {% endif %}

      {% if termsVisible %}
      <a class="tab {{ 'active' if activeTab == 'terms' else '' }}" href="javascript:void(0);" data-tab-name="terms">
        {{ 'shop.product.relations.feedback.termsOfService' | t }}
      </a>
      {% endif %}
    </div>

    {% if feedbackVisible %}
    <div class="tab-content {{ 'hidden' if activeTab != 'feedback' else '' }}" data-tab-name="feedback">
      {% render_snippet "Product feedback",
        product=product,
        properties={
          'page_size': properties.feedback_page_size,
          'card_background_color': properties.feedback_card_background_color,
          'card_show_border': properties.feedback_card_show_border,
          'card_border_radius': properties.feedback_card_border_radius,
          'card_shadow': properties.feedback_card_shadow,
          'reply_background_color': properties.feedback_reply_background_color
        }
      %}
    </div>
    {% endif %}

    {% if termsVisible %}
    <div class="tab-content {{ 'hidden' if activeTab != 'terms' else '' }}" data-tab-name="terms">
      {% render_snippet "Product Terms of Service",
        product=product,
        properties={
          'container_background_color': properties.terms_container_background_color,
          'container_show_border': properties.terms_container_show_border,
          'container_border_radius': properties.terms_container_border_radius,
          'container_shadow': properties.terms_container_shadow,
          'container_padding_horiz': properties.terms_container_padding_horiz,
          'container_padding_vert': properties.terms_container_padding_vert
        }
      %}
    </div>
    {% endif %}
  </div>

  <script type="application/javascript">
    $(document).ready(function() {
      let activeTabName = '{{ activeTab }}';

      const $container = $('.sellix-product-relations-{{ id }}');
      const $tabs = $container.find('.tabs');

      if (activeTabName) {
        $tabs.find(`.tab[data-tab-name=${activeTabName}]`).addClass('active');
        $container.find(`.tab-content[data-tab-name=${activeTabName}]`).removeClass('hidden');
      }

      $tabs.find('.tab').on('click', function(event) {
        event.preventDefault();
        const tabName = $(this).data('tabName');

        if (tabName !== activeTabName) {
          $tabs.find(`.tab[data-tab-name=${activeTabName}]`).removeClass('active');
          $tabs.find(`.tab[data-tab-name=${tabName}]`).addClass('active');

          $container.find(`.tab-content[data-tab-name=${activeTabName}]`).addClass('hidden');
          $container.find(`.tab-content[data-tab-name=${tabName}]`).removeClass('hidden');
          activeTabName = tabName;
        }
      });
    });
  </script>
{% endif %}
