<div class="sellix-customer-screen">
  {% for section in settings.section_order %}
    {% render_section section %}
  {% endfor %}
  <style>
      header {
          display: none;
      }
      footer {
          display: none;
      }
  </style>
</div>
