{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set invoice = args.invoice %}
{% set products = args.products %}
{% set properties = args.properties %}

{% set bgColor = safe_get(properties.container_background_color, 'background_accent_dark') %}
{% set showBorder = safe_get(properties.container_show_border, true) %}
{% set shadow = safe_get(properties.container_shadow, 'none') %}
{% set borderRadius = safe_get(properties.container_border_radius, 8) %}
{% set paddingVert = safe_get(properties.container_padding_vert, 16) %}
{% set paddingHoriz = safe_get(properties.container_padding_horiz, 16) %}

{% set productShowBorder = safe_get(properties.product_show_border, true) %}

{% set globalClass = ['snippet-checkout-products'] %}
{% set localClass = id %}

<style>
  .{{ localClass }} {
    background: {{ colors[bgColor] }};
    border: {{ "1px solid var(--borderColor)" if showBorder else "none" }};
    box-shadow: {{ shadow }};
    border-radius: {{ borderRadius }}px;
  }

  .{{ localClass }}__product-wrapper {
    padding: {{ paddingVert }}px {{ paddingHoriz }}px;
  }

  {% if showBorder and not productShowBorder %}
  .{{ localClass }}__product-wrapper:not(:last-child) {
    border-bottom: 1px solid var(--borderColor);
  }
  {% endif %}
</style>

<div class="{{ globalClass }} {{ localClass }}">
  {% for product in products %}
    <div class="{{ globalClass }}__product-wrapper {{ localClass }}__product-wrapper">
      {% render_snippet
        'Checkout: Product',
        product=product,
        invoice=invoice,
        quantity=product.quantity,
        properties=properties
      %}
    </div>
  {% endfor %}
</div>

<script type='application/javascript'>
  $(document).ready(function () {
    const cart = window.SellixCartStoreFactory.getCart('{{shop.name}}');
    new SellixCheckoutProductsComponent(
      '.{{ localClass }}',
      cart,
      {{renderOptions | dump | safe}},
      {{properties | dump | safe}},
      $('<div class="{{ globalClass }}__product-wrapper {{ localClass }}__product-wrapper"></div>'),
    );
  });
</script>
