{% set invoice = args.invoice %}

<div class="sellix-delivery-product skip mb-0 mt-5">
  <div class="sellix-delivery-product-title" style="margin-top: -2rem">
    {{ 'shop.delivery.subscription.title' | t }}
  </div>
  <div class="sellix-delivery-product-item">

    {% if invoice.subtype %}
      <div class="sellix-text">
        <p class="sellix-delivery-product-item-subtype">
          <strong>{{ invoice.subtype | lower }}</strong> {{ 'shop.delivery.subscription.sentToEmail.0' | t }}
          <a href="mailto:notice@orders.sellix.io" target="_blank">notice@orders.sellix.io</a> {{ 'shop.delivery.subscription.sentToEmail.1' | t }}
        </p>
      </div>
    {% endif %}

    <div class="sellix-text">
      {% if invoice.subtype %}
        {% render_snippet 'Alert',
          show=true,
          small=true,
          blue=true,
          title=('shop.delivery.subscription.pleaseNote' | t),
          text=('shop.delivery.subscription.note' | t)
        %}
      {% else %}
        <p>
          {{ 'shop.delivery.subscription.return' | t }}
        </p>
      {% endif %}
    </div>

    <div class="sellix-delivery-product-buttons">
      <a href="contact" class="w-50 mr-3 medium primary">
        <button type="button" class="w-100 medium primary">
          {{ 'shop.delivery.subscription.contactMerchant' | t }}
        </button>
      </a>
      <button
        type="button"
        class="w-50 medium primary"
        onclick="window.sellixHelper.redirectToSubLink('', '/customer/auth')"
      >
        {{ 'shop.delivery.subscription.goToPortal' | t }}
      </button>
    </div>
  </div>
</div>
