{% set id = uid() %}
{% set created_at = args.feedback.created_at * 1000 %}
{% set message = args.feedback.message %}
{% set reply = args.feedback.reply %}
{% set score = args.feedback.score %}
{% set color = 'var(--darkFontColor)' %}
{% set cardsProps = themeProperties.cards %}
{% set properties = args.properties %}

{% set containerBackgroundColor = safe_get(properties.card_background_color, cardsProps.feedback_card_background_color) %}
{% set containerShowBorder = safe_get(properties.card_show_border, cardsProps.feedback_card_show_border) %}
{% set containerBorderRadius = safe_get(properties.card_border_radius, cardsProps.feedback_card_border_radius) %}
{% set containerShadow = safe_get(properties.card_shadow, cardsProps.feedback_card_shadow) %}
{% set containerPaddingHoriz = safe_get(properties.card_padding_horiz, cardsProps.feedback_card_padding_horiz) %}
{% set containerPaddingVert = safe_get(properties.card_padding_vert, cardsProps.feedback_card_padding_vert) %}

{% set messageColor = safe_get(properties.message_font_color, cardsProps.feedback_card_message_text_font_color) %}
{% set messageFontSize = safe_get(properties.message_font_size, cardsProps.feedback_card_message_text_font_size) %}
{% set messageFontWeight = safe_get(properties.message_font_weight, cardsProps.feedback_card_message_text_font_weight) %}
{% set messageLineHeight = safe_get(properties.message_line_height, cardsProps.feedback_card_message_text_line_height) %}
{% set messageAlign = safe_get(properties.message_align, cardsProps.feedback_card_message_text_align) %}

{% set replyBgColor = safe_get(properties.reply_background_color, cardsProps.feedback_card_reply_background_color) %}
{% set replyShowBorder = safe_get(properties.reply_show_border, cardsProps.feedback_card_reply_show_border) %}
{% set replyColor = safe_get(properties.reply_font_color, cardsProps.feedback_card_reply_text_font_color) %}
{% set replyFontSize = safe_get(properties.reply_font_size, cardsProps.feedback_card_reply_text_font_size) %}
{% set replyFontWeight = safe_get(properties.reply_font_weight, cardsProps.feedback_card_reply_text_font_weight) %}
{% set replyLineHeight = safe_get(properties.reply_line_height, cardsProps.feedback_card_reply_text_line_height) %}
{% set replyAlign = safe_get(properties.reply_align, cardsProps.feedback_card_reply_text_align) %}

{% set globalClass = 'snippet-feedback-card' %}
{% set localClass = id %}

<style>
  .{{ localClass }} {
    background: {{ containerBackgroundColor | get_color }};
    border-radius: {{ containerBorderRadius }}px;
    box-shadow: {{ containerShadow }};
    border: {{ "1px solid var(--borderColor)" if containerShowBorder else "none" }};
    padding: {{ containerPaddingVert }}px {{ containerPaddingHoriz }}px;
  }

  .{{ localClass }}__message {
    color: {{ messageColor | get_color }};
    font-size: {{ messageFontSize }}px;
    font-weight: {{ messageFontWeight }};
    line-height: {{ messageLineHeight }}px;
  }

  .{{ localClass }}__reply {
    background: {{ replyBgColor | get_color }};
    border: {{ "1px solid var(--borderColor)" if replyShowBorder else "none" }};
    color: {{ replyColor | get_color }};
    font-size: {{ replyFontSize }}px;
    font-weight: {{ replyFontWeight }};
    line-height: {{ replyLineHeight }}px;
  }

  .{{ localClass }}__header {
  }

  .{{ localClass }}__verification {
  }
  .{{ localClass }}__rating {
  }
</style>

<div class="{{ globalClass }} {{ localClass }}">
  <div class="{{ globalClass }}__header {{ localClass }}__header">
    <div class="{{ globalClass }}__header-date {{ localClass }}__header-date">
      {{['shared.months', created_at | date_format('MMMM')] | join('.') | lower | t()}}
      {{created_at | date_format('DD')}},
      {{created_at | date_format('YYYY')}}
    </div>

    {% render_snippet 'Shared: Rating star', rating=score, size=12, color=color %}
  </div>

  <div class="{{ globalClass }}__review {{ localClass }}__review">
    <div class="{{ globalClass }}__message {{ localClass }}__message text-align-{{ messageAlign }}">
      {{message}}
    </div>

    {% if reply %}
      <div class="{{ globalClass }}__reply {{ localClass }}__reply text-align-{{ replyAlign }}">
        {{reply}}
      </div>
    {% endif %}
  </div>

  <div class="{{ globalClass }}__verification {{ localClass }}__verification">
    <span class="{{ globalClass }}__rating {{ localClass }}__rating">
      {% render_snippet 'Icons: Check circular' %}
    </span>

    <span>{{ 'shop.feedback.card.verifiedPurchase' | t }}</span>
  </div>
</div>