<style>
.sellix-product-total.mt-0.mb-0.pb-2{
  display: none;
}
</style>

{% set shop = global.common.shopInfo.shop %}

{% for section in settings.section_order %}
  {% render_section section %}
{% endfor %}
{% render_snippet 'Product: TOS Modal' %}
{% render_snippet 'Product: Warranty modal' %}


<script type='application/javascript'>
  $(document).ready(() => {
    window.SellixAnalyticsManager.sendViewItem();
  })
</script>
