{% set id = uid() %}
{% set shopInfo = global.common.shopInfo %}
{% set shop = shopInfo.shop %}
{% set product = args.product %}
{% set properties = args.properties %}
{% set hideStockCounter = safe_get(themeProperties.common.hide_stock_counter, false) %}
{% set showStockInfo = safe_get(themeProperties.common.show_stock_info, false) %}

{% set rating = (product.average_score if product.average_score else 0) | float %}
{% set productStock = product.stock %}
{% set onHold = product.on_hold | int %}
{% set isRatingGold = rating > 4 %}

{% set isSubscription = product.type == 'SUBSCRIPTION' %}
{% set isLicense = product.licensing_enabled %}
{% set isFree = product.price_display | float === 0 %}
{% set isDisabled = product.stock | int === 0 or onHold %}
{% set isPayWhatYouWant = product.pay_what_you_want %}
{% set isPlaceholder = not product.cloudflare_image_id %}
{% set image = cdn_link(product.cloudflare_image_id, 'shopItem') %}

{% set titleFontColor = safe_get(properties.bundle_product_title_font_color, 'dark_font_color') %}
{% set titleFontSize = safe_get(properties.bundle_product_title_font_size, 14) %}
{% set titleFontWeight = safe_get(properties.bundle_product_title_font_weight, 500) %}
{% set titleLineHeight = safe_get(properties.bundle_product_title_line_height, 20) %}

{% set priceFontColor = safe_get(properties.bundle_product_price_font_color, 'dark_font_color') %}
{% set priceFontSize = safe_get(properties.bundle_product_price_font_size, 14) %}
{% set priceFontWeight = safe_get(properties.bundle_product_price_font_weight, 500) %}
{% set priceLineHeight = safe_get(properties.bundle_product_price_line_height, 20) %}

{% set initialPriceFontColor = safe_get(properties.bundle_product_initial_price_font_color, 'dark_font_color') %}
{% set initialPriceFontSize = safe_get(properties.bundle_product_initial_price_font_size, 14) %}
{% set initialPriceFontWeight = safe_get(properties.bundle_product_initial_price_font_weight, 500) %}
{% set initialPriceLineHeight = safe_get(properties.bundle_product_initial_price_line_height, 20) %}

{% set priceProperties = {
  'price_font_color': priceFontColor,
  'price_font_size': priceFontSize,
  'price_font_weight': priceFontWeight,
  'price_line_height': priceLineHeight,
  'initial_price_font_color': initialPriceFontColor,
  'initial_price_font_size': initialPriceFontSize,
  'initial_price_font_weight': initialPriceFontWeight,
  'initial_price_line_height': initialPriceLineHeight
} %}

{% set globalClass = ['snippet-product-bundle-product'] %}
{% set localClass = id %}

<style>
  .{{ localClass }}__title {
    color: {{ titleFontColor | get_color }};
    font-size: {{ titleFontSize }}px;
    font-weight: {{ titleFontWeight }};
    line-height: {{ titleLineHeight }}px;
  }
</style>

<div class="{{ globalClass}} {{ localClass}} {{'is-disabled' if isDisabled}} {{'no-cart' if args.cartEnabled}}">
  <a class="{{ globalClass }}__description {{ localClass }}__description" href='/product/{{ product.slug or product.uniqid }}' target="_blank">
    <div class="{{ globalClass }}__image {{ localClass }}__image {{'image-placeholder' if isPlaceholder}}">
      {% if isPlaceholder %}
        {% render_snippet 'Product: Placeholder icon', product=product %}
      {% else %}
        <img src="{{image}}" alt="{{product.title}}" loading="lazy" />
      {% endif %}
    </div>

    <div class="{{ globalClass }}__content">
      <div class="{{ globalClass }}__title {{ localClass }}__title">
        <span class="{{ globalClass }}__product-name">
          {{product.title}}
        </span>

        {% if rating %}
          <span class="{{ globalClass }}__star {{'text-gold' if isRatingGold else ''}}">
              <span class="mr-1 position-relative {{'text-gold' if isRatingGold else ''}}">
                  <i class="fas fa-star" style="font-size: 11px;"></i>
              </span>
              <span>{{5 if rating === 5 else (rating | float | round(2))}}</span>
          </span>
        {% endif %}
      </div>

      {% if onHold %}
        <span>
          {% render_snippet 'Tag', tag=('shop.shared.titles.onHold' | t) %}
        </span>
      {% else %}
        <div class="{{ globalClass }}__info {{ localClass }}__info">
          {% if isFree %}
            {{ 'shop.shared.titles.free' | t }}
          {% else %}
            {% render_snippet
              'Shared: Price',
              currency=product.currency,
              price=product.min_price,
              discount=product.price_discount,
              show_initial_price='last',
              properties=priceProperties,
              show_image=true
            %}
          {% endif %}

          {% if showStockInfo %}
            <span class="dot">  ●  </span>

            {% render_snippet
              'Product: Stock',
              stock=productStock,
              hide_stock_counter=hideStockCounter,
              reverse=true
            %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </a>

  <div class="{{ globalClass }}__buttons {{ localClass }}__buttons unselectable {{'with-cart' if args.cartEnabled else ''}}">
    {% if not isDisabled and not isSubscription and not isLicense and not isPayWhatYouWant %}
      <div class="{{ globalClass }}__cart-button {{ localClass }}__cart-button">
        {% render_snippet
          'Cart button 1',
          product=product,
          is_static=true,
          possible_cart_effects=['open_cart_modal'],
          show_plus_minus=false
        %}
      </div>
    {% endif %}
    {% if isDisabled and args.cartEnabled %}
      <div></div>
    {% endif %}
    {% if args.skipBuyButton %}
      <div></div>
    {% else %}
      <a href="{{'javascript:void(0)' if isDisabled else ['product/', product.slug or product.uniqid] | join}}" style="color: white;">
        <div class="{{'disabled' if isDisabled else ''}} buy-button">
          {% if isFree %}
            {{ 'shop.shared.titles.getIt' | t }}
          {% else %}
            {{ 'shop.shared.titles.buy' | t }}
          {% endif %}
        </div>
      </a>
    {% endif %}
  </div>
</div>