{% set id = uid() %}
{% set shop = global.common.shopInfo.shop %}
{% set colors = themeProperties.current_colors %}
{% set properties = args.properties %}

{% set globalClass = ['snippet-invoice-checkout'] %}
{% set localClass = id %}

{% render_snippet 'App paypal' %}

<div class="{{ globalClass }} {{ localClass }}">
  <div class="{{ globalClass }}__container {{ localClass }}__container"></div>
</div>

{% if global.request.type == 'invoice' %}
  {% set invoiceInfo = global.common.invoiceInfo %}

  <script type='application/javascript'>
    $(document).ready(async function () {
      const shopInfo = SellixContext.getShopInfo();
      const theme = SellixContext.getTheme();
      const component = new SellixInvoiceCheckoutComponent({
        selector: '.{{ localClass }}__container',
        theme: theme,
        shop: shopInfo.shop,
        invoiceId: '{{ invoiceInfo.invoice.uniqid }}',
        invoice: SellixContext.getInvoiceInfo().invoice,
        options: {}
      });
      setTimeout(function() {
        component.render();
      }, 0);
    });
  </script>

  {% elif global.request.type == 'product_subscription' %}
  {% set productSubscriptionInfo = global.common.productSubscriptionInfo %}

  <script type='application/javascript'>
    $(document).ready(async function () {
      const shopInfo = SellixContext.getShopInfo();
      const theme = SellixContext.getTheme();
      const component = new SellixProductSubscriptionCheckoutComponent({
        selector: '.{{ localClass }}__container',
        theme: theme,
        shop: shopInfo.shop,
        productSubscriptionInfo: SellixContext.getProductSubscriptionInfo(),
        options: {}
      });
      setTimeout(function() {
        component.render();
      }, 0);
    });
  </script>

{% endif %}

{% set onChangeCodeInput = ['onChangeCodeInput_', id] | join %}
{% set renderCodeInputCallback = ['renderCallback_', id] | join %}

<div class="{{ localClass }}__container">
  {% render_snippet 'Login modal',
    globalClass='block-customer-login',
    onChangeCodeInput=onChangeCodeInput,
    renderCodeInputCallback=renderCodeInputCallback
  %}
</div>

<script type="application/javascript">
  let component{{ id }};
  function {{ onChangeCodeInput }}(val) {
    if (component{{ id }}) {
      component{{ id }}.onCodeChange(val);
    }
  }
  $(document).ready(function() {
    const { shopInfo } = window.SellixContext.get('common');
    component{{ id }} = new SellixCustomerLoginComponent(
      '.{{ localClass }}__container',
      {{ renderCodeInputCallback }},
      shopInfo.shop,
    );
  });
</script>
